<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZEmailSmsSendBundle.dao.PsTzDxyjfsrwTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" >
    <id column="TZ_EML_SMS_TASK_ID" property="tzEmlSmsTaskId" jdbcType="VARCHAR" />
    <result column="TZ_TASK_LX" property="tzTaskLx" jdbcType="VARCHAR" />
    <result column="TZ_BATCH_BZ" property="tzBatchBz" jdbcType="VARCHAR" />
    <result column="TZ_TMPL_ID" property="tzTmplId" jdbcType="VARCHAR" />
    <result column="TZ_EMLSERV_ID" property="tzEmlservId" jdbcType="VARCHAR" />
    <result column="TZ_SMS_SERV_ID" property="tzSmsServId" jdbcType="VARCHAR" />
    <result column="TZ_WEBMAL_FLAG" property="tzWebmalFlag" jdbcType="VARCHAR" />
    <result column="TZ_DYNAMIC_FLAG" property="tzDynamicFlag" jdbcType="VARCHAR" />
    <result column="TZ_RWTJ_DT" property="tzRwtjDt" jdbcType="TIMESTAMP" />
    <result column="TZ_RWKS_DT" property="tzRwksDt" jdbcType="TIMESTAMP" />
    <result column="TZ_RWJS_DT" property="tzRwjsDt" jdbcType="TIMESTAMP" />
    <result column="TZ_RWZX_DT" property="tzRwzxDt" jdbcType="TIMESTAMP" />
    <result column="TZ_RWZX_ZT" property="tzRwzxZt" jdbcType="VARCHAR" />
    <result column="TZ_AUDIENCE_ID" property="tzAudienceId" jdbcType="VARCHAR" />
    <result column="TZ_SYYX_LX" property="tzSyyxLx" jdbcType="VARCHAR" />
    <result column="TZ_SYSJ_LX" property="tzSysjLx" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="TZ_EMAIL_SENDER" property="tzEmailSender" jdbcType="VARCHAR" />
    <result column="TZ_SENDER_ALIAS" property="tzSenderAlias" jdbcType="VARCHAR" />
    <result column="TZ_EML_IF_PRT" property="tzEmlIfPrt" jdbcType="VARCHAR" />
    <result column="TZ_MLSM_QFPC_ID" property="tzMlsmQfpcId" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" extends="BaseResultMap" >
    <result column="TZ_MAL_CONTENT" property="tzMalContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_EML_SMS_TASK_ID, TZ_TASK_LX, TZ_BATCH_BZ, TZ_TMPL_ID, TZ_EMLSERV_ID, TZ_SMS_SERV_ID, 
    TZ_WEBMAL_FLAG, TZ_DYNAMIC_FLAG, TZ_RWTJ_DT, TZ_RWKS_DT, TZ_RWJS_DT, TZ_RWZX_DT, 
    TZ_RWZX_ZT, TZ_AUDIENCE_ID, TZ_SYYX_LX, TZ_SYSJ_LX, TZ_JG_ID, TZ_EMAIL_SENDER, TZ_SENDER_ALIAS, 
    TZ_EML_IF_PRT, TZ_MLSM_QFPC_ID, ROW_ADDED_OPRID, ROW_ADDED_DTTM
  </sql>
  <sql id="Blob_Column_List" >
    TZ_MAL_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_DXYJFSRW_TBL
    where TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_DXYJFSRW_TBL
    where TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" >
    insert into PS_TZ_DXYJFSRW_TBL (TZ_EML_SMS_TASK_ID, TZ_TASK_LX, TZ_BATCH_BZ, 
      TZ_TMPL_ID, TZ_EMLSERV_ID, TZ_SMS_SERV_ID, 
      TZ_WEBMAL_FLAG, TZ_DYNAMIC_FLAG, TZ_RWTJ_DT, 
      TZ_RWKS_DT, TZ_RWJS_DT, TZ_RWZX_DT, 
      TZ_RWZX_ZT, TZ_AUDIENCE_ID, TZ_SYYX_LX, 
      TZ_SYSJ_LX, TZ_JG_ID, TZ_EMAIL_SENDER, 
      TZ_SENDER_ALIAS, TZ_EML_IF_PRT, TZ_MLSM_QFPC_ID, 
      ROW_ADDED_OPRID, ROW_ADDED_DTTM, TZ_MAL_CONTENT
      )
    values (#{tzEmlSmsTaskId,jdbcType=VARCHAR}, #{tzTaskLx,jdbcType=VARCHAR}, #{tzBatchBz,jdbcType=VARCHAR}, 
      #{tzTmplId,jdbcType=VARCHAR}, #{tzEmlservId,jdbcType=VARCHAR}, #{tzSmsServId,jdbcType=VARCHAR}, 
      #{tzWebmalFlag,jdbcType=VARCHAR}, #{tzDynamicFlag,jdbcType=VARCHAR}, #{tzRwtjDt,jdbcType=TIMESTAMP}, 
      #{tzRwksDt,jdbcType=TIMESTAMP}, #{tzRwjsDt,jdbcType=TIMESTAMP}, #{tzRwzxDt,jdbcType=TIMESTAMP}, 
      #{tzRwzxZt,jdbcType=VARCHAR}, #{tzAudienceId,jdbcType=VARCHAR}, #{tzSyyxLx,jdbcType=VARCHAR}, 
      #{tzSysjLx,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, #{tzEmailSender,jdbcType=VARCHAR}, 
      #{tzSenderAlias,jdbcType=VARCHAR}, #{tzEmlIfPrt,jdbcType=VARCHAR}, #{tzMlsmQfpcId,jdbcType=VARCHAR}, 
      #{rowAddedOprid,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, #{tzMalContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" >
    insert into PS_TZ_DXYJFSRW_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzEmlSmsTaskId != null" >
        TZ_EML_SMS_TASK_ID,
      </if>
      <if test="tzTaskLx != null" >
        TZ_TASK_LX,
      </if>
      <if test="tzBatchBz != null" >
        TZ_BATCH_BZ,
      </if>
      <if test="tzTmplId != null" >
        TZ_TMPL_ID,
      </if>
      <if test="tzEmlservId != null" >
        TZ_EMLSERV_ID,
      </if>
      <if test="tzSmsServId != null" >
        TZ_SMS_SERV_ID,
      </if>
      <if test="tzWebmalFlag != null" >
        TZ_WEBMAL_FLAG,
      </if>
      <if test="tzDynamicFlag != null" >
        TZ_DYNAMIC_FLAG,
      </if>
      <if test="tzRwtjDt != null" >
        TZ_RWTJ_DT,
      </if>
      <if test="tzRwksDt != null" >
        TZ_RWKS_DT,
      </if>
      <if test="tzRwjsDt != null" >
        TZ_RWJS_DT,
      </if>
      <if test="tzRwzxDt != null" >
        TZ_RWZX_DT,
      </if>
      <if test="tzRwzxZt != null" >
        TZ_RWZX_ZT,
      </if>
      <if test="tzAudienceId != null" >
        TZ_AUDIENCE_ID,
      </if>
      <if test="tzSyyxLx != null" >
        TZ_SYYX_LX,
      </if>
      <if test="tzSysjLx != null" >
        TZ_SYSJ_LX,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzEmailSender != null" >
        TZ_EMAIL_SENDER,
      </if>
      <if test="tzSenderAlias != null" >
        TZ_SENDER_ALIAS,
      </if>
      <if test="tzEmlIfPrt != null" >
        TZ_EML_IF_PRT,
      </if>
      <if test="tzMlsmQfpcId != null" >
        TZ_MLSM_QFPC_ID,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="tzMalContent != null" >
        TZ_MAL_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzEmlSmsTaskId != null" >
        #{tzEmlSmsTaskId,jdbcType=VARCHAR},
      </if>
      <if test="tzTaskLx != null" >
        #{tzTaskLx,jdbcType=VARCHAR},
      </if>
      <if test="tzBatchBz != null" >
        #{tzBatchBz,jdbcType=VARCHAR},
      </if>
      <if test="tzTmplId != null" >
        #{tzTmplId,jdbcType=VARCHAR},
      </if>
      <if test="tzEmlservId != null" >
        #{tzEmlservId,jdbcType=VARCHAR},
      </if>
      <if test="tzSmsServId != null" >
        #{tzSmsServId,jdbcType=VARCHAR},
      </if>
      <if test="tzWebmalFlag != null" >
        #{tzWebmalFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzDynamicFlag != null" >
        #{tzDynamicFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzRwtjDt != null" >
        #{tzRwtjDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwksDt != null" >
        #{tzRwksDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwjsDt != null" >
        #{tzRwjsDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwzxDt != null" >
        #{tzRwzxDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwzxZt != null" >
        #{tzRwzxZt,jdbcType=VARCHAR},
      </if>
      <if test="tzAudienceId != null" >
        #{tzAudienceId,jdbcType=VARCHAR},
      </if>
      <if test="tzSyyxLx != null" >
        #{tzSyyxLx,jdbcType=VARCHAR},
      </if>
      <if test="tzSysjLx != null" >
        #{tzSysjLx,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzEmailSender != null" >
        #{tzEmailSender,jdbcType=VARCHAR},
      </if>
      <if test="tzSenderAlias != null" >
        #{tzSenderAlias,jdbcType=VARCHAR},
      </if>
      <if test="tzEmlIfPrt != null" >
        #{tzEmlIfPrt,jdbcType=VARCHAR},
      </if>
      <if test="tzMlsmQfpcId != null" >
        #{tzMlsmQfpcId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzMalContent != null" >
        #{tzMalContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" >
    update PS_TZ_DXYJFSRW_TBL
    <set >
      <if test="tzTaskLx != null" >
        TZ_TASK_LX = #{tzTaskLx,jdbcType=VARCHAR},
      </if>
      <if test="tzBatchBz != null" >
        TZ_BATCH_BZ = #{tzBatchBz,jdbcType=VARCHAR},
      </if>
      <if test="tzTmplId != null" >
        TZ_TMPL_ID = #{tzTmplId,jdbcType=VARCHAR},
      </if>
      <if test="tzEmlservId != null" >
        TZ_EMLSERV_ID = #{tzEmlservId,jdbcType=VARCHAR},
      </if>
      <if test="tzSmsServId != null" >
        TZ_SMS_SERV_ID = #{tzSmsServId,jdbcType=VARCHAR},
      </if>
      <if test="tzWebmalFlag != null" >
        TZ_WEBMAL_FLAG = #{tzWebmalFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzDynamicFlag != null" >
        TZ_DYNAMIC_FLAG = #{tzDynamicFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzRwtjDt != null" >
        TZ_RWTJ_DT = #{tzRwtjDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwksDt != null" >
        TZ_RWKS_DT = #{tzRwksDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwjsDt != null" >
        TZ_RWJS_DT = #{tzRwjsDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwzxDt != null" >
        TZ_RWZX_DT = #{tzRwzxDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzRwzxZt != null" >
        TZ_RWZX_ZT = #{tzRwzxZt,jdbcType=VARCHAR},
      </if>
      <if test="tzAudienceId != null" >
        TZ_AUDIENCE_ID = #{tzAudienceId,jdbcType=VARCHAR},
      </if>
      <if test="tzSyyxLx != null" >
        TZ_SYYX_LX = #{tzSyyxLx,jdbcType=VARCHAR},
      </if>
      <if test="tzSysjLx != null" >
        TZ_SYSJ_LX = #{tzSysjLx,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzEmailSender != null" >
        TZ_EMAIL_SENDER = #{tzEmailSender,jdbcType=VARCHAR},
      </if>
      <if test="tzSenderAlias != null" >
        TZ_SENDER_ALIAS = #{tzSenderAlias,jdbcType=VARCHAR},
      </if>
      <if test="tzEmlIfPrt != null" >
        TZ_EML_IF_PRT = #{tzEmlIfPrt,jdbcType=VARCHAR},
      </if>
      <if test="tzMlsmQfpcId != null" >
        TZ_MLSM_QFPC_ID = #{tzMlsmQfpcId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzMalContent != null" >
        TZ_MAL_CONTENT = #{tzMalContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" >
    update PS_TZ_DXYJFSRW_TBL
    set TZ_TASK_LX = #{tzTaskLx,jdbcType=VARCHAR},
      TZ_BATCH_BZ = #{tzBatchBz,jdbcType=VARCHAR},
      TZ_TMPL_ID = #{tzTmplId,jdbcType=VARCHAR},
      TZ_EMLSERV_ID = #{tzEmlservId,jdbcType=VARCHAR},
      TZ_SMS_SERV_ID = #{tzSmsServId,jdbcType=VARCHAR},
      TZ_WEBMAL_FLAG = #{tzWebmalFlag,jdbcType=VARCHAR},
      TZ_DYNAMIC_FLAG = #{tzDynamicFlag,jdbcType=VARCHAR},
      TZ_RWTJ_DT = #{tzRwtjDt,jdbcType=TIMESTAMP},
      TZ_RWKS_DT = #{tzRwksDt,jdbcType=TIMESTAMP},
      TZ_RWJS_DT = #{tzRwjsDt,jdbcType=TIMESTAMP},
      TZ_RWZX_DT = #{tzRwzxDt,jdbcType=TIMESTAMP},
      TZ_RWZX_ZT = #{tzRwzxZt,jdbcType=VARCHAR},
      TZ_AUDIENCE_ID = #{tzAudienceId,jdbcType=VARCHAR},
      TZ_SYYX_LX = #{tzSyyxLx,jdbcType=VARCHAR},
      TZ_SYSJ_LX = #{tzSysjLx,jdbcType=VARCHAR},
      TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_EMAIL_SENDER = #{tzEmailSender,jdbcType=VARCHAR},
      TZ_SENDER_ALIAS = #{tzSenderAlias,jdbcType=VARCHAR},
      TZ_EML_IF_PRT = #{tzEmlIfPrt,jdbcType=VARCHAR},
      TZ_MLSM_QFPC_ID = #{tzMlsmQfpcId,jdbcType=VARCHAR},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      TZ_MAL_CONTENT = #{tzMalContent,jdbcType=LONGVARCHAR}
    where TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxyjfsrwTbl" >
    update PS_TZ_DXYJFSRW_TBL
    set TZ_TASK_LX = #{tzTaskLx,jdbcType=VARCHAR},
      TZ_BATCH_BZ = #{tzBatchBz,jdbcType=VARCHAR},
      TZ_TMPL_ID = #{tzTmplId,jdbcType=VARCHAR},
      TZ_EMLSERV_ID = #{tzEmlservId,jdbcType=VARCHAR},
      TZ_SMS_SERV_ID = #{tzSmsServId,jdbcType=VARCHAR},
      TZ_WEBMAL_FLAG = #{tzWebmalFlag,jdbcType=VARCHAR},
      TZ_DYNAMIC_FLAG = #{tzDynamicFlag,jdbcType=VARCHAR},
      TZ_RWTJ_DT = #{tzRwtjDt,jdbcType=TIMESTAMP},
      TZ_RWKS_DT = #{tzRwksDt,jdbcType=TIMESTAMP},
      TZ_RWJS_DT = #{tzRwjsDt,jdbcType=TIMESTAMP},
      TZ_RWZX_DT = #{tzRwzxDt,jdbcType=TIMESTAMP},
      TZ_RWZX_ZT = #{tzRwzxZt,jdbcType=VARCHAR},
      TZ_AUDIENCE_ID = #{tzAudienceId,jdbcType=VARCHAR},
      TZ_SYYX_LX = #{tzSyyxLx,jdbcType=VARCHAR},
      TZ_SYSJ_LX = #{tzSysjLx,jdbcType=VARCHAR},
      TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_EMAIL_SENDER = #{tzEmailSender,jdbcType=VARCHAR},
      TZ_SENDER_ALIAS = #{tzSenderAlias,jdbcType=VARCHAR},
      TZ_EML_IF_PRT = #{tzEmlIfPrt,jdbcType=VARCHAR},
      TZ_MLSM_QFPC_ID = #{tzMlsmQfpcId,jdbcType=VARCHAR},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP}
    where TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR}
  </update>
</mapper>