<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZEmailSmsSendBundle.dao.PsTzDxzwlshiTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" >
    <id column="TZ_RWSL_ID" property="tzRwslId" jdbcType="VARCHAR" />
    <result column="TZ_YJFS_RQ" property="tzYjfsRq" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" extends="BaseResultMap" >
    <result column="TZ_DX_ZHWEN" property="tzDxZhwen" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_RWSL_ID, TZ_YJFS_RQ
  </sql>
  <sql id="Blob_Column_List" >
    TZ_DX_ZHWEN
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_DXZWLSHI_TBL
    where TZ_RWSL_ID = #{tzRwslId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_DXZWLSHI_TBL
    where TZ_RWSL_ID = #{tzRwslId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" >
    insert into PS_TZ_DXZWLSHI_TBL (TZ_RWSL_ID, TZ_YJFS_RQ, TZ_DX_ZHWEN
      )
    values (#{tzRwslId,jdbcType=VARCHAR}, #{tzYjfsRq,jdbcType=TIMESTAMP}, #{tzDxZhwen,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" >
    insert into PS_TZ_DXZWLSHI_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzRwslId != null" >
        TZ_RWSL_ID,
      </if>
      <if test="tzYjfsRq != null" >
        TZ_YJFS_RQ,
      </if>
      <if test="tzDxZhwen != null" >
        TZ_DX_ZHWEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzRwslId != null" >
        #{tzRwslId,jdbcType=VARCHAR},
      </if>
      <if test="tzYjfsRq != null" >
        #{tzYjfsRq,jdbcType=TIMESTAMP},
      </if>
      <if test="tzDxZhwen != null" >
        #{tzDxZhwen,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" >
    update PS_TZ_DXZWLSHI_TBL
    <set >
      <if test="tzYjfsRq != null" >
        TZ_YJFS_RQ = #{tzYjfsRq,jdbcType=TIMESTAMP},
      </if>
      <if test="tzDxZhwen != null" >
        TZ_DX_ZHWEN = #{tzDxZhwen,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_RWSL_ID = #{tzRwslId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" >
    update PS_TZ_DXZWLSHI_TBL
    set TZ_YJFS_RQ = #{tzYjfsRq,jdbcType=TIMESTAMP},
      TZ_DX_ZHWEN = #{tzDxZhwen,jdbcType=LONGVARCHAR}
    where TZ_RWSL_ID = #{tzRwslId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzDxzwlshiTbl" >
    update PS_TZ_DXZWLSHI_TBL
    set TZ_YJFS_RQ = #{tzYjfsRq,jdbcType=TIMESTAMP}
    where TZ_RWSL_ID = #{tzRwslId,jdbcType=VARCHAR}
  </update>
</mapper>