<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZEmailSmsSendBundle.dao.PsTzRwzxshilTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzRwzxshilTbl" >
    <id column="TZ_ZD_BH" property="tzZdBh" jdbcType="VARCHAR" />
    <result column="TZ_JCSL_ID" property="tzJcslId" jdbcType="VARCHAR" />
    <result column="TZ_JCSL_ZT" property="tzJcslZt" jdbcType="VARCHAR" />
    <result column="TZ_EML_SMS_TASK_ID" property="tzEmlSmsTaskId" jdbcType="VARCHAR" />
    <result column="TZ_SLTJ_DT" property="tzSltjDt" jdbcType="TIMESTAMP" />
    <result column="TZ_SLKS_DT" property="tzSlksDt" jdbcType="TIMESTAMP" />
    <result column="TZ_SLJS_DT" property="tzSljsDt" jdbcType="TIMESTAMP" />
    <result column="TZ_SUCC_NUM" property="tzSuccNum" jdbcType="INTEGER" />
    <result column="TZ_FAIL_NUM" property="tzFailNum" jdbcType="INTEGER" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_ZD_BH, TZ_JCSL_ID, TZ_JCSL_ZT, TZ_EML_SMS_TASK_ID, TZ_SLTJ_DT, TZ_SLKS_DT, TZ_SLJS_DT, 
    TZ_SUCC_NUM, TZ_FAIL_NUM, TZ_JG_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_RWZXSHIL_TBL
    where TZ_ZD_BH = #{tzZdBh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_RWZXSHIL_TBL
    where TZ_ZD_BH = #{tzZdBh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzRwzxshilTbl" >
    insert into PS_TZ_RWZXSHIL_TBL (TZ_ZD_BH, TZ_JCSL_ID, TZ_JCSL_ZT, 
      TZ_EML_SMS_TASK_ID, TZ_SLTJ_DT, TZ_SLKS_DT, 
      TZ_SLJS_DT, TZ_SUCC_NUM, TZ_FAIL_NUM, 
      TZ_JG_ID)
    values (#{tzZdBh,jdbcType=VARCHAR}, #{tzJcslId,jdbcType=VARCHAR}, #{tzJcslZt,jdbcType=VARCHAR}, 
      #{tzEmlSmsTaskId,jdbcType=VARCHAR}, #{tzSltjDt,jdbcType=TIMESTAMP}, #{tzSlksDt,jdbcType=TIMESTAMP}, 
      #{tzSljsDt,jdbcType=TIMESTAMP}, #{tzSuccNum,jdbcType=INTEGER}, #{tzFailNum,jdbcType=INTEGER}, 
      #{tzJgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzRwzxshilTbl" >
    insert into PS_TZ_RWZXSHIL_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzZdBh != null" >
        TZ_ZD_BH,
      </if>
      <if test="tzJcslId != null" >
        TZ_JCSL_ID,
      </if>
      <if test="tzJcslZt != null" >
        TZ_JCSL_ZT,
      </if>
      <if test="tzEmlSmsTaskId != null" >
        TZ_EML_SMS_TASK_ID,
      </if>
      <if test="tzSltjDt != null" >
        TZ_SLTJ_DT,
      </if>
      <if test="tzSlksDt != null" >
        TZ_SLKS_DT,
      </if>
      <if test="tzSljsDt != null" >
        TZ_SLJS_DT,
      </if>
      <if test="tzSuccNum != null" >
        TZ_SUCC_NUM,
      </if>
      <if test="tzFailNum != null" >
        TZ_FAIL_NUM,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzZdBh != null" >
        #{tzZdBh,jdbcType=VARCHAR},
      </if>
      <if test="tzJcslId != null" >
        #{tzJcslId,jdbcType=VARCHAR},
      </if>
      <if test="tzJcslZt != null" >
        #{tzJcslZt,jdbcType=VARCHAR},
      </if>
      <if test="tzEmlSmsTaskId != null" >
        #{tzEmlSmsTaskId,jdbcType=VARCHAR},
      </if>
      <if test="tzSltjDt != null" >
        #{tzSltjDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSlksDt != null" >
        #{tzSlksDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSljsDt != null" >
        #{tzSljsDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSuccNum != null" >
        #{tzSuccNum,jdbcType=INTEGER},
      </if>
      <if test="tzFailNum != null" >
        #{tzFailNum,jdbcType=INTEGER},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzRwzxshilTbl" >
    update PS_TZ_RWZXSHIL_TBL
    <set >
      <if test="tzJcslId != null" >
        TZ_JCSL_ID = #{tzJcslId,jdbcType=VARCHAR},
      </if>
      <if test="tzJcslZt != null" >
        TZ_JCSL_ZT = #{tzJcslZt,jdbcType=VARCHAR},
      </if>
      <if test="tzEmlSmsTaskId != null" >
        TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR},
      </if>
      <if test="tzSltjDt != null" >
        TZ_SLTJ_DT = #{tzSltjDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSlksDt != null" >
        TZ_SLKS_DT = #{tzSlksDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSljsDt != null" >
        TZ_SLJS_DT = #{tzSljsDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSuccNum != null" >
        TZ_SUCC_NUM = #{tzSuccNum,jdbcType=INTEGER},
      </if>
      <if test="tzFailNum != null" >
        TZ_FAIL_NUM = #{tzFailNum,jdbcType=INTEGER},
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_ZD_BH = #{tzZdBh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZEmailSmsSendBundle.model.PsTzRwzxshilTbl" >
    update PS_TZ_RWZXSHIL_TBL
    set TZ_JCSL_ID = #{tzJcslId,jdbcType=VARCHAR},
      TZ_JCSL_ZT = #{tzJcslZt,jdbcType=VARCHAR},
      TZ_EML_SMS_TASK_ID = #{tzEmlSmsTaskId,jdbcType=VARCHAR},
      TZ_SLTJ_DT = #{tzSltjDt,jdbcType=TIMESTAMP},
      TZ_SLKS_DT = #{tzSlksDt,jdbcType=TIMESTAMP},
      TZ_SLJS_DT = #{tzSljsDt,jdbcType=TIMESTAMP},
      TZ_SUCC_NUM = #{tzSuccNum,jdbcType=INTEGER},
      TZ_FAIL_NUM = #{tzFailNum,jdbcType=INTEGER},
      TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
    where TZ_ZD_BH = #{tzZdBh,jdbcType=VARCHAR}
  </update>
</mapper>