<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZLeaguerAccountBundle.dao.PsTzRegUserTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZLeaguerAccountBundle.model.PsTzRegUserT" >
    <id column="OPRID" property="oprid" jdbcType="VARCHAR" />
    <result column="TZ_REALNAME" property="tzRealname" jdbcType="VARCHAR" />
    <result column="TZ_GENDER" property="tzGender" jdbcType="VARCHAR" />
    <result column="TZ_SKYPE" property="tzSkype" jdbcType="VARCHAR" />
    <result column="TZ_FIRST_NAME" property="tzFirstName" jdbcType="VARCHAR" />
    <result column="TZ_LAST_NAME" property="tzLastName" jdbcType="VARCHAR" />
    <result column="TZ_COMPANY_NAME" property="tzCompanyName" jdbcType="VARCHAR" />
    <result column="TZ_COMP_INDUSTRY" property="tzCompIndustry" jdbcType="VARCHAR" />
    <result column="TZ_DEPTMENT" property="tzDeptment" jdbcType="VARCHAR" />
    <result column="TZ_ZHIWU" property="tzZhiwu" jdbcType="VARCHAR" />
    <result column="TZ_COUNTRY" property="tzCountry" jdbcType="VARCHAR" />
    <result column="TZ_LEN_PROID" property="tzLenProid" jdbcType="VARCHAR" />
    <result column="TZ_LEN_CITY" property="tzLenCity" jdbcType="VARCHAR" />
    <result column="TZ_TIMEZONE" property="tzTimezone" jdbcType="VARCHAR" />
    <result column="NATIONAL_ID_TYPE" property="nationalIdType" jdbcType="VARCHAR" />
    <result column="NATIONAL_ID" property="nationalId" jdbcType="VARCHAR" />
    <result column="BIRTHDATE" property="birthdate" jdbcType="DATE" />
    <result column="TZ_SCH_COUNTRY" property="tzSchCountry" jdbcType="VARCHAR" />
    <result column="TZ_SCH_CNAME" property="tzSchCname" jdbcType="VARCHAR" />
    <result column="TZ_SPECIALTY" property="tzSpecialty" jdbcType="VARCHAR" />
    <result column="TZ_HIGHEST_EDU" property="tzHighestEdu" jdbcType="VARCHAR" />
    <result column="TZ_PRJ_ID" property="tzPrjId" jdbcType="VARCHAR" />
    <result column="TZ_MSSQH" property="tzMssqh" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT1" property="tzComment1" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT2" property="tzComment2" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT3" property="tzComment3" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT4" property="tzComment4" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT5" property="tzComment5" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT6" property="tzComment6" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT7" property="tzComment7" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT8" property="tzComment8" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT9" property="tzComment9" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT10" property="tzComment10" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT11" property="tzComment11" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT12" property="tzComment12" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT13" property="tzComment13" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT14" property="tzComment14" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT15" property="tzComment15" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT16" property="tzComment16" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT17" property="tzComment17" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT18" property="tzComment18" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT19" property="tzComment19" jdbcType="VARCHAR" />
    <result column="TZ_COMMENT20" property="tzComment20" jdbcType="VARCHAR" />
    <result column="TZ_SITEI_ID" property="tzSiteiId" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
    <result column="TZ_BLACK_NAME" property="tzBlackName" jdbcType="VARCHAR" />
    <result column="TZ_ALLOW_APPLY" property="tzAllowApply" jdbcType="VARCHAR" />
    <result column="TZ_BEIZHU" property="tzBeizhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPRID, TZ_REALNAME, TZ_GENDER, TZ_SKYPE, TZ_FIRST_NAME, TZ_LAST_NAME, TZ_COMPANY_NAME, 
    TZ_COMP_INDUSTRY, TZ_DEPTMENT, TZ_ZHIWU, TZ_COUNTRY, TZ_LEN_PROID, TZ_LEN_CITY, TZ_TIMEZONE, 
    NATIONAL_ID_TYPE, NATIONAL_ID, BIRTHDATE, TZ_SCH_COUNTRY, TZ_SCH_CNAME, TZ_SPECIALTY, 
    TZ_HIGHEST_EDU, TZ_PRJ_ID, TZ_MSSQH, TZ_COMMENT1, TZ_COMMENT2, TZ_COMMENT3, TZ_COMMENT4, 
    TZ_COMMENT5, TZ_COMMENT6, TZ_COMMENT7, TZ_COMMENT8, TZ_COMMENT9, TZ_COMMENT10, TZ_COMMENT11, 
    TZ_COMMENT12, TZ_COMMENT13, TZ_COMMENT14, TZ_COMMENT15, TZ_COMMENT16, TZ_COMMENT17, 
    TZ_COMMENT18, TZ_COMMENT19, TZ_COMMENT20, TZ_SITEI_ID, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
    ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM, TZ_BLACK_NAME, TZ_ALLOW_APPLY, 
    TZ_BEIZHU
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_REG_USER_T
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_REG_USER_T
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZLeaguerAccountBundle.model.PsTzRegUserT" >
    insert into PS_TZ_REG_USER_T (OPRID, TZ_REALNAME, TZ_GENDER, 
      TZ_SKYPE, TZ_FIRST_NAME, TZ_LAST_NAME, 
      TZ_COMPANY_NAME, TZ_COMP_INDUSTRY, TZ_DEPTMENT, 
      TZ_ZHIWU, TZ_COUNTRY, TZ_LEN_PROID, 
      TZ_LEN_CITY, TZ_TIMEZONE, NATIONAL_ID_TYPE, 
      NATIONAL_ID, BIRTHDATE, TZ_SCH_COUNTRY, 
      TZ_SCH_CNAME, TZ_SPECIALTY, TZ_HIGHEST_EDU, 
      TZ_PRJ_ID, TZ_MSSQH, TZ_COMMENT1, 
      TZ_COMMENT2, TZ_COMMENT3, TZ_COMMENT4, 
      TZ_COMMENT5, TZ_COMMENT6, TZ_COMMENT7, 
      TZ_COMMENT8, TZ_COMMENT9, TZ_COMMENT10, 
      TZ_COMMENT11, TZ_COMMENT12, TZ_COMMENT13, 
      TZ_COMMENT14, TZ_COMMENT15, TZ_COMMENT16, 
      TZ_COMMENT17, TZ_COMMENT18, TZ_COMMENT19, 
      TZ_COMMENT20, TZ_SITEI_ID, ROW_ADDED_DTTM, 
      ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, 
      SYNCID, SYNCDTTM, TZ_BLACK_NAME, 
      TZ_ALLOW_APPLY, TZ_BEIZHU)
    values (#{oprid,jdbcType=VARCHAR}, #{tzRealname,jdbcType=VARCHAR}, #{tzGender,jdbcType=VARCHAR}, 
      #{tzSkype,jdbcType=VARCHAR}, #{tzFirstName,jdbcType=VARCHAR}, #{tzLastName,jdbcType=VARCHAR}, 
      #{tzCompanyName,jdbcType=VARCHAR}, #{tzCompIndustry,jdbcType=VARCHAR}, #{tzDeptment,jdbcType=VARCHAR}, 
      #{tzZhiwu,jdbcType=VARCHAR}, #{tzCountry,jdbcType=VARCHAR}, #{tzLenProid,jdbcType=VARCHAR}, 
      #{tzLenCity,jdbcType=VARCHAR}, #{tzTimezone,jdbcType=VARCHAR}, #{nationalIdType,jdbcType=VARCHAR}, 
      #{nationalId,jdbcType=VARCHAR}, #{birthdate,jdbcType=DATE}, #{tzSchCountry,jdbcType=VARCHAR}, 
      #{tzSchCname,jdbcType=VARCHAR}, #{tzSpecialty,jdbcType=VARCHAR}, #{tzHighestEdu,jdbcType=VARCHAR}, 
      #{tzPrjId,jdbcType=VARCHAR}, #{tzMssqh,jdbcType=VARCHAR}, #{tzComment1,jdbcType=VARCHAR}, 
      #{tzComment2,jdbcType=VARCHAR}, #{tzComment3,jdbcType=VARCHAR}, #{tzComment4,jdbcType=VARCHAR}, 
      #{tzComment5,jdbcType=VARCHAR}, #{tzComment6,jdbcType=VARCHAR}, #{tzComment7,jdbcType=VARCHAR}, 
      #{tzComment8,jdbcType=VARCHAR}, #{tzComment9,jdbcType=VARCHAR}, #{tzComment10,jdbcType=VARCHAR}, 
      #{tzComment11,jdbcType=VARCHAR}, #{tzComment12,jdbcType=VARCHAR}, #{tzComment13,jdbcType=VARCHAR}, 
      #{tzComment14,jdbcType=VARCHAR}, #{tzComment15,jdbcType=VARCHAR}, #{tzComment16,jdbcType=VARCHAR}, 
      #{tzComment17,jdbcType=VARCHAR}, #{tzComment18,jdbcType=VARCHAR}, #{tzComment19,jdbcType=VARCHAR}, 
      #{tzComment20,jdbcType=VARCHAR}, #{tzSiteiId,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, 
      #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}, 
      #{syncid,jdbcType=INTEGER}, #{syncdttm,jdbcType=TIMESTAMP}, #{tzBlackName,jdbcType=VARCHAR}, 
      #{tzAllowApply,jdbcType=VARCHAR}, #{tzBeizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZLeaguerAccountBundle.model.PsTzRegUserT" >
    insert into PS_TZ_REG_USER_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oprid != null" >
        OPRID,
      </if>
      <if test="tzRealname != null" >
        TZ_REALNAME,
      </if>
      <if test="tzGender != null" >
        TZ_GENDER,
      </if>
      <if test="tzSkype != null" >
        TZ_SKYPE,
      </if>
      <if test="tzFirstName != null" >
        TZ_FIRST_NAME,
      </if>
      <if test="tzLastName != null" >
        TZ_LAST_NAME,
      </if>
      <if test="tzCompanyName != null" >
        TZ_COMPANY_NAME,
      </if>
      <if test="tzCompIndustry != null" >
        TZ_COMP_INDUSTRY,
      </if>
      <if test="tzDeptment != null" >
        TZ_DEPTMENT,
      </if>
      <if test="tzZhiwu != null" >
        TZ_ZHIWU,
      </if>
      <if test="tzCountry != null" >
        TZ_COUNTRY,
      </if>
      <if test="tzLenProid != null" >
        TZ_LEN_PROID,
      </if>
      <if test="tzLenCity != null" >
        TZ_LEN_CITY,
      </if>
      <if test="tzTimezone != null" >
        TZ_TIMEZONE,
      </if>
      <if test="nationalIdType != null" >
        NATIONAL_ID_TYPE,
      </if>
      <if test="nationalId != null" >
        NATIONAL_ID,
      </if>
      <if test="birthdate != null" >
        BIRTHDATE,
      </if>
      <if test="tzSchCountry != null" >
        TZ_SCH_COUNTRY,
      </if>
      <if test="tzSchCname != null" >
        TZ_SCH_CNAME,
      </if>
      <if test="tzSpecialty != null" >
        TZ_SPECIALTY,
      </if>
      <if test="tzHighestEdu != null" >
        TZ_HIGHEST_EDU,
      </if>
      <if test="tzPrjId != null" >
        TZ_PRJ_ID,
      </if>
      <if test="tzMssqh != null" >
        TZ_MSSQH,
      </if>
      <if test="tzComment1 != null" >
        TZ_COMMENT1,
      </if>
      <if test="tzComment2 != null" >
        TZ_COMMENT2,
      </if>
      <if test="tzComment3 != null" >
        TZ_COMMENT3,
      </if>
      <if test="tzComment4 != null" >
        TZ_COMMENT4,
      </if>
      <if test="tzComment5 != null" >
        TZ_COMMENT5,
      </if>
      <if test="tzComment6 != null" >
        TZ_COMMENT6,
      </if>
      <if test="tzComment7 != null" >
        TZ_COMMENT7,
      </if>
      <if test="tzComment8 != null" >
        TZ_COMMENT8,
      </if>
      <if test="tzComment9 != null" >
        TZ_COMMENT9,
      </if>
      <if test="tzComment10 != null" >
        TZ_COMMENT10,
      </if>
      <if test="tzComment11 != null" >
        TZ_COMMENT11,
      </if>
      <if test="tzComment12 != null" >
        TZ_COMMENT12,
      </if>
      <if test="tzComment13 != null" >
        TZ_COMMENT13,
      </if>
      <if test="tzComment14 != null" >
        TZ_COMMENT14,
      </if>
      <if test="tzComment15 != null" >
        TZ_COMMENT15,
      </if>
      <if test="tzComment16 != null" >
        TZ_COMMENT16,
      </if>
      <if test="tzComment17 != null" >
        TZ_COMMENT17,
      </if>
      <if test="tzComment18 != null" >
        TZ_COMMENT18,
      </if>
      <if test="tzComment19 != null" >
        TZ_COMMENT19,
      </if>
      <if test="tzComment20 != null" >
        TZ_COMMENT20,
      </if>
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
      <if test="tzBlackName != null" >
        TZ_BLACK_NAME,
      </if>
      <if test="tzAllowApply != null" >
        TZ_ALLOW_APPLY,
      </if>
      <if test="tzBeizhu != null">
        TZ_BEIZHU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oprid != null" >
        #{oprid,jdbcType=VARCHAR},
      </if>
      <if test="tzRealname != null" >
        #{tzRealname,jdbcType=VARCHAR},
      </if>
      <if test="tzGender != null" >
        #{tzGender,jdbcType=VARCHAR},
      </if>
      <if test="tzSkype != null" >
        #{tzSkype,jdbcType=VARCHAR},
      </if>
      <if test="tzFirstName != null" >
        #{tzFirstName,jdbcType=VARCHAR},
      </if>
      <if test="tzLastName != null" >
        #{tzLastName,jdbcType=VARCHAR},
      </if>
      <if test="tzCompanyName != null" >
        #{tzCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="tzCompIndustry != null" >
        #{tzCompIndustry,jdbcType=VARCHAR},
      </if>
      <if test="tzDeptment != null" >
        #{tzDeptment,jdbcType=VARCHAR},
      </if>
      <if test="tzZhiwu != null" >
        #{tzZhiwu,jdbcType=VARCHAR},
      </if>
      <if test="tzCountry != null" >
        #{tzCountry,jdbcType=VARCHAR},
      </if>
      <if test="tzLenProid != null" >
        #{tzLenProid,jdbcType=VARCHAR},
      </if>
      <if test="tzLenCity != null" >
        #{tzLenCity,jdbcType=VARCHAR},
      </if>
      <if test="tzTimezone != null" >
        #{tzTimezone,jdbcType=VARCHAR},
      </if>
      <if test="nationalIdType != null" >
        #{nationalIdType,jdbcType=VARCHAR},
      </if>
      <if test="nationalId != null" >
        #{nationalId,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="tzSchCountry != null" >
        #{tzSchCountry,jdbcType=VARCHAR},
      </if>
      <if test="tzSchCname != null" >
        #{tzSchCname,jdbcType=VARCHAR},
      </if>
      <if test="tzSpecialty != null" >
        #{tzSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="tzHighestEdu != null" >
        #{tzHighestEdu,jdbcType=VARCHAR},
      </if>
      <if test="tzPrjId != null" >
        #{tzPrjId,jdbcType=VARCHAR},
      </if>
      <if test="tzMssqh != null" >
        #{tzMssqh,jdbcType=VARCHAR},
      </if>
      <if test="tzComment1 != null" >
        #{tzComment1,jdbcType=VARCHAR},
      </if>
      <if test="tzComment2 != null" >
        #{tzComment2,jdbcType=VARCHAR},
      </if>
      <if test="tzComment3 != null" >
        #{tzComment3,jdbcType=VARCHAR},
      </if>
      <if test="tzComment4 != null" >
        #{tzComment4,jdbcType=VARCHAR},
      </if>
      <if test="tzComment5 != null" >
        #{tzComment5,jdbcType=VARCHAR},
      </if>
      <if test="tzComment6 != null" >
        #{tzComment6,jdbcType=VARCHAR},
      </if>
      <if test="tzComment7 != null" >
        #{tzComment7,jdbcType=VARCHAR},
      </if>
      <if test="tzComment8 != null" >
        #{tzComment8,jdbcType=VARCHAR},
      </if>
      <if test="tzComment9 != null" >
        #{tzComment9,jdbcType=VARCHAR},
      </if>
      <if test="tzComment10 != null" >
        #{tzComment10,jdbcType=VARCHAR},
      </if>
      <if test="tzComment11 != null" >
        #{tzComment11,jdbcType=VARCHAR},
      </if>
      <if test="tzComment12 != null" >
        #{tzComment12,jdbcType=VARCHAR},
      </if>
      <if test="tzComment13 != null" >
        #{tzComment13,jdbcType=VARCHAR},
      </if>
      <if test="tzComment14 != null" >
        #{tzComment14,jdbcType=VARCHAR},
      </if>
      <if test="tzComment15 != null" >
        #{tzComment15,jdbcType=VARCHAR},
      </if>
      <if test="tzComment16 != null" >
        #{tzComment16,jdbcType=VARCHAR},
      </if>
      <if test="tzComment17 != null" >
        #{tzComment17,jdbcType=VARCHAR},
      </if>
      <if test="tzComment18 != null" >
        #{tzComment18,jdbcType=VARCHAR},
      </if>
      <if test="tzComment19 != null" >
        #{tzComment19,jdbcType=VARCHAR},
      </if>
      <if test="tzComment20 != null" >
        #{tzComment20,jdbcType=VARCHAR},
      </if>
      <if test="tzSiteiId != null" >
        #{tzSiteiId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzBlackName != null" >
        #{tzBlackName,jdbcType=VARCHAR},
      </if>
      <if test="tzAllowApply != null" >
        #{tzAllowApply,jdbcType=VARCHAR},
      </if>
      <if test="tzBeizhu != null">
        #{tzBeizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZLeaguerAccountBundle.model.PsTzRegUserT" >
    update PS_TZ_REG_USER_T
    <set >
      <if test="tzRealname != null" >
        TZ_REALNAME = #{tzRealname,jdbcType=VARCHAR},
      </if>
      <if test="tzGender != null" >
        TZ_GENDER = #{tzGender,jdbcType=VARCHAR},
      </if>
      <if test="tzSkype != null" >
        TZ_SKYPE = #{tzSkype,jdbcType=VARCHAR},
      </if>
      <if test="tzFirstName != null" >
        TZ_FIRST_NAME = #{tzFirstName,jdbcType=VARCHAR},
      </if>
      <if test="tzLastName != null" >
        TZ_LAST_NAME = #{tzLastName,jdbcType=VARCHAR},
      </if>
      <if test="tzCompanyName != null" >
        TZ_COMPANY_NAME = #{tzCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="tzCompIndustry != null" >
        TZ_COMP_INDUSTRY = #{tzCompIndustry,jdbcType=VARCHAR},
      </if>
      <if test="tzDeptment != null" >
        TZ_DEPTMENT = #{tzDeptment,jdbcType=VARCHAR},
      </if>
      <if test="tzZhiwu != null" >
        TZ_ZHIWU = #{tzZhiwu,jdbcType=VARCHAR},
      </if>
      <if test="tzCountry != null" >
        TZ_COUNTRY = #{tzCountry,jdbcType=VARCHAR},
      </if>
      <if test="tzLenProid != null" >
        TZ_LEN_PROID = #{tzLenProid,jdbcType=VARCHAR},
      </if>
      <if test="tzLenCity != null" >
        TZ_LEN_CITY = #{tzLenCity,jdbcType=VARCHAR},
      </if>
      <if test="tzTimezone != null" >
        TZ_TIMEZONE = #{tzTimezone,jdbcType=VARCHAR},
      </if>
      <if test="nationalIdType != null" >
        NATIONAL_ID_TYPE = #{nationalIdType,jdbcType=VARCHAR},
      </if>
      <if test="nationalId != null" >
        NATIONAL_ID = #{nationalId,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        BIRTHDATE = #{birthdate,jdbcType=DATE},
      </if>
      <if test="tzSchCountry != null" >
        TZ_SCH_COUNTRY = #{tzSchCountry,jdbcType=VARCHAR},
      </if>
      <if test="tzSchCname != null" >
        TZ_SCH_CNAME = #{tzSchCname,jdbcType=VARCHAR},
      </if>
      <if test="tzSpecialty != null" >
        TZ_SPECIALTY = #{tzSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="tzHighestEdu != null" >
        TZ_HIGHEST_EDU = #{tzHighestEdu,jdbcType=VARCHAR},
      </if>
      <if test="tzPrjId != null" >
        TZ_PRJ_ID = #{tzPrjId,jdbcType=VARCHAR},
      </if>
      <if test="tzMssqh != null" >
        TZ_MSSQH = #{tzMssqh,jdbcType=VARCHAR},
      </if>
      <if test="tzComment1 != null" >
        TZ_COMMENT1 = #{tzComment1,jdbcType=VARCHAR},
      </if>
      <if test="tzComment2 != null" >
        TZ_COMMENT2 = #{tzComment2,jdbcType=VARCHAR},
      </if>
      <if test="tzComment3 != null" >
        TZ_COMMENT3 = #{tzComment3,jdbcType=VARCHAR},
      </if>
      <if test="tzComment4 != null" >
        TZ_COMMENT4 = #{tzComment4,jdbcType=VARCHAR},
      </if>
      <if test="tzComment5 != null" >
        TZ_COMMENT5 = #{tzComment5,jdbcType=VARCHAR},
      </if>
      <if test="tzComment6 != null" >
        TZ_COMMENT6 = #{tzComment6,jdbcType=VARCHAR},
      </if>
      <if test="tzComment7 != null" >
        TZ_COMMENT7 = #{tzComment7,jdbcType=VARCHAR},
      </if>
      <if test="tzComment8 != null" >
        TZ_COMMENT8 = #{tzComment8,jdbcType=VARCHAR},
      </if>
      <if test="tzComment9 != null" >
        TZ_COMMENT9 = #{tzComment9,jdbcType=VARCHAR},
      </if>
      <if test="tzComment10 != null" >
        TZ_COMMENT10 = #{tzComment10,jdbcType=VARCHAR},
      </if>
      <if test="tzComment11 != null" >
        TZ_COMMENT11 = #{tzComment11,jdbcType=VARCHAR},
      </if>
      <if test="tzComment12 != null" >
        TZ_COMMENT12 = #{tzComment12,jdbcType=VARCHAR},
      </if>
      <if test="tzComment13 != null" >
        TZ_COMMENT13 = #{tzComment13,jdbcType=VARCHAR},
      </if>
      <if test="tzComment14 != null" >
        TZ_COMMENT14 = #{tzComment14,jdbcType=VARCHAR},
      </if>
      <if test="tzComment15 != null" >
        TZ_COMMENT15 = #{tzComment15,jdbcType=VARCHAR},
      </if>
      <if test="tzComment16 != null" >
        TZ_COMMENT16 = #{tzComment16,jdbcType=VARCHAR},
      </if>
      <if test="tzComment17 != null" >
        TZ_COMMENT17 = #{tzComment17,jdbcType=VARCHAR},
      </if>
      <if test="tzComment18 != null" >
        TZ_COMMENT18 = #{tzComment18,jdbcType=VARCHAR},
      </if>
      <if test="tzComment19 != null" >
        TZ_COMMENT19 = #{tzComment19,jdbcType=VARCHAR},
      </if>
      <if test="tzComment20 != null" >
        TZ_COMMENT20 = #{tzComment20,jdbcType=VARCHAR},
      </if>
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzBlackName != null" >
        TZ_BLACK_NAME = #{tzBlackName,jdbcType=VARCHAR},
      </if>
      <if test="tzAllowApply != null" >
        TZ_ALLOW_APPLY = #{tzAllowApply,jdbcType=VARCHAR},
      </if>
      <if test="tzBeizhu != null" >
        TZ_BEIZHU = #{tzBeizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZLeaguerAccountBundle.model.PsTzRegUserT" >
    update PS_TZ_REG_USER_T
    set TZ_REALNAME = #{tzRealname,jdbcType=VARCHAR},
      TZ_GENDER = #{tzGender,jdbcType=VARCHAR},
      TZ_SKYPE = #{tzSkype,jdbcType=VARCHAR},
      TZ_FIRST_NAME = #{tzFirstName,jdbcType=VARCHAR},
      TZ_LAST_NAME = #{tzLastName,jdbcType=VARCHAR},
      TZ_COMPANY_NAME = #{tzCompanyName,jdbcType=VARCHAR},
      TZ_COMP_INDUSTRY = #{tzCompIndustry,jdbcType=VARCHAR},
      TZ_DEPTMENT = #{tzDeptment,jdbcType=VARCHAR},
      TZ_ZHIWU = #{tzZhiwu,jdbcType=VARCHAR},
      TZ_COUNTRY = #{tzCountry,jdbcType=VARCHAR},
      TZ_LEN_PROID = #{tzLenProid,jdbcType=VARCHAR},
      TZ_LEN_CITY = #{tzLenCity,jdbcType=VARCHAR},
      TZ_TIMEZONE = #{tzTimezone,jdbcType=VARCHAR},
      NATIONAL_ID_TYPE = #{nationalIdType,jdbcType=VARCHAR},
      NATIONAL_ID = #{nationalId,jdbcType=VARCHAR},
      BIRTHDATE = #{birthdate,jdbcType=DATE},
      TZ_SCH_COUNTRY = #{tzSchCountry,jdbcType=VARCHAR},
      TZ_SCH_CNAME = #{tzSchCname,jdbcType=VARCHAR},
      TZ_SPECIALTY = #{tzSpecialty,jdbcType=VARCHAR},
      TZ_HIGHEST_EDU = #{tzHighestEdu,jdbcType=VARCHAR},
      TZ_PRJ_ID = #{tzPrjId,jdbcType=VARCHAR},
      TZ_MSSQH = #{tzMssqh,jdbcType=VARCHAR},
      TZ_COMMENT1 = #{tzComment1,jdbcType=VARCHAR},
      TZ_COMMENT2 = #{tzComment2,jdbcType=VARCHAR},
      TZ_COMMENT3 = #{tzComment3,jdbcType=VARCHAR},
      TZ_COMMENT4 = #{tzComment4,jdbcType=VARCHAR},
      TZ_COMMENT5 = #{tzComment5,jdbcType=VARCHAR},
      TZ_COMMENT6 = #{tzComment6,jdbcType=VARCHAR},
      TZ_COMMENT7 = #{tzComment7,jdbcType=VARCHAR},
      TZ_COMMENT8 = #{tzComment8,jdbcType=VARCHAR},
      TZ_COMMENT9 = #{tzComment9,jdbcType=VARCHAR},
      TZ_COMMENT10 = #{tzComment10,jdbcType=VARCHAR},
      TZ_COMMENT11 = #{tzComment11,jdbcType=VARCHAR},
      TZ_COMMENT12 = #{tzComment12,jdbcType=VARCHAR},
      TZ_COMMENT13 = #{tzComment13,jdbcType=VARCHAR},
      TZ_COMMENT14 = #{tzComment14,jdbcType=VARCHAR},
      TZ_COMMENT15 = #{tzComment15,jdbcType=VARCHAR},
      TZ_COMMENT16 = #{tzComment16,jdbcType=VARCHAR},
      TZ_COMMENT17 = #{tzComment17,jdbcType=VARCHAR},
      TZ_COMMENT18 = #{tzComment18,jdbcType=VARCHAR},
      TZ_COMMENT19 = #{tzComment19,jdbcType=VARCHAR},
      TZ_COMMENT20 = #{tzComment20,jdbcType=VARCHAR},
      TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      TZ_BLACK_NAME = #{tzBlackName,jdbcType=VARCHAR},
      TZ_ALLOW_APPLY = #{tzAllowApply,jdbcType=VARCHAR},
      TZ_BEIZHU = #{tzBeizhu,jdbcType=VARCHAR}
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </update>
</mapper>