<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZSiteTemplateBundle.dao.PsTzSitemAreaTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" >
    <id column="TZ_SITEM_ID" property="tzSitemId" jdbcType="VARCHAR" />
    <id column="TZ_AREA_ID" property="tzAreaId" jdbcType="VARCHAR" />
    <result column="TZ_COLU_ID" property="tzColuId" jdbcType="VARCHAR" />
    <result column="TZ_AREA_STATE" property="tzAreaState" jdbcType="VARCHAR" />
    <result column="TZ_AREA_NAME" property="tzAreaName" jdbcType="VARCHAR" />
    <result column="TZ_AREA_TYPE_ID" property="tzAreaTypeId" jdbcType="VARCHAR" />
    <result column="TZ_AREA_POSITION" property="tzAreaPosition" jdbcType="VARCHAR" />
    <result column="TZ_AREA_XH" property="tzAreaXh" jdbcType="INTEGER" />
    <result column="TZ_SHOW_MOBILE_FLG" property="tzShowMobileFlg" jdbcType="VARCHAR" />
    <result column="TZ_SHOWM_ORDER" property="tzShowmOrder" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" extends="BaseResultMap" >
    <result column="TZ_AREA_CODE" property="tzAreaCode" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_SITEM_ID, TZ_AREA_ID, TZ_COLU_ID, TZ_AREA_STATE, TZ_AREA_NAME, TZ_AREA_TYPE_ID, 
    TZ_AREA_POSITION, TZ_AREA_XH, TZ_SHOW_MOBILE_FLG, TZ_SHOWM_ORDER
  </sql>
  <sql id="Blob_Column_List" >
    TZ_AREA_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaTKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_SITEM_AREA_T
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_AREA_ID = #{tzAreaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaTKey" >
    delete from PS_TZ_SITEM_AREA_T
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_AREA_ID = #{tzAreaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" >
    insert into PS_TZ_SITEM_AREA_T (TZ_SITEM_ID, TZ_AREA_ID, TZ_COLU_ID, 
      TZ_AREA_STATE, TZ_AREA_NAME, TZ_AREA_TYPE_ID, 
      TZ_AREA_POSITION, TZ_AREA_XH, TZ_SHOW_MOBILE_FLG, 
      TZ_SHOWM_ORDER, TZ_AREA_CODE)
    values (#{tzSitemId,jdbcType=VARCHAR}, #{tzAreaId,jdbcType=VARCHAR}, #{tzColuId,jdbcType=VARCHAR}, 
      #{tzAreaState,jdbcType=VARCHAR}, #{tzAreaName,jdbcType=VARCHAR}, #{tzAreaTypeId,jdbcType=VARCHAR}, 
      #{tzAreaPosition,jdbcType=VARCHAR}, #{tzAreaXh,jdbcType=INTEGER}, #{tzShowMobileFlg,jdbcType=VARCHAR}, 
      #{tzShowmOrder,jdbcType=INTEGER}, #{tzAreaCode,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" >
    insert into PS_TZ_SITEM_AREA_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzSitemId != null" >
        TZ_SITEM_ID,
      </if>
      <if test="tzAreaId != null" >
        TZ_AREA_ID,
      </if>
      <if test="tzColuId != null" >
        TZ_COLU_ID,
      </if>
      <if test="tzAreaState != null" >
        TZ_AREA_STATE,
      </if>
      <if test="tzAreaName != null" >
        TZ_AREA_NAME,
      </if>
      <if test="tzAreaTypeId != null" >
        TZ_AREA_TYPE_ID,
      </if>
      <if test="tzAreaPosition != null" >
        TZ_AREA_POSITION,
      </if>
      <if test="tzAreaXh != null" >
        TZ_AREA_XH,
      </if>
      <if test="tzShowMobileFlg != null" >
        TZ_SHOW_MOBILE_FLG,
      </if>
      <if test="tzShowmOrder != null" >
        TZ_SHOWM_ORDER,
      </if>
      <if test="tzAreaCode != null" >
        TZ_AREA_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzSitemId != null" >
        #{tzSitemId,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaId != null" >
        #{tzAreaId,jdbcType=VARCHAR},
      </if>
      <if test="tzColuId != null" >
        #{tzColuId,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaState != null" >
        #{tzAreaState,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaName != null" >
        #{tzAreaName,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaTypeId != null" >
        #{tzAreaTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaPosition != null" >
        #{tzAreaPosition,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaXh != null" >
        #{tzAreaXh,jdbcType=INTEGER},
      </if>
      <if test="tzShowMobileFlg != null" >
        #{tzShowMobileFlg,jdbcType=VARCHAR},
      </if>
      <if test="tzShowmOrder != null" >
        #{tzShowmOrder,jdbcType=INTEGER},
      </if>
      <if test="tzAreaCode != null" >
        #{tzAreaCode,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" >
    update PS_TZ_SITEM_AREA_T
    <set >
      <if test="tzColuId != null" >
        TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaState != null" >
        TZ_AREA_STATE = #{tzAreaState,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaName != null" >
        TZ_AREA_NAME = #{tzAreaName,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaTypeId != null" >
        TZ_AREA_TYPE_ID = #{tzAreaTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaPosition != null" >
        TZ_AREA_POSITION = #{tzAreaPosition,jdbcType=VARCHAR},
      </if>
      <if test="tzAreaXh != null" >
        TZ_AREA_XH = #{tzAreaXh,jdbcType=INTEGER},
      </if>
      <if test="tzShowMobileFlg != null" >
        TZ_SHOW_MOBILE_FLG = #{tzShowMobileFlg,jdbcType=VARCHAR},
      </if>
      <if test="tzShowmOrder != null" >
        TZ_SHOWM_ORDER = #{tzShowmOrder,jdbcType=INTEGER},
      </if>
      <if test="tzAreaCode != null" >
        TZ_AREA_CODE = #{tzAreaCode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_AREA_ID = #{tzAreaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" >
    update PS_TZ_SITEM_AREA_T
    set TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR},
      TZ_AREA_STATE = #{tzAreaState,jdbcType=VARCHAR},
      TZ_AREA_NAME = #{tzAreaName,jdbcType=VARCHAR},
      TZ_AREA_TYPE_ID = #{tzAreaTypeId,jdbcType=VARCHAR},
      TZ_AREA_POSITION = #{tzAreaPosition,jdbcType=VARCHAR},
      TZ_AREA_XH = #{tzAreaXh,jdbcType=INTEGER},
      TZ_SHOW_MOBILE_FLG = #{tzShowMobileFlg,jdbcType=VARCHAR},
      TZ_SHOWM_ORDER = #{tzShowmOrder,jdbcType=INTEGER},
      TZ_AREA_CODE = #{tzAreaCode,jdbcType=LONGVARCHAR}
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_AREA_ID = #{tzAreaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemAreaT" >
    update PS_TZ_SITEM_AREA_T
    set TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR},
      TZ_AREA_STATE = #{tzAreaState,jdbcType=VARCHAR},
      TZ_AREA_NAME = #{tzAreaName,jdbcType=VARCHAR},
      TZ_AREA_TYPE_ID = #{tzAreaTypeId,jdbcType=VARCHAR},
      TZ_AREA_POSITION = #{tzAreaPosition,jdbcType=VARCHAR},
      TZ_AREA_XH = #{tzAreaXh,jdbcType=INTEGER},
      TZ_SHOW_MOBILE_FLG = #{tzShowMobileFlg,jdbcType=VARCHAR},
      TZ_SHOWM_ORDER = #{tzShowmOrder,jdbcType=INTEGER}
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_AREA_ID = #{tzAreaId,jdbcType=VARCHAR}
  </update>
</mapper>