<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZSiteTemplateBundle.dao.PsTzSitemSkinTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinT" >
    <id column="TZ_SITEM_ID" property="tzSitemId" jdbcType="VARCHAR" />
    <id column="TZ_SKIN_ID" property="tzSkinId" jdbcType="VARCHAR" />
    <result column="TZ_SKIN_STATE" property="tzSkinState" jdbcType="VARCHAR" />
    <result column="TZ_SKIN_NAME" property="tzSkinName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTWithBLOBs" extends="BaseResultMap" >
    <result column="TZ_SKIN_CODE" property="tzSkinCode" jdbcType="LONGVARCHAR" />
    <result column="TZ_SKIN_MCODE" property="tzSkinMcode" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_SITEM_ID, TZ_SKIN_ID, TZ_SKIN_STATE, TZ_SKIN_NAME
  </sql>
  <sql id="Blob_Column_List" >
    TZ_SKIN_CODE, TZ_SKIN_MCODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_SITEM_SKIN_T
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTKey" >
    delete from PS_TZ_SITEM_SKIN_T
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTWithBLOBs" >
    insert into PS_TZ_SITEM_SKIN_T (TZ_SITEM_ID, TZ_SKIN_ID, TZ_SKIN_STATE, 
      TZ_SKIN_NAME, TZ_SKIN_CODE, TZ_SKIN_MCODE
      )
    values (#{tzSitemId,jdbcType=VARCHAR}, #{tzSkinId,jdbcType=VARCHAR}, #{tzSkinState,jdbcType=VARCHAR}, 
      #{tzSkinName,jdbcType=VARCHAR}, #{tzSkinCode,jdbcType=LONGVARCHAR}, #{tzSkinMcode,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTWithBLOBs" >
    insert into PS_TZ_SITEM_SKIN_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzSitemId != null" >
        TZ_SITEM_ID,
      </if>
      <if test="tzSkinId != null" >
        TZ_SKIN_ID,
      </if>
      <if test="tzSkinState != null" >
        TZ_SKIN_STATE,
      </if>
      <if test="tzSkinName != null" >
        TZ_SKIN_NAME,
      </if>
      <if test="tzSkinCode != null" >
        TZ_SKIN_CODE,
      </if>
      <if test="tzSkinMcode != null" >
        TZ_SKIN_MCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzSitemId != null" >
        #{tzSitemId,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinId != null" >
        #{tzSkinId,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinState != null" >
        #{tzSkinState,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinName != null" >
        #{tzSkinName,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinCode != null" >
        #{tzSkinCode,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzSkinMcode != null" >
        #{tzSkinMcode,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTWithBLOBs" >
    update PS_TZ_SITEM_SKIN_T
    <set >
      <if test="tzSkinState != null" >
        TZ_SKIN_STATE = #{tzSkinState,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinName != null" >
        TZ_SKIN_NAME = #{tzSkinName,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinCode != null" >
        TZ_SKIN_CODE = #{tzSkinCode,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzSkinMcode != null" >
        TZ_SKIN_MCODE = #{tzSkinMcode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinTWithBLOBs" >
    update PS_TZ_SITEM_SKIN_T
    set TZ_SKIN_STATE = #{tzSkinState,jdbcType=VARCHAR},
      TZ_SKIN_NAME = #{tzSkinName,jdbcType=VARCHAR},
      TZ_SKIN_CODE = #{tzSkinCode,jdbcType=LONGVARCHAR},
      TZ_SKIN_MCODE = #{tzSkinMcode,jdbcType=LONGVARCHAR}
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZSiteTemplateBundle.model.PsTzSitemSkinT" >
    update PS_TZ_SITEM_SKIN_T
    set TZ_SKIN_STATE = #{tzSkinState,jdbcType=VARCHAR},
      TZ_SKIN_NAME = #{tzSkinName,jdbcType=VARCHAR}
    where TZ_SITEM_ID = #{tzSitemId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </update>
</mapper>