<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZCertTypeGlBundle.dao.PsTzCertTypeTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTbl" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="TZ_CERT_TYPE_ID" property="tzCertTypeId" jdbcType="VARCHAR" />
    <result column="TZ_BELINK_ID" property="tzBelinkId" jdbcType="VARCHAR" />
    <result column="TZ_CERT_TYPE_NAME" property="tzCertTypeName" jdbcType="VARCHAR" />
    <result column="TZ_USE_FLAG" property="tzUseFlag" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, TZ_CERT_TYPE_ID, TZ_BELINK_ID, TZ_CERT_TYPE_NAME, TZ_USE_FLAG, ROW_ADDED_DTTM, 
    ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTblKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_CERT_TYPE_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_TYPE_ID = #{tzCertTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTblKey" >
    delete from PS_TZ_CERT_TYPE_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_TYPE_ID = #{tzCertTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTbl" >
    insert into PS_TZ_CERT_TYPE_TBL (TZ_JG_ID, TZ_CERT_TYPE_ID, TZ_BELINK_ID, 
      TZ_CERT_TYPE_NAME, TZ_USE_FLAG, ROW_ADDED_DTTM, 
      ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
      )
    values (#{tzJgId,jdbcType=VARCHAR}, #{tzCertTypeId,jdbcType=VARCHAR}, #{tzBelinkId,jdbcType=VARCHAR}, 
      #{tzCertTypeName,jdbcType=VARCHAR}, #{tzUseFlag,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, 
      #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTbl" >
    insert into PS_TZ_CERT_TYPE_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzCertTypeId != null" >
        TZ_CERT_TYPE_ID,
      </if>
      <if test="tzBelinkId != null" >
        TZ_BELINK_ID,
      </if>
      <if test="tzCertTypeName != null" >
        TZ_CERT_TYPE_NAME,
      </if>
      <if test="tzUseFlag != null" >
        TZ_USE_FLAG,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzCertTypeId != null" >
        #{tzCertTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tzBelinkId != null" >
        #{tzBelinkId,jdbcType=VARCHAR},
      </if>
      <if test="tzCertTypeName != null" >
        #{tzCertTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tzUseFlag != null" >
        #{tzUseFlag,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTbl" >
    update PS_TZ_CERT_TYPE_TBL
    <set >
      <if test="tzBelinkId != null" >
        TZ_BELINK_ID = #{tzBelinkId,jdbcType=VARCHAR},
      </if>
      <if test="tzCertTypeName != null" >
        TZ_CERT_TYPE_NAME = #{tzCertTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tzUseFlag != null" >
        TZ_USE_FLAG = #{tzUseFlag,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_TYPE_ID = #{tzCertTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZCertTypeGlBundle.model.PsTzCertTypeTbl" >
    update PS_TZ_CERT_TYPE_TBL
    set TZ_BELINK_ID = #{tzBelinkId,jdbcType=VARCHAR},
      TZ_CERT_TYPE_NAME = #{tzCertTypeName,jdbcType=VARCHAR},
      TZ_USE_FLAG = #{tzUseFlag,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_TYPE_ID = #{tzCertTypeId,jdbcType=VARCHAR}
  </update>
</mapper>