<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZMbaPwClpsBundle.dao.PsTzPwExtTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtT" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="OPRID" property="oprid" jdbcType="VARCHAR" />
    <result column="TZ_CS_PASSWORD" property="tzCsPassword" jdbcType="VARCHAR" />
    <result column="TZ_YNYW" property="tzYnyw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, OPRID, TZ_CS_PASSWORD, TZ_YNYW
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_PW_EXT_T
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and OPRID = #{oprid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtTKey" >
    delete from PS_TZ_PW_EXT_T
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and OPRID = #{oprid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtT" >
    insert into PS_TZ_PW_EXT_T (TZ_JG_ID, OPRID, TZ_CS_PASSWORD, 
      TZ_YNYW)
    values (#{tzJgId,jdbcType=VARCHAR}, #{oprid,jdbcType=VARCHAR}, #{tzCsPassword,jdbcType=VARCHAR}, 
      #{tzYnyw,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtT" >
    insert into PS_TZ_PW_EXT_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="oprid != null" >
        OPRID,
      </if>
      <if test="tzCsPassword != null" >
        TZ_CS_PASSWORD,
      </if>
      <if test="tzYnyw != null" >
        TZ_YNYW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="oprid != null" >
        #{oprid,jdbcType=VARCHAR},
      </if>
      <if test="tzCsPassword != null" >
        #{tzCsPassword,jdbcType=VARCHAR},
      </if>
      <if test="tzYnyw != null" >
        #{tzYnyw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtT" >
    update PS_TZ_PW_EXT_T
    <set >
      <if test="tzCsPassword != null" >
        TZ_CS_PASSWORD = #{tzCsPassword,jdbcType=VARCHAR},
      </if>
      <if test="tzYnyw != null" >
        TZ_YNYW = #{tzYnyw,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and OPRID = #{oprid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZMbaPwClpsBundle.model.PsTzPwExtT" >
    update PS_TZ_PW_EXT_T
    set TZ_CS_PASSWORD = #{tzCsPassword,jdbcType=VARCHAR},
      TZ_YNYW = #{tzYnyw,jdbcType=VARCHAR}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and OPRID = #{oprid,jdbcType=VARCHAR}
  </update>
</mapper>