<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZImportTplMgBundle.dao.TzImpTplDfnTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZImportTplMgBundle.model.TzImpTplDfnT" >
    <id column="TZ_TPL_ID" property="tzTplId" jdbcType="VARCHAR" />
    <result column="TZ_TPL_NAME" property="tzTplName" jdbcType="VARCHAR" />
    <result column="TZ_TARGET_TBL" property="tzTargetTbl" jdbcType="VARCHAR" />
    <result column="TZ_JAVA_CLASS" property="tzJavaClass" jdbcType="VARCHAR" />
    <result column="TZ_EXCEL_TPL" property="tzExcelTpl" jdbcType="VARCHAR" />
    <result column="TZ_ENABLE_MAPPING" property="tzEnableMapping" jdbcType="VARCHAR" />
    <result column="TZ_FILENAME" property="tzFilename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_TPL_ID, TZ_TPL_NAME, TZ_TARGET_TBL, TZ_JAVA_CLASS, TZ_EXCEL_TPL, TZ_ENABLE_MAPPING, 
    TZ_FILENAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TZ_IMP_TPL_DFN_T
    where TZ_TPL_ID = #{tzTplId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TZ_IMP_TPL_DFN_T
    where TZ_TPL_ID = #{tzTplId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZImportTplMgBundle.model.TzImpTplDfnT" >
    insert into TZ_IMP_TPL_DFN_T (TZ_TPL_ID, TZ_TPL_NAME, TZ_TARGET_TBL, 
      TZ_JAVA_CLASS, TZ_EXCEL_TPL, TZ_ENABLE_MAPPING, 
      TZ_FILENAME)
    values (#{tzTplId,jdbcType=VARCHAR}, #{tzTplName,jdbcType=VARCHAR}, #{tzTargetTbl,jdbcType=VARCHAR}, 
      #{tzJavaClass,jdbcType=VARCHAR}, #{tzExcelTpl,jdbcType=VARCHAR}, #{tzEnableMapping,jdbcType=VARCHAR}, 
      #{tzFilename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZImportTplMgBundle.model.TzImpTplDfnT" >
    insert into TZ_IMP_TPL_DFN_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzTplId != null" >
        TZ_TPL_ID,
      </if>
      <if test="tzTplName != null" >
        TZ_TPL_NAME,
      </if>
      <if test="tzTargetTbl != null" >
        TZ_TARGET_TBL,
      </if>
      <if test="tzJavaClass != null" >
        TZ_JAVA_CLASS,
      </if>
      <if test="tzExcelTpl != null" >
        TZ_EXCEL_TPL,
      </if>
      <if test="tzEnableMapping != null" >
        TZ_ENABLE_MAPPING,
      </if>
      <if test="tzFilename != null" >
        TZ_FILENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzTplId != null" >
        #{tzTplId,jdbcType=VARCHAR},
      </if>
      <if test="tzTplName != null" >
        #{tzTplName,jdbcType=VARCHAR},
      </if>
      <if test="tzTargetTbl != null" >
        #{tzTargetTbl,jdbcType=VARCHAR},
      </if>
      <if test="tzJavaClass != null" >
        #{tzJavaClass,jdbcType=VARCHAR},
      </if>
      <if test="tzExcelTpl != null" >
        #{tzExcelTpl,jdbcType=VARCHAR},
      </if>
      <if test="tzEnableMapping != null" >
        #{tzEnableMapping,jdbcType=VARCHAR},
      </if>
      <if test="tzFilename != null" >
        #{tzFilename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZImportTplMgBundle.model.TzImpTplDfnT" >
    update TZ_IMP_TPL_DFN_T
    <set >
      <if test="tzTplName != null" >
        TZ_TPL_NAME = #{tzTplName,jdbcType=VARCHAR},
      </if>
      <if test="tzTargetTbl != null" >
        TZ_TARGET_TBL = #{tzTargetTbl,jdbcType=VARCHAR},
      </if>
      <if test="tzJavaClass != null" >
        TZ_JAVA_CLASS = #{tzJavaClass,jdbcType=VARCHAR},
      </if>
      <if test="tzExcelTpl != null" >
        TZ_EXCEL_TPL = #{tzExcelTpl,jdbcType=VARCHAR},
      </if>
      <if test="tzEnableMapping != null" >
        TZ_ENABLE_MAPPING = #{tzEnableMapping,jdbcType=VARCHAR},
      </if>
      <if test="tzFilename != null" >
        TZ_FILENAME = #{tzFilename,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_TPL_ID = #{tzTplId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZImportTplMgBundle.model.TzImpTplDfnT" >
    update TZ_IMP_TPL_DFN_T
    set TZ_TPL_NAME = #{tzTplName,jdbcType=VARCHAR},
      TZ_TARGET_TBL = #{tzTargetTbl,jdbcType=VARCHAR},
      TZ_JAVA_CLASS = #{tzJavaClass,jdbcType=VARCHAR},
      TZ_EXCEL_TPL = #{tzExcelTpl,jdbcType=VARCHAR},
      TZ_ENABLE_MAPPING = #{tzEnableMapping,jdbcType=VARCHAR},
      TZ_FILENAME = #{tzFilename,jdbcType=VARCHAR}
    where TZ_TPL_ID = #{tzTplId,jdbcType=VARCHAR}
  </update>
</mapper>