<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZRuleSetBundle.dao.PsTzJygzDyTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZRuleSetBundle.model.PsTzJygzDyT" >
    <id column="TZ_JYGZ_ID" property="tzJygzId" jdbcType="VARCHAR" />
    <result column="TZ_JYGZ_MC" property="tzJygzMc" jdbcType="VARCHAR" />
    <result column="TZ_JYGZ_JSLMC" property="tzJygzJslmc" jdbcType="VARCHAR" />
    <result column="TZ_JYGZ_APPCLSID" property="tzJygzAppclsid" jdbcType="VARCHAR" />
    <result column="TZ_EFFEXP_ZT" property="tzEffexpZt" jdbcType="VARCHAR" />
    <result column="TZ_JYGZ_TSXX" property="tzJygzTsxx" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JYGZ_ID, TZ_JYGZ_MC, TZ_JYGZ_JSLMC, TZ_JYGZ_APPCLSID, TZ_EFFEXP_ZT, TZ_JYGZ_TSXX, 
    ROW_ADDED_DTTM, ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_JYGZ_DY_T
    where TZ_JYGZ_ID = #{tzJygzId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_JYGZ_DY_T
    where TZ_JYGZ_ID = #{tzJygzId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZRuleSetBundle.model.PsTzJygzDyT" >
    insert into PS_TZ_JYGZ_DY_T (TZ_JYGZ_ID, TZ_JYGZ_MC, TZ_JYGZ_JSLMC, 
      TZ_JYGZ_APPCLSID, TZ_EFFEXP_ZT, TZ_JYGZ_TSXX, 
      ROW_ADDED_DTTM, ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, 
      ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
      )
    values (#{tzJygzId,jdbcType=VARCHAR}, #{tzJygzMc,jdbcType=VARCHAR}, #{tzJygzJslmc,jdbcType=VARCHAR}, 
      #{tzJygzAppclsid,jdbcType=VARCHAR}, #{tzEffexpZt,jdbcType=VARCHAR}, #{tzJygzTsxx,jdbcType=VARCHAR}, 
      #{rowAddedDttm,jdbcType=TIMESTAMP}, #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, 
      #{rowLastmantOprid,jdbcType=VARCHAR}, #{syncid,jdbcType=INTEGER}, #{syncdttm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZRuleSetBundle.model.PsTzJygzDyT" >
    insert into PS_TZ_JYGZ_DY_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJygzId != null" >
        TZ_JYGZ_ID,
      </if>
      <if test="tzJygzMc != null" >
        TZ_JYGZ_MC,
      </if>
      <if test="tzJygzJslmc != null" >
        TZ_JYGZ_JSLMC,
      </if>
      <if test="tzJygzAppclsid != null" >
        TZ_JYGZ_APPCLSID,
      </if>
      <if test="tzEffexpZt != null" >
        TZ_EFFEXP_ZT,
      </if>
      <if test="tzJygzTsxx != null" >
        TZ_JYGZ_TSXX,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJygzId != null" >
        #{tzJygzId,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzMc != null" >
        #{tzJygzMc,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzJslmc != null" >
        #{tzJygzJslmc,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzAppclsid != null" >
        #{tzJygzAppclsid,jdbcType=VARCHAR},
      </if>
      <if test="tzEffexpZt != null" >
        #{tzEffexpZt,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzTsxx != null" >
        #{tzJygzTsxx,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZRuleSetBundle.model.PsTzJygzDyT" >
    update PS_TZ_JYGZ_DY_T
    <set >
      <if test="tzJygzMc != null" >
        TZ_JYGZ_MC = #{tzJygzMc,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzJslmc != null" >
        TZ_JYGZ_JSLMC = #{tzJygzJslmc,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzAppclsid != null" >
        TZ_JYGZ_APPCLSID = #{tzJygzAppclsid,jdbcType=VARCHAR},
      </if>
      <if test="tzEffexpZt != null" >
        TZ_EFFEXP_ZT = #{tzEffexpZt,jdbcType=VARCHAR},
      </if>
      <if test="tzJygzTsxx != null" >
        TZ_JYGZ_TSXX = #{tzJygzTsxx,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TZ_JYGZ_ID = #{tzJygzId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZRuleSetBundle.model.PsTzJygzDyT" >
    update PS_TZ_JYGZ_DY_T
    set TZ_JYGZ_MC = #{tzJygzMc,jdbcType=VARCHAR},
      TZ_JYGZ_JSLMC = #{tzJygzJslmc,jdbcType=VARCHAR},
      TZ_JYGZ_APPCLSID = #{tzJygzAppclsid,jdbcType=VARCHAR},
      TZ_EFFEXP_ZT = #{tzEffexpZt,jdbcType=VARCHAR},
      TZ_JYGZ_TSXX = #{tzJygzTsxx,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP}
    where TZ_JYGZ_ID = #{tzJygzId,jdbcType=VARCHAR}
  </update>
</mapper>