<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZApplicationVerifiedBundle.dao.PsTzFormAtt2TMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2T" >
    <id column="TZ_APP_INS_ID" property="tzAppInsId" jdbcType="BIGINT" />
    <id column="TZ_XXX_BH" property="tzXxxBh" jdbcType="VARCHAR" />
    <result column="TZ_XXX_MC" property="tzXxxMc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_APP_INS_ID, TZ_XXX_BH, TZ_XXX_MC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2TKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_FORM_ATT2_T
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2TKey" >
    delete from PS_TZ_FORM_ATT2_T
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2T" >
    insert into PS_TZ_FORM_ATT2_T (TZ_APP_INS_ID, TZ_XXX_BH, TZ_XXX_MC
      )
    values (#{tzAppInsId,jdbcType=BIGINT}, #{tzXxxBh,jdbcType=VARCHAR}, #{tzXxxMc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2T" >
    insert into PS_TZ_FORM_ATT2_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzAppInsId != null" >
        TZ_APP_INS_ID,
      </if>
      <if test="tzXxxBh != null" >
        TZ_XXX_BH,
      </if>
      <if test="tzXxxMc != null" >
        TZ_XXX_MC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzAppInsId != null" >
        #{tzAppInsId,jdbcType=BIGINT},
      </if>
      <if test="tzXxxBh != null" >
        #{tzXxxBh,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxMc != null" >
        #{tzXxxMc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2T" >
    update PS_TZ_FORM_ATT2_T
    <set >
      <if test="tzXxxMc != null" >
        TZ_XXX_MC = #{tzXxxMc,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZApplicationVerifiedBundle.model.PsTzFormAtt2T" >
    update PS_TZ_FORM_ATT2_T
    set TZ_XXX_MC = #{tzXxxMc,jdbcType=VARCHAR}
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </update>
</mapper>