<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZSitePageBundle.dao.PsTzSiteFuncTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZSitePageBundle.model.PsTzSiteFuncT" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FUNC_NAME" property="funcName" jdbcType="VARCHAR" />
    <result column="FUNC_TYPE" property="funcType" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="DESCR" property="descr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FUNC_NAME, FUNC_TYPE, URL, ICON, DESCR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_SITE_FUNC_T
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PS_TZ_SITE_FUNC_T
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZSitePageBundle.model.PsTzSiteFuncT" >
    insert into PS_TZ_SITE_FUNC_T (ID, FUNC_NAME, FUNC_TYPE, 
      URL, ICON, DESCR)
    values (#{id,jdbcType=INTEGER}, #{funcName,jdbcType=VARCHAR}, #{funcType,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZSitePageBundle.model.PsTzSiteFuncT" >
    insert into PS_TZ_SITE_FUNC_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="funcName != null" >
        FUNC_NAME,
      </if>
      <if test="funcType != null" >
        FUNC_TYPE,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="descr != null" >
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="funcName != null" >
        #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="funcType != null" >
        #{funcType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZSitePageBundle.model.PsTzSiteFuncT" >
    update PS_TZ_SITE_FUNC_T
    <set >
      <if test="funcName != null" >
        FUNC_NAME = #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="funcType != null" >
        FUNC_TYPE = #{funcType,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        DESCR = #{descr,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZSitePageBundle.model.PsTzSiteFuncT" >
    update PS_TZ_SITE_FUNC_T
    set FUNC_NAME = #{funcName,jdbcType=VARCHAR},
      FUNC_TYPE = #{funcType,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      DESCR = #{descr,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>