<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZSelfInfoBundle.dao.PsTzShjiYzmTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTbl" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="TZ_MOBILE_PHONE" property="tzMobilePhone" jdbcType="VARCHAR" />
    <id column="TZ_CNTLOG_ADDTIME" property="tzCntlogAddtime" jdbcType="TIMESTAMP" />
    <result column="TZ_SJYZM" property="tzSjyzm" jdbcType="VARCHAR" />
    <result column="TZ_YZM_YXQ" property="tzYzmYxq" jdbcType="TIMESTAMP" />
    <result column="TZ_EFF_FLAG" property="tzEffFlag" jdbcType="VARCHAR" />
    <result column="TZ_SITEI_ID" property="tzSiteiId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, TZ_MOBILE_PHONE, TZ_CNTLOG_ADDTIME, TZ_SJYZM, TZ_YZM_YXQ, TZ_EFF_FLAG, 
    TZ_SITEI_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTblKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_SHJI_YZM_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_MOBILE_PHONE = #{tzMobilePhone,jdbcType=VARCHAR}
      and TZ_CNTLOG_ADDTIME = #{tzCntlogAddtime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTblKey" >
    delete from PS_TZ_SHJI_YZM_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_MOBILE_PHONE = #{tzMobilePhone,jdbcType=VARCHAR}
      and TZ_CNTLOG_ADDTIME = #{tzCntlogAddtime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTbl" >
    insert into PS_TZ_SHJI_YZM_TBL (TZ_JG_ID, TZ_MOBILE_PHONE, TZ_CNTLOG_ADDTIME, 
      TZ_SJYZM, TZ_YZM_YXQ, TZ_EFF_FLAG, 
      TZ_SITEI_ID)
    values (#{tzJgId,jdbcType=VARCHAR}, #{tzMobilePhone,jdbcType=VARCHAR}, #{tzCntlogAddtime,jdbcType=TIMESTAMP}, 
      #{tzSjyzm,jdbcType=VARCHAR}, #{tzYzmYxq,jdbcType=TIMESTAMP}, #{tzEffFlag,jdbcType=VARCHAR}, 
      #{tzSiteiId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTbl" >
    insert into PS_TZ_SHJI_YZM_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzMobilePhone != null" >
        TZ_MOBILE_PHONE,
      </if>
      <if test="tzCntlogAddtime != null" >
        TZ_CNTLOG_ADDTIME,
      </if>
      <if test="tzSjyzm != null" >
        TZ_SJYZM,
      </if>
      <if test="tzYzmYxq != null" >
        TZ_YZM_YXQ,
      </if>
      <if test="tzEffFlag != null" >
        TZ_EFF_FLAG,
      </if>
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzMobilePhone != null" >
        #{tzMobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="tzCntlogAddtime != null" >
        #{tzCntlogAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tzSjyzm != null" >
        #{tzSjyzm,jdbcType=VARCHAR},
      </if>
      <if test="tzYzmYxq != null" >
        #{tzYzmYxq,jdbcType=TIMESTAMP},
      </if>
      <if test="tzEffFlag != null" >
        #{tzEffFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzSiteiId != null" >
        #{tzSiteiId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTbl" >
    update PS_TZ_SHJI_YZM_TBL
    <set >
      <if test="tzSjyzm != null" >
        TZ_SJYZM = #{tzSjyzm,jdbcType=VARCHAR},
      </if>
      <if test="tzYzmYxq != null" >
        TZ_YZM_YXQ = #{tzYzmYxq,jdbcType=TIMESTAMP},
      </if>
      <if test="tzEffFlag != null" >
        TZ_EFF_FLAG = #{tzEffFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_MOBILE_PHONE = #{tzMobilePhone,jdbcType=VARCHAR}
      and TZ_CNTLOG_ADDTIME = #{tzCntlogAddtime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZSelfInfoBundle.model.PsTzShjiYzmTbl" >
    update PS_TZ_SHJI_YZM_TBL
    set TZ_SJYZM = #{tzSjyzm,jdbcType=VARCHAR},
      TZ_YZM_YXQ = #{tzYzmYxq,jdbcType=TIMESTAMP},
      TZ_EFF_FLAG = #{tzEffFlag,jdbcType=VARCHAR},
      TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_MOBILE_PHONE = #{tzMobilePhone,jdbcType=VARCHAR}
      and TZ_CNTLOG_ADDTIME = #{tzCntlogAddtime,jdbcType=TIMESTAMP}
  </update>
</mapper>