<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWebSiteInfoMgBundle.dao.PsTzArtTpjTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtTpjT" >
    <id column="TZ_ATTACHSYSFILENA" property="tzAttachsysfilena" jdbcType="VARCHAR" />
    <result column="TZ_ATTACHFILE_NAME" property="tzAttachfileName" jdbcType="VARCHAR" />
    <result column="TZ_ATT_P_URL" property="tzAttPUrl" jdbcType="VARCHAR" />
    <result column="TZ_ATT_A_URL" property="tzAttAUrl" jdbcType="VARCHAR" />
    <result column="TZ_YS_ATTACHSYSNAM" property="tzYsAttachsysnam" jdbcType="VARCHAR" />
    <result column="TZ_SL_ATTACHSYSNAM" property="tzSlAttachsysnam" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_ATTACHSYSFILENA, TZ_ATTACHFILE_NAME, TZ_ATT_P_URL, TZ_ATT_A_URL, TZ_YS_ATTACHSYSNAM, 
    TZ_SL_ATTACHSYSNAM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_ART_TPJ_T
    where TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_ART_TPJ_T
    where TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtTpjT" >
    insert into PS_TZ_ART_TPJ_T (TZ_ATTACHSYSFILENA, TZ_ATTACHFILE_NAME, 
      TZ_ATT_P_URL, TZ_ATT_A_URL, TZ_YS_ATTACHSYSNAM, 
      TZ_SL_ATTACHSYSNAM)
    values (#{tzAttachsysfilena,jdbcType=VARCHAR}, #{tzAttachfileName,jdbcType=VARCHAR}, 
      #{tzAttPUrl,jdbcType=VARCHAR}, #{tzAttAUrl,jdbcType=VARCHAR}, #{tzYsAttachsysnam,jdbcType=VARCHAR}, 
      #{tzSlAttachsysnam,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtTpjT" >
    insert into PS_TZ_ART_TPJ_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzAttachsysfilena != null" >
        TZ_ATTACHSYSFILENA,
      </if>
      <if test="tzAttachfileName != null" >
        TZ_ATTACHFILE_NAME,
      </if>
      <if test="tzAttPUrl != null" >
        TZ_ATT_P_URL,
      </if>
      <if test="tzAttAUrl != null" >
        TZ_ATT_A_URL,
      </if>
      <if test="tzYsAttachsysnam != null" >
        TZ_YS_ATTACHSYSNAM,
      </if>
      <if test="tzSlAttachsysnam != null" >
        TZ_SL_ATTACHSYSNAM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzAttachsysfilena != null" >
        #{tzAttachsysfilena,jdbcType=VARCHAR},
      </if>
      <if test="tzAttachfileName != null" >
        #{tzAttachfileName,jdbcType=VARCHAR},
      </if>
      <if test="tzAttPUrl != null" >
        #{tzAttPUrl,jdbcType=VARCHAR},
      </if>
      <if test="tzAttAUrl != null" >
        #{tzAttAUrl,jdbcType=VARCHAR},
      </if>
      <if test="tzYsAttachsysnam != null" >
        #{tzYsAttachsysnam,jdbcType=VARCHAR},
      </if>
      <if test="tzSlAttachsysnam != null" >
        #{tzSlAttachsysnam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtTpjT" >
    update PS_TZ_ART_TPJ_T
    <set >
      <if test="tzAttachfileName != null" >
        TZ_ATTACHFILE_NAME = #{tzAttachfileName,jdbcType=VARCHAR},
      </if>
      <if test="tzAttPUrl != null" >
        TZ_ATT_P_URL = #{tzAttPUrl,jdbcType=VARCHAR},
      </if>
      <if test="tzAttAUrl != null" >
        TZ_ATT_A_URL = #{tzAttAUrl,jdbcType=VARCHAR},
      </if>
      <if test="tzYsAttachsysnam != null" >
        TZ_YS_ATTACHSYSNAM = #{tzYsAttachsysnam,jdbcType=VARCHAR},
      </if>
      <if test="tzSlAttachsysnam != null" >
        TZ_SL_ATTACHSYSNAM = #{tzSlAttachsysnam,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtTpjT" >
    update PS_TZ_ART_TPJ_T
    set TZ_ATTACHFILE_NAME = #{tzAttachfileName,jdbcType=VARCHAR},
      TZ_ATT_P_URL = #{tzAttPUrl,jdbcType=VARCHAR},
      TZ_ATT_A_URL = #{tzAttAUrl,jdbcType=VARCHAR},
      TZ_YS_ATTACHSYSNAM = #{tzYsAttachsysnam,jdbcType=VARCHAR},
      TZ_SL_ATTACHSYSNAM = #{tzSlAttachsysnam,jdbcType=VARCHAR}
    where TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR}
  </update>
</mapper>