<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tranzvision.gd.TZWebSiteInfoMgBundle.dao.PsTzLmNrGlTMapper">
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlT">
    <id column="TZ_SITE_ID" jdbcType="VARCHAR" property="tzSiteId" />
    <id column="TZ_COLU_ID" jdbcType="VARCHAR" property="tzColuId" />
    <id column="TZ_ART_ID" jdbcType="VARCHAR" property="tzArtId" />
    <result column="TZ_ART_NEWS_DT" jdbcType="TIMESTAMP" property="tzArtNewsDt" />
    <result column="TZ_ART_PUB_STATE" jdbcType="VARCHAR" property="tzArtPubState" />
    <result column="TZ_STATIC_ART_URL" jdbcType="VARCHAR" property="tzStaticArtUrl" />
    <result column="TZ_ART_SEQ" jdbcType="INTEGER" property="tzArtSeq" />
    <result column="TZ_MAX_ZD_SEQ" jdbcType="INTEGER" property="tzMaxZdSeq" />
    <result column="TZ_FBZ" jdbcType="VARCHAR" property="tzFbz" />
    <result column="TZ_BLT_DEPT" jdbcType="VARCHAR" property="tzBltDept" />
    <result column="TZ_LASTMANT_OPRID" jdbcType="VARCHAR" property="tzLastmantOprid" />
    <result column="TZ_LASTMANT_DTTM" jdbcType="TIMESTAMP" property="tzLastmantDttm" />
    <result column="TZ_ORGIN_ART_CHNL" jdbcType="VARCHAR" property="tzOrginArtChnl" />
    <result column="TZ_ORGIN_ART_ID" jdbcType="VARCHAR" property="tzOrginArtId" />
    <result column="TZ_ORGIN_REF_CHNL" jdbcType="VARCHAR" property="tzOrginRefChnl" />
    <result column="TZ_ORGIN_REFART_ID" jdbcType="VARCHAR" property="tzOrginRefartId" />
    <result column="TZ_STATIC_NAME" jdbcType="VARCHAR" property="tzStaticName" />
    <result column="TZ_STATIC_AOTO_NAME" jdbcType="VARCHAR" property="tzStaticAotoName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTWithBLOBs">
    <result column="TZ_ART_URL" jdbcType="LONGVARCHAR" property="tzArtUrl" />
    <result column="TZ_ART_HTML" jdbcType="LONGVARCHAR" property="tzArtHtml" />
    <result column="TZ_ART_SJ_HTML" jdbcType="LONGVARCHAR" property="tzArtSjHtml" />
    <result column="TZ_ART_CONENT_SCR" jdbcType="LONGVARCHAR" property="tzArtConentScr" />
    <result column="TZ_ART_SJ_CONT_SCR" jdbcType="LONGVARCHAR" property="tzArtSjContScr" />
  </resultMap>
  <sql id="Base_Column_List">
    TZ_SITE_ID, TZ_COLU_ID, TZ_ART_ID, TZ_ART_NEWS_DT, TZ_ART_PUB_STATE, TZ_STATIC_ART_URL, 
    TZ_ART_SEQ, TZ_MAX_ZD_SEQ, TZ_FBZ, TZ_BLT_DEPT, TZ_LASTMANT_OPRID, TZ_LASTMANT_DTTM, 
    TZ_ORGIN_ART_CHNL, TZ_ORGIN_ART_ID, TZ_ORGIN_REF_CHNL, TZ_ORGIN_REFART_ID, TZ_STATIC_NAME, 
    TZ_STATIC_AOTO_NAME
  </sql>
  <sql id="Blob_Column_List">
    TZ_ART_URL, TZ_ART_HTML, TZ_ART_SJ_HTML, TZ_ART_CONENT_SCR, TZ_ART_SJ_CONT_SCR
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_LM_NR_GL_T
    where TZ_SITE_ID = #{tzSiteId,jdbcType=VARCHAR}
      and TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR}
      and TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTKey">
    delete from PS_TZ_LM_NR_GL_T
    where TZ_SITE_ID = #{tzSiteId,jdbcType=VARCHAR}
      and TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR}
      and TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTWithBLOBs">
    insert into PS_TZ_LM_NR_GL_T (TZ_SITE_ID, TZ_COLU_ID, TZ_ART_ID, 
      TZ_ART_NEWS_DT, TZ_ART_PUB_STATE, TZ_STATIC_ART_URL, 
      TZ_ART_SEQ, TZ_MAX_ZD_SEQ, TZ_FBZ, 
      TZ_BLT_DEPT, TZ_LASTMANT_OPRID, TZ_LASTMANT_DTTM, 
      TZ_ORGIN_ART_CHNL, TZ_ORGIN_ART_ID, TZ_ORGIN_REF_CHNL, 
      TZ_ORGIN_REFART_ID, TZ_STATIC_NAME, TZ_STATIC_AOTO_NAME, 
      TZ_ART_URL, TZ_ART_HTML, TZ_ART_SJ_HTML, 
      TZ_ART_CONENT_SCR, TZ_ART_SJ_CONT_SCR)
    values (#{tzSiteId,jdbcType=VARCHAR}, #{tzColuId,jdbcType=VARCHAR}, #{tzArtId,jdbcType=VARCHAR}, 
      #{tzArtNewsDt,jdbcType=TIMESTAMP}, #{tzArtPubState,jdbcType=VARCHAR}, #{tzStaticArtUrl,jdbcType=VARCHAR}, 
      #{tzArtSeq,jdbcType=INTEGER}, #{tzMaxZdSeq,jdbcType=INTEGER}, #{tzFbz,jdbcType=VARCHAR}, 
      #{tzBltDept,jdbcType=VARCHAR}, #{tzLastmantOprid,jdbcType=VARCHAR}, #{tzLastmantDttm,jdbcType=TIMESTAMP}, 
      #{tzOrginArtChnl,jdbcType=VARCHAR}, #{tzOrginArtId,jdbcType=VARCHAR}, #{tzOrginRefChnl,jdbcType=VARCHAR}, 
      #{tzOrginRefartId,jdbcType=VARCHAR}, #{tzStaticName,jdbcType=VARCHAR}, #{tzStaticAotoName,jdbcType=VARCHAR}, 
      #{tzArtUrl,jdbcType=LONGVARCHAR}, #{tzArtHtml,jdbcType=LONGVARCHAR}, #{tzArtSjHtml,jdbcType=LONGVARCHAR}, 
      #{tzArtConentScr,jdbcType=LONGVARCHAR}, #{tzArtSjContScr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTWithBLOBs">
    insert into PS_TZ_LM_NR_GL_T
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tzSiteId != null">
        TZ_SITE_ID,
      </if>
      <if test="tzColuId != null">
        TZ_COLU_ID,
      </if>
      <if test="tzArtId != null">
        TZ_ART_ID,
      </if>
      <if test="tzArtNewsDt != null">
        TZ_ART_NEWS_DT,
      </if>
      <if test="tzArtPubState != null">
        TZ_ART_PUB_STATE,
      </if>
      <if test="tzStaticArtUrl != null">
        TZ_STATIC_ART_URL,
      </if>
      <if test="tzArtSeq != null">
        TZ_ART_SEQ,
      </if>
      <if test="tzMaxZdSeq != null">
        TZ_MAX_ZD_SEQ,
      </if>
      <if test="tzFbz != null">
        TZ_FBZ,
      </if>
      <if test="tzBltDept != null">
        TZ_BLT_DEPT,
      </if>
      <if test="tzLastmantOprid != null">
        TZ_LASTMANT_OPRID,
      </if>
      <if test="tzLastmantDttm != null">
        TZ_LASTMANT_DTTM,
      </if>
      <if test="tzOrginArtChnl != null">
        TZ_ORGIN_ART_CHNL,
      </if>
      <if test="tzOrginArtId != null">
        TZ_ORGIN_ART_ID,
      </if>
      <if test="tzOrginRefChnl != null">
        TZ_ORGIN_REF_CHNL,
      </if>
      <if test="tzOrginRefartId != null">
        TZ_ORGIN_REFART_ID,
      </if>
      <if test="tzStaticName != null">
        TZ_STATIC_NAME,
      </if>
      <if test="tzStaticAotoName != null">
        TZ_STATIC_AOTO_NAME,
      </if>
      <if test="tzArtUrl != null">
        TZ_ART_URL,
      </if>
      <if test="tzArtHtml != null">
        TZ_ART_HTML,
      </if>
      <if test="tzArtSjHtml != null">
        TZ_ART_SJ_HTML,
      </if>
      <if test="tzArtConentScr != null">
        TZ_ART_CONENT_SCR,
      </if>
      <if test="tzArtSjContScr != null">
        TZ_ART_SJ_CONT_SCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tzSiteId != null">
        #{tzSiteId,jdbcType=VARCHAR},
      </if>
      <if test="tzColuId != null">
        #{tzColuId,jdbcType=VARCHAR},
      </if>
      <if test="tzArtId != null">
        #{tzArtId,jdbcType=VARCHAR},
      </if>
      <if test="tzArtNewsDt != null">
        #{tzArtNewsDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzArtPubState != null">
        #{tzArtPubState,jdbcType=VARCHAR},
      </if>
      <if test="tzStaticArtUrl != null">
        #{tzStaticArtUrl,jdbcType=VARCHAR},
      </if>
      <if test="tzArtSeq != null">
        #{tzArtSeq,jdbcType=INTEGER},
      </if>
      <if test="tzMaxZdSeq != null">
        #{tzMaxZdSeq,jdbcType=INTEGER},
      </if>
      <if test="tzFbz != null">
        #{tzFbz,jdbcType=VARCHAR},
      </if>
      <if test="tzBltDept != null">
        #{tzBltDept,jdbcType=VARCHAR},
      </if>
      <if test="tzLastmantOprid != null">
        #{tzLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="tzLastmantDttm != null">
        #{tzLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzOrginArtChnl != null">
        #{tzOrginArtChnl,jdbcType=VARCHAR},
      </if>
      <if test="tzOrginArtId != null">
        #{tzOrginArtId,jdbcType=VARCHAR},
      </if>
      <if test="tzOrginRefChnl != null">
        #{tzOrginRefChnl,jdbcType=VARCHAR},
      </if>
      <if test="tzOrginRefartId != null">
        #{tzOrginRefartId,jdbcType=VARCHAR},
      </if>
      <if test="tzStaticName != null">
        #{tzStaticName,jdbcType=VARCHAR},
      </if>
      <if test="tzStaticAotoName != null">
        #{tzStaticAotoName,jdbcType=VARCHAR},
      </if>
      <if test="tzArtUrl != null">
        #{tzArtUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtHtml != null">
        #{tzArtHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtSjHtml != null">
        #{tzArtSjHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtConentScr != null">
        #{tzArtConentScr,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtSjContScr != null">
        #{tzArtSjContScr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTWithBLOBs">
    update PS_TZ_LM_NR_GL_T
    <set>
      <if test="tzArtNewsDt != null">
        TZ_ART_NEWS_DT = #{tzArtNewsDt,jdbcType=TIMESTAMP},
      </if>
      <if test="tzArtPubState != null">
        TZ_ART_PUB_STATE = #{tzArtPubState,jdbcType=VARCHAR},
      </if>
      <if test="tzStaticArtUrl != null">
        TZ_STATIC_ART_URL = #{tzStaticArtUrl,jdbcType=VARCHAR},
      </if>
      <if test="tzArtSeq != null">
        TZ_ART_SEQ = #{tzArtSeq,jdbcType=INTEGER},
      </if>
      <if test="tzMaxZdSeq != null">
        TZ_MAX_ZD_SEQ = #{tzMaxZdSeq,jdbcType=INTEGER},
      </if>
      <if test="tzFbz != null">
        TZ_FBZ = #{tzFbz,jdbcType=VARCHAR},
      </if>
      <if test="tzBltDept != null">
        TZ_BLT_DEPT = #{tzBltDept,jdbcType=VARCHAR},
      </if>
      <if test="tzLastmantOprid != null">
        TZ_LASTMANT_OPRID = #{tzLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="tzLastmantDttm != null">
        TZ_LASTMANT_DTTM = #{tzLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzOrginArtChnl != null">
        TZ_ORGIN_ART_CHNL = #{tzOrginArtChnl,jdbcType=VARCHAR},
      </if>
      <if test="tzOrginArtId != null">
        TZ_ORGIN_ART_ID = #{tzOrginArtId,jdbcType=VARCHAR},
      </if>
      <if test="tzOrginRefChnl != null">
        TZ_ORGIN_REF_CHNL = #{tzOrginRefChnl,jdbcType=VARCHAR},
      </if>
      <if test="tzOrginRefartId != null">
        TZ_ORGIN_REFART_ID = #{tzOrginRefartId,jdbcType=VARCHAR},
      </if>
      <if test="tzStaticName != null">
        TZ_STATIC_NAME = #{tzStaticName,jdbcType=VARCHAR},
      </if>
      <if test="tzStaticAotoName != null">
        TZ_STATIC_AOTO_NAME = #{tzStaticAotoName,jdbcType=VARCHAR},
      </if>
      <if test="tzArtUrl != null">
        TZ_ART_URL = #{tzArtUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtHtml != null">
        TZ_ART_HTML = #{tzArtHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtSjHtml != null">
        TZ_ART_SJ_HTML = #{tzArtSjHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtConentScr != null">
        TZ_ART_CONENT_SCR = #{tzArtConentScr,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtSjContScr != null">
        TZ_ART_SJ_CONT_SCR = #{tzArtSjContScr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_SITE_ID = #{tzSiteId,jdbcType=VARCHAR}
      and TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR}
      and TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlTWithBLOBs">
    update PS_TZ_LM_NR_GL_T
    set TZ_ART_NEWS_DT = #{tzArtNewsDt,jdbcType=TIMESTAMP},
      TZ_ART_PUB_STATE = #{tzArtPubState,jdbcType=VARCHAR},
      TZ_STATIC_ART_URL = #{tzStaticArtUrl,jdbcType=VARCHAR},
      TZ_ART_SEQ = #{tzArtSeq,jdbcType=INTEGER},
      TZ_MAX_ZD_SEQ = #{tzMaxZdSeq,jdbcType=INTEGER},
      TZ_FBZ = #{tzFbz,jdbcType=VARCHAR},
      TZ_BLT_DEPT = #{tzBltDept,jdbcType=VARCHAR},
      TZ_LASTMANT_OPRID = #{tzLastmantOprid,jdbcType=VARCHAR},
      TZ_LASTMANT_DTTM = #{tzLastmantDttm,jdbcType=TIMESTAMP},
      TZ_ORGIN_ART_CHNL = #{tzOrginArtChnl,jdbcType=VARCHAR},
      TZ_ORGIN_ART_ID = #{tzOrginArtId,jdbcType=VARCHAR},
      TZ_ORGIN_REF_CHNL = #{tzOrginRefChnl,jdbcType=VARCHAR},
      TZ_ORGIN_REFART_ID = #{tzOrginRefartId,jdbcType=VARCHAR},
      TZ_STATIC_NAME = #{tzStaticName,jdbcType=VARCHAR},
      TZ_STATIC_AOTO_NAME = #{tzStaticAotoName,jdbcType=VARCHAR},
      TZ_ART_URL = #{tzArtUrl,jdbcType=LONGVARCHAR},
      TZ_ART_HTML = #{tzArtHtml,jdbcType=LONGVARCHAR},
      TZ_ART_SJ_HTML = #{tzArtSjHtml,jdbcType=LONGVARCHAR},
      TZ_ART_CONENT_SCR = #{tzArtConentScr,jdbcType=LONGVARCHAR},
      TZ_ART_SJ_CONT_SCR = #{tzArtSjContScr,jdbcType=LONGVARCHAR}
    where TZ_SITE_ID = #{tzSiteId,jdbcType=VARCHAR}
      and TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR}
      and TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzLmNrGlT">
    update PS_TZ_LM_NR_GL_T
    set TZ_ART_NEWS_DT = #{tzArtNewsDt,jdbcType=TIMESTAMP},
      TZ_ART_PUB_STATE = #{tzArtPubState,jdbcType=VARCHAR},
      TZ_STATIC_ART_URL = #{tzStaticArtUrl,jdbcType=VARCHAR},
      TZ_ART_SEQ = #{tzArtSeq,jdbcType=INTEGER},
      TZ_MAX_ZD_SEQ = #{tzMaxZdSeq,jdbcType=INTEGER},
      TZ_FBZ = #{tzFbz,jdbcType=VARCHAR},
      TZ_BLT_DEPT = #{tzBltDept,jdbcType=VARCHAR},
      TZ_LASTMANT_OPRID = #{tzLastmantOprid,jdbcType=VARCHAR},
      TZ_LASTMANT_DTTM = #{tzLastmantDttm,jdbcType=TIMESTAMP},
      TZ_ORGIN_ART_CHNL = #{tzOrginArtChnl,jdbcType=VARCHAR},
      TZ_ORGIN_ART_ID = #{tzOrginArtId,jdbcType=VARCHAR},
      TZ_ORGIN_REF_CHNL = #{tzOrginRefChnl,jdbcType=VARCHAR},
      TZ_ORGIN_REFART_ID = #{tzOrginRefartId,jdbcType=VARCHAR},
      TZ_STATIC_NAME = #{tzStaticName,jdbcType=VARCHAR},
      TZ_STATIC_AOTO_NAME = #{tzStaticAotoName,jdbcType=VARCHAR}
    where TZ_SITE_ID = #{tzSiteId,jdbcType=VARCHAR}
      and TZ_COLU_ID = #{tzColuId,jdbcType=VARCHAR}
      and TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </update>
</mapper>