<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWebSiteInfoMgBundle.dao.PsTzArtFileTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtFileTKey" >
    <id column="TZ_ART_ID" property="tzArtId" jdbcType="VARCHAR" />
    <id column="TZ_ATTACHSYSFILENA" property="tzAttachsysfilena" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtFileTKey" >
    delete from PS_TZ_ART_FILE_T
    where TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
      and TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtFileTKey" >
    insert into PS_TZ_ART_FILE_T (TZ_ART_ID, TZ_ATTACHSYSFILENA)
    values (#{tzArtId,jdbcType=VARCHAR}, #{tzAttachsysfilena,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtFileTKey" >
    insert into PS_TZ_ART_FILE_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzArtId != null" >
        TZ_ART_ID,
      </if>
      <if test="tzAttachsysfilena != null" >
        TZ_ATTACHSYSFILENA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzArtId != null" >
        #{tzArtId,jdbcType=VARCHAR},
      </if>
      <if test="tzAttachsysfilena != null" >
        #{tzAttachsysfilena,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>