<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZOrganizationSiteMgBundle.dao.PsTzSiteiMnpfTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfT" >
    <id column="TZ_SITEI_ID" property="tzSiteiId" jdbcType="VARCHAR" />
    <id column="TZ_MENU_ID" property="tzMenuId" jdbcType="VARCHAR" />
    <id column="TZ_SKIN_ID" property="tzSkinId" jdbcType="VARCHAR" />
    <result column="TZ_SKIN_STATE" property="tzSkinState" jdbcType="VARCHAR" />
    <result column="TZ_SKIN_NAME" property="tzSkinName" jdbcType="VARCHAR" />
    <result column="TZ_TYPE_IMG" property="tzTypeImg" jdbcType="VARCHAR" />
    <result column="TZ_NOW_IMG" property="tzNowImg" jdbcType="VARCHAR" />
    <result column="TZ_MTYPE_IMG" property="tzMtypeImg" jdbcType="VARCHAR" />
    <result column="TZ_MNOW_IMG" property="tzMnowImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_SITEI_ID, TZ_MENU_ID, TZ_SKIN_ID, TZ_SKIN_STATE, TZ_SKIN_NAME, TZ_TYPE_IMG, TZ_NOW_IMG, 
    TZ_MTYPE_IMG, TZ_MNOW_IMG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_SITEI_MNPF_T
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_MENU_ID = #{tzMenuId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfTKey" >
    delete from PS_TZ_SITEI_MNPF_T
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_MENU_ID = #{tzMenuId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfT" >
    insert into PS_TZ_SITEI_MNPF_T (TZ_SITEI_ID, TZ_MENU_ID, TZ_SKIN_ID, 
      TZ_SKIN_STATE, TZ_SKIN_NAME, TZ_TYPE_IMG, 
      TZ_NOW_IMG, TZ_MTYPE_IMG, TZ_MNOW_IMG
      )
    values (#{tzSiteiId,jdbcType=VARCHAR}, #{tzMenuId,jdbcType=VARCHAR}, #{tzSkinId,jdbcType=VARCHAR}, 
      #{tzSkinState,jdbcType=VARCHAR}, #{tzSkinName,jdbcType=VARCHAR}, #{tzTypeImg,jdbcType=VARCHAR}, 
      #{tzNowImg,jdbcType=VARCHAR}, #{tzMtypeImg,jdbcType=VARCHAR}, #{tzMnowImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfT" >
    insert into PS_TZ_SITEI_MNPF_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID,
      </if>
      <if test="tzMenuId != null" >
        TZ_MENU_ID,
      </if>
      <if test="tzSkinId != null" >
        TZ_SKIN_ID,
      </if>
      <if test="tzSkinState != null" >
        TZ_SKIN_STATE,
      </if>
      <if test="tzSkinName != null" >
        TZ_SKIN_NAME,
      </if>
      <if test="tzTypeImg != null" >
        TZ_TYPE_IMG,
      </if>
      <if test="tzNowImg != null" >
        TZ_NOW_IMG,
      </if>
      <if test="tzMtypeImg != null" >
        TZ_MTYPE_IMG,
      </if>
      <if test="tzMnowImg != null" >
        TZ_MNOW_IMG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzSiteiId != null" >
        #{tzSiteiId,jdbcType=VARCHAR},
      </if>
      <if test="tzMenuId != null" >
        #{tzMenuId,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinId != null" >
        #{tzSkinId,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinState != null" >
        #{tzSkinState,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinName != null" >
        #{tzSkinName,jdbcType=VARCHAR},
      </if>
      <if test="tzTypeImg != null" >
        #{tzTypeImg,jdbcType=VARCHAR},
      </if>
      <if test="tzNowImg != null" >
        #{tzNowImg,jdbcType=VARCHAR},
      </if>
      <if test="tzMtypeImg != null" >
        #{tzMtypeImg,jdbcType=VARCHAR},
      </if>
      <if test="tzMnowImg != null" >
        #{tzMnowImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfT" >
    update PS_TZ_SITEI_MNPF_T
    <set >
      <if test="tzSkinState != null" >
        TZ_SKIN_STATE = #{tzSkinState,jdbcType=VARCHAR},
      </if>
      <if test="tzSkinName != null" >
        TZ_SKIN_NAME = #{tzSkinName,jdbcType=VARCHAR},
      </if>
      <if test="tzTypeImg != null" >
        TZ_TYPE_IMG = #{tzTypeImg,jdbcType=VARCHAR},
      </if>
      <if test="tzNowImg != null" >
        TZ_NOW_IMG = #{tzNowImg,jdbcType=VARCHAR},
      </if>
      <if test="tzMtypeImg != null" >
        TZ_MTYPE_IMG = #{tzMtypeImg,jdbcType=VARCHAR},
      </if>
      <if test="tzMnowImg != null" >
        TZ_MNOW_IMG = #{tzMnowImg,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_MENU_ID = #{tzMenuId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZOrganizationSiteMgBundle.model.PsTzSiteiMnpfT" >
    update PS_TZ_SITEI_MNPF_T
    set TZ_SKIN_STATE = #{tzSkinState,jdbcType=VARCHAR},
      TZ_SKIN_NAME = #{tzSkinName,jdbcType=VARCHAR},
      TZ_TYPE_IMG = #{tzTypeImg,jdbcType=VARCHAR},
      TZ_NOW_IMG = #{tzNowImg,jdbcType=VARCHAR},
      TZ_MTYPE_IMG = #{tzMtypeImg,jdbcType=VARCHAR},
      TZ_MNOW_IMG = #{tzMnowImg,jdbcType=VARCHAR}
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_MENU_ID = #{tzMenuId,jdbcType=VARCHAR}
      and TZ_SKIN_ID = #{tzSkinId,jdbcType=VARCHAR}
  </update>
</mapper>