<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZAdditionalFieldBundle.dao.PsTzFAttrOptTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptT" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="TZ_ATTRIBUTE_ID" property="tzAttributeId" jdbcType="VARCHAR" />
    <id column="TZ_DROP_DOWN_ID" property="tzDropDownId" jdbcType="VARCHAR" />
    <result column="TZ_DROP_DOWN_VALUE" property="tzDropDownValue" jdbcType="VARCHAR" />
    <result column="TZ_IS_USED" property="tzIsUsed" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, TZ_ATTRIBUTE_ID, TZ_DROP_DOWN_ID, TZ_DROP_DOWN_VALUE, TZ_IS_USED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_F_ATTR_OPT_T
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_ATTRIBUTE_ID = #{tzAttributeId,jdbcType=VARCHAR}
      and TZ_DROP_DOWN_ID = #{tzDropDownId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptTKey" >
    delete from PS_TZ_F_ATTR_OPT_T
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_ATTRIBUTE_ID = #{tzAttributeId,jdbcType=VARCHAR}
      and TZ_DROP_DOWN_ID = #{tzDropDownId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptT" >
    insert into PS_TZ_F_ATTR_OPT_T (TZ_JG_ID, TZ_ATTRIBUTE_ID, TZ_DROP_DOWN_ID, 
      TZ_DROP_DOWN_VALUE, TZ_IS_USED)
    values (#{tzJgId,jdbcType=VARCHAR}, #{tzAttributeId,jdbcType=VARCHAR}, #{tzDropDownId,jdbcType=VARCHAR}, 
      #{tzDropDownValue,jdbcType=VARCHAR}, #{tzIsUsed,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptT" >
    insert into PS_TZ_F_ATTR_OPT_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzAttributeId != null" >
        TZ_ATTRIBUTE_ID,
      </if>
      <if test="tzDropDownId != null" >
        TZ_DROP_DOWN_ID,
      </if>
      <if test="tzDropDownValue != null" >
        TZ_DROP_DOWN_VALUE,
      </if>
      <if test="tzIsUsed != null" >
        TZ_IS_USED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzAttributeId != null" >
        #{tzAttributeId,jdbcType=VARCHAR},
      </if>
      <if test="tzDropDownId != null" >
        #{tzDropDownId,jdbcType=VARCHAR},
      </if>
      <if test="tzDropDownValue != null" >
        #{tzDropDownValue,jdbcType=VARCHAR},
      </if>
      <if test="tzIsUsed != null" >
        #{tzIsUsed,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptT" >
    update PS_TZ_F_ATTR_OPT_T
    <set >
      <if test="tzDropDownValue != null" >
        TZ_DROP_DOWN_VALUE = #{tzDropDownValue,jdbcType=VARCHAR},
      </if>
      <if test="tzIsUsed != null" >
        TZ_IS_USED = #{tzIsUsed,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_ATTRIBUTE_ID = #{tzAttributeId,jdbcType=VARCHAR}
      and TZ_DROP_DOWN_ID = #{tzDropDownId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZAdditionalFieldBundle.model.PsTzFAttrOptT" >
    update PS_TZ_F_ATTR_OPT_T
    set TZ_DROP_DOWN_VALUE = #{tzDropDownValue,jdbcType=VARCHAR},
      TZ_IS_USED = #{tzIsUsed,jdbcType=VARCHAR}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_ATTRIBUTE_ID = #{tzAttributeId,jdbcType=VARCHAR}
      and TZ_DROP_DOWN_ID = #{tzDropDownId,jdbcType=VARCHAR}
  </update>
</mapper>