<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZZsCreOrorganizationBundle.dao.PsTzZsJGTBLMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBL" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="TZ_CERT_JG_ID" property="tzCertJgId" jdbcType="VARCHAR" />
    <result column="TZ_CERT_JG_NAME" property="tzCertJgName" jdbcType="VARCHAR" />
    <result column="TZ_LINKEDIN_EDU_ID" property="tzLinkedinEduId" jdbcType="VARCHAR" />
    <result column="TZ_USE_FLAG" property="tzUseFlag" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, TZ_CERT_JG_ID, TZ_CERT_JG_NAME, TZ_LINKEDIN_EDU_ID, TZ_USE_FLAG, ROW_ADDED_DTTM, 
    ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBLKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_JG_LINKEDIN_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_JG_ID = #{tzCertJgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBLKey" >
    delete from PS_TZ_JG_LINKEDIN_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_JG_ID = #{tzCertJgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBL" >
    insert into PS_TZ_JG_LINKEDIN_TBL (TZ_JG_ID, TZ_CERT_JG_ID, TZ_CERT_JG_NAME, 
      TZ_LINKEDIN_EDU_ID, TZ_USE_FLAG, ROW_ADDED_DTTM, 
      ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, 
      SYNCID, SYNCDTTM)
    values (#{tzJgId,jdbcType=VARCHAR}, #{tzCertJgId,jdbcType=VARCHAR}, #{tzCertJgName,jdbcType=VARCHAR}, 
      #{tzLinkedinEduId,jdbcType=VARCHAR}, #{tzUseFlag,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, 
      #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}, 
      #{syncid,jdbcType=INTEGER}, #{syncdttm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBL" >
    insert into PS_TZ_JG_LINKEDIN_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzCertJgId != null" >
        TZ_CERT_JG_ID,
      </if>
      <if test="tzCertJgName != null" >
        TZ_CERT_JG_NAME,
      </if>
      <if test="tzLinkedinEduId != null" >
        TZ_LINKEDIN_EDU_ID,
      </if>
      <if test="tzUseFlag != null" >
        TZ_USE_FLAG,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzCertJgId != null" >
        #{tzCertJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzCertJgName != null" >
        #{tzCertJgName,jdbcType=VARCHAR},
      </if>
      <if test="tzLinkedinEduId != null" >
        #{tzLinkedinEduId,jdbcType=VARCHAR},
      </if>
      <if test="tzUseFlag != null" >
        #{tzUseFlag,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBL" >
    update PS_TZ_JG_LINKEDIN_TBL
    <set >
      <if test="tzCertJgName != null" >
        TZ_CERT_JG_NAME = #{tzCertJgName,jdbcType=VARCHAR},
      </if>
      <if test="tzLinkedinEduId != null" >
        TZ_LINKEDIN_EDU_ID = #{tzLinkedinEduId,jdbcType=VARCHAR},
      </if>
      <if test="tzUseFlag != null" >
        TZ_USE_FLAG = #{tzUseFlag,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_JG_ID = #{tzCertJgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZZsCreOrorganizationBundle.model.PsTzZsJGTBL" >
    update PS_TZ_JG_LINKEDIN_TBL
    set TZ_CERT_JG_NAME = #{tzCertJgName,jdbcType=VARCHAR},
      TZ_LINKEDIN_EDU_ID = #{tzLinkedinEduId,jdbcType=VARCHAR},
      TZ_USE_FLAG = #{tzUseFlag,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_CERT_JG_ID = #{tzCertJgId,jdbcType=VARCHAR}
  </update>
</mapper>