<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZLeaguerDataItemBundle.dao.PsTzRegFieldTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldT" >
    <id column="TZ_SITEI_ID" property="tzSiteiId" jdbcType="VARCHAR" />
    <id column="TZ_REG_FIELD_ID" property="tzRegFieldId" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="TZ_RED_FLD_YSMC" property="tzRedFldYsmc" jdbcType="VARCHAR" />
    <result column="TZ_REG_FIELD_NAME" property="tzRegFieldName" jdbcType="VARCHAR" />
    <result column="TZ_ORDER" property="tzOrder" jdbcType="INTEGER" />
    <result column="TZ_ENABLE" property="tzEnable" jdbcType="VARCHAR" />
    <result column="TZ_IS_REQUIRED" property="tzIsRequired" jdbcType="VARCHAR" />
    <result column="TZ_SYSFIELD_FLAG" property="tzSysfieldFlag" jdbcType="VARCHAR" />
    <result column="TZ_FIELD_TYPE" property="tzFieldType" jdbcType="VARCHAR" />
    <result column="TZ_DEF_VAL" property="tzDefVal" jdbcType="VARCHAR" />
    <result column="TZ_YXBG_SRKLX" property="tzYxbgSrklx" jdbcType="VARCHAR" />
    <result column="TZ_IS_REG" property="tzIsReg" jdbcType="VARCHAR" />
    <result column="TZ_IS_PREFECT" property="tzIsPrefect" jdbcType="VARCHAR" />
    <result column="TZ_IS_SHOWWZSY" property="tzIsShowwzsy" jdbcType="VARCHAR" />
    <result column="TZ_IS_ZHGL" property="tzIsZhgl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_SITEI_ID, TZ_REG_FIELD_ID, TZ_JG_ID, TZ_RED_FLD_YSMC, TZ_REG_FIELD_NAME, TZ_ORDER, 
    TZ_ENABLE, TZ_IS_REQUIRED, TZ_SYSFIELD_FLAG, TZ_FIELD_TYPE, TZ_DEF_VAL, TZ_YXBG_SRKLX, 
    TZ_IS_REG, TZ_IS_PREFECT, TZ_IS_SHOWWZSY, TZ_IS_ZHGL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_REG_FIELD_T
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_REG_FIELD_ID = #{tzRegFieldId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldTKey" >
    delete from PS_TZ_REG_FIELD_T
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_REG_FIELD_ID = #{tzRegFieldId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldT" >
    insert into PS_TZ_REG_FIELD_T (TZ_SITEI_ID, TZ_REG_FIELD_ID, TZ_JG_ID, 
      TZ_RED_FLD_YSMC, TZ_REG_FIELD_NAME, TZ_ORDER, 
      TZ_ENABLE, TZ_IS_REQUIRED, TZ_SYSFIELD_FLAG, 
      TZ_FIELD_TYPE, TZ_DEF_VAL, TZ_YXBG_SRKLX, 
      TZ_IS_REG, TZ_IS_PREFECT, TZ_IS_SHOWWZSY, 
      TZ_IS_ZHGL)
    values (#{tzSiteiId,jdbcType=VARCHAR}, #{tzRegFieldId,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, 
      #{tzRedFldYsmc,jdbcType=VARCHAR}, #{tzRegFieldName,jdbcType=VARCHAR}, #{tzOrder,jdbcType=INTEGER}, 
      #{tzEnable,jdbcType=VARCHAR}, #{tzIsRequired,jdbcType=VARCHAR}, #{tzSysfieldFlag,jdbcType=VARCHAR}, 
      #{tzFieldType,jdbcType=VARCHAR}, #{tzDefVal,jdbcType=VARCHAR}, #{tzYxbgSrklx,jdbcType=VARCHAR}, 
      #{tzIsReg,jdbcType=VARCHAR}, #{tzIsPrefect,jdbcType=VARCHAR}, #{tzIsShowwzsy,jdbcType=VARCHAR}, 
      #{tzIsZhgl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldT" >
    insert into PS_TZ_REG_FIELD_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID,
      </if>
      <if test="tzRegFieldId != null" >
        TZ_REG_FIELD_ID,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzRedFldYsmc != null" >
        TZ_RED_FLD_YSMC,
      </if>
      <if test="tzRegFieldName != null" >
        TZ_REG_FIELD_NAME,
      </if>
      <if test="tzOrder != null" >
        TZ_ORDER,
      </if>
      <if test="tzEnable != null" >
        TZ_ENABLE,
      </if>
      <if test="tzIsRequired != null" >
        TZ_IS_REQUIRED,
      </if>
      <if test="tzSysfieldFlag != null" >
        TZ_SYSFIELD_FLAG,
      </if>
      <if test="tzFieldType != null" >
        TZ_FIELD_TYPE,
      </if>
      <if test="tzDefVal != null" >
        TZ_DEF_VAL,
      </if>
      <if test="tzYxbgSrklx != null" >
        TZ_YXBG_SRKLX,
      </if>
      <if test="tzIsReg != null" >
        TZ_IS_REG,
      </if>
      <if test="tzIsPrefect != null" >
        TZ_IS_PREFECT,
      </if>
      <if test="tzIsShowwzsy != null" >
        TZ_IS_SHOWWZSY,
      </if>
      <if test="tzIsZhgl != null" >
        TZ_IS_ZHGL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzSiteiId != null" >
        #{tzSiteiId,jdbcType=VARCHAR},
      </if>
      <if test="tzRegFieldId != null" >
        #{tzRegFieldId,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzRedFldYsmc != null" >
        #{tzRedFldYsmc,jdbcType=VARCHAR},
      </if>
      <if test="tzRegFieldName != null" >
        #{tzRegFieldName,jdbcType=VARCHAR},
      </if>
      <if test="tzOrder != null" >
        #{tzOrder,jdbcType=INTEGER},
      </if>
      <if test="tzEnable != null" >
        #{tzEnable,jdbcType=VARCHAR},
      </if>
      <if test="tzIsRequired != null" >
        #{tzIsRequired,jdbcType=VARCHAR},
      </if>
      <if test="tzSysfieldFlag != null" >
        #{tzSysfieldFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzFieldType != null" >
        #{tzFieldType,jdbcType=VARCHAR},
      </if>
      <if test="tzDefVal != null" >
        #{tzDefVal,jdbcType=VARCHAR},
      </if>
      <if test="tzYxbgSrklx != null" >
        #{tzYxbgSrklx,jdbcType=VARCHAR},
      </if>
      <if test="tzIsReg != null" >
        #{tzIsReg,jdbcType=VARCHAR},
      </if>
      <if test="tzIsPrefect != null" >
        #{tzIsPrefect,jdbcType=VARCHAR},
      </if>
      <if test="tzIsShowwzsy != null" >
        #{tzIsShowwzsy,jdbcType=VARCHAR},
      </if>
      <if test="tzIsZhgl != null" >
        #{tzIsZhgl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldT" >
    update PS_TZ_REG_FIELD_T
    <set >
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzRedFldYsmc != null" >
        TZ_RED_FLD_YSMC = #{tzRedFldYsmc,jdbcType=VARCHAR},
      </if>
      <if test="tzRegFieldName != null" >
        TZ_REG_FIELD_NAME = #{tzRegFieldName,jdbcType=VARCHAR},
      </if>
      <if test="tzOrder != null" >
        TZ_ORDER = #{tzOrder,jdbcType=INTEGER},
      </if>
      <if test="tzEnable != null" >
        TZ_ENABLE = #{tzEnable,jdbcType=VARCHAR},
      </if>
      <if test="tzIsRequired != null" >
        TZ_IS_REQUIRED = #{tzIsRequired,jdbcType=VARCHAR},
      </if>
      <if test="tzSysfieldFlag != null" >
        TZ_SYSFIELD_FLAG = #{tzSysfieldFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzFieldType != null" >
        TZ_FIELD_TYPE = #{tzFieldType,jdbcType=VARCHAR},
      </if>
      <if test="tzDefVal != null" >
        TZ_DEF_VAL = #{tzDefVal,jdbcType=VARCHAR},
      </if>
      <if test="tzYxbgSrklx != null" >
        TZ_YXBG_SRKLX = #{tzYxbgSrklx,jdbcType=VARCHAR},
      </if>
      <if test="tzIsReg != null" >
        TZ_IS_REG = #{tzIsReg,jdbcType=VARCHAR},
      </if>
      <if test="tzIsPrefect != null" >
        TZ_IS_PREFECT = #{tzIsPrefect,jdbcType=VARCHAR},
      </if>
      <if test="tzIsShowwzsy != null" >
        TZ_IS_SHOWWZSY = #{tzIsShowwzsy,jdbcType=VARCHAR},
      </if>
      <if test="tzIsZhgl != null" >
        TZ_IS_ZHGL = #{tzIsZhgl,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_REG_FIELD_ID = #{tzRegFieldId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzRegFieldT" >
    update PS_TZ_REG_FIELD_T
    set TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_RED_FLD_YSMC = #{tzRedFldYsmc,jdbcType=VARCHAR},
      TZ_REG_FIELD_NAME = #{tzRegFieldName,jdbcType=VARCHAR},
      TZ_ORDER = #{tzOrder,jdbcType=INTEGER},
      TZ_ENABLE = #{tzEnable,jdbcType=VARCHAR},
      TZ_IS_REQUIRED = #{tzIsRequired,jdbcType=VARCHAR},
      TZ_SYSFIELD_FLAG = #{tzSysfieldFlag,jdbcType=VARCHAR},
      TZ_FIELD_TYPE = #{tzFieldType,jdbcType=VARCHAR},
      TZ_DEF_VAL = #{tzDefVal,jdbcType=VARCHAR},
      TZ_YXBG_SRKLX = #{tzYxbgSrklx,jdbcType=VARCHAR},
      TZ_IS_REG = #{tzIsReg,jdbcType=VARCHAR},
      TZ_IS_PREFECT = #{tzIsPrefect,jdbcType=VARCHAR},
      TZ_IS_SHOWWZSY = #{tzIsShowwzsy,jdbcType=VARCHAR},
      TZ_IS_ZHGL = #{tzIsZhgl,jdbcType=VARCHAR}
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
      and TZ_REG_FIELD_ID = #{tzRegFieldId,jdbcType=VARCHAR}
  </update>
</mapper>