<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZLeaguerDataItemBundle.dao.PsTzUserregMbTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" >
    <id column="TZ_SITEI_ID" property="tzSiteiId" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="TZ_FABU_STATE" property="tzFabuState" jdbcType="VARCHAR" />
    <result column="TZ_ACTIVATE_TYPE" property="tzActivateType" jdbcType="VARCHAR" />
    <result column="TZ_IS_SHOW_PHOTO" property="tzIsShowPhoto" jdbcType="VARCHAR" />
    <result column="TZ_IS_SHOW_PHOTO_2" property="tzIsShowPhoto2" jdbcType="VARCHAR" />
    <result column="TZ_ENROLL_DIR" property="tzEnrollDir" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
    <result column="TZ_MLOGO_PATH" property="tzMlogoPath" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" extends="BaseResultMap" >
    <result column="TZ_REG_MB_HTML" property="tzRegMbHtml" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_SITEI_ID, TZ_JG_ID, TZ_FABU_STATE, TZ_ACTIVATE_TYPE, TZ_IS_SHOW_PHOTO, TZ_IS_SHOW_PHOTO_2, 
    TZ_ENROLL_DIR, ROW_ADDED_DTTM, ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, 
    SYNCID, SYNCDTTM, TZ_MLOGO_PATH
  </sql>
  <sql id="Blob_Column_List" >
    TZ_REG_MB_HTML
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_USERREG_MB_T
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_USERREG_MB_T
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" >
    insert into PS_TZ_USERREG_MB_T (TZ_SITEI_ID, TZ_JG_ID, TZ_FABU_STATE, 
      TZ_ACTIVATE_TYPE, TZ_IS_SHOW_PHOTO, TZ_IS_SHOW_PHOTO_2, 
      TZ_ENROLL_DIR, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
      ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, 
      SYNCDTTM, TZ_MLOGO_PATH, TZ_REG_MB_HTML
      )
    values (#{tzSiteiId,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, #{tzFabuState,jdbcType=VARCHAR}, 
      #{tzActivateType,jdbcType=VARCHAR}, #{tzIsShowPhoto,jdbcType=VARCHAR}, #{tzIsShowPhoto2,jdbcType=VARCHAR}, 
      #{tzEnrollDir,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, #{rowAddedOprid,jdbcType=VARCHAR}, 
      #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}, #{syncid,jdbcType=INTEGER}, 
      #{syncdttm,jdbcType=TIMESTAMP}, #{tzMlogoPath,jdbcType=VARCHAR}, #{tzRegMbHtml,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" >
    insert into PS_TZ_USERREG_MB_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzSiteiId != null" >
        TZ_SITEI_ID,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzFabuState != null" >
        TZ_FABU_STATE,
      </if>
      <if test="tzActivateType != null" >
        TZ_ACTIVATE_TYPE,
      </if>
      <if test="tzIsShowPhoto != null" >
        TZ_IS_SHOW_PHOTO,
      </if>
      <if test="tzIsShowPhoto2 != null" >
        TZ_IS_SHOW_PHOTO_2,
      </if>
      <if test="tzEnrollDir != null" >
        TZ_ENROLL_DIR,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
      <if test="tzMlogoPath != null" >
        TZ_MLOGO_PATH,
      </if>
      <if test="tzRegMbHtml != null" >
        TZ_REG_MB_HTML,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzSiteiId != null" >
        #{tzSiteiId,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzFabuState != null" >
        #{tzFabuState,jdbcType=VARCHAR},
      </if>
      <if test="tzActivateType != null" >
        #{tzActivateType,jdbcType=VARCHAR},
      </if>
      <if test="tzIsShowPhoto != null" >
        #{tzIsShowPhoto,jdbcType=VARCHAR},
      </if>
      <if test="tzIsShowPhoto2 != null" >
        #{tzIsShowPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="tzEnrollDir != null" >
        #{tzEnrollDir,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzMlogoPath != null" >
        #{tzMlogoPath,jdbcType=VARCHAR},
      </if>
      <if test="tzRegMbHtml != null" >
        #{tzRegMbHtml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" >
    update PS_TZ_USERREG_MB_T
    <set >
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzFabuState != null" >
        TZ_FABU_STATE = #{tzFabuState,jdbcType=VARCHAR},
      </if>
      <if test="tzActivateType != null" >
        TZ_ACTIVATE_TYPE = #{tzActivateType,jdbcType=VARCHAR},
      </if>
      <if test="tzIsShowPhoto != null" >
        TZ_IS_SHOW_PHOTO = #{tzIsShowPhoto,jdbcType=VARCHAR},
      </if>
      <if test="tzIsShowPhoto2 != null" >
        TZ_IS_SHOW_PHOTO_2 = #{tzIsShowPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="tzEnrollDir != null" >
        TZ_ENROLL_DIR = #{tzEnrollDir,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzMlogoPath != null" >
        TZ_MLOGO_PATH = #{tzMlogoPath,jdbcType=VARCHAR},
      </if>
      <if test="tzRegMbHtml != null" >
        TZ_REG_MB_HTML = #{tzRegMbHtml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" >
    update PS_TZ_USERREG_MB_T
    set TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_FABU_STATE = #{tzFabuState,jdbcType=VARCHAR},
      TZ_ACTIVATE_TYPE = #{tzActivateType,jdbcType=VARCHAR},
      TZ_IS_SHOW_PHOTO = #{tzIsShowPhoto,jdbcType=VARCHAR},
      TZ_IS_SHOW_PHOTO_2 = #{tzIsShowPhoto2,jdbcType=VARCHAR},
      TZ_ENROLL_DIR = #{tzEnrollDir,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      TZ_MLOGO_PATH = #{tzMlogoPath,jdbcType=VARCHAR},
      TZ_REG_MB_HTML = #{tzRegMbHtml,jdbcType=LONGVARCHAR}
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZLeaguerDataItemBundle.model.PsTzUserregMbT" >
    update PS_TZ_USERREG_MB_T
    set TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_FABU_STATE = #{tzFabuState,jdbcType=VARCHAR},
      TZ_ACTIVATE_TYPE = #{tzActivateType,jdbcType=VARCHAR},
      TZ_IS_SHOW_PHOTO = #{tzIsShowPhoto,jdbcType=VARCHAR},
      TZ_IS_SHOW_PHOTO_2 = #{tzIsShowPhoto2,jdbcType=VARCHAR},
      TZ_ENROLL_DIR = #{tzEnrollDir,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      TZ_MLOGO_PATH = #{tzMlogoPath,jdbcType=VARCHAR}
    where TZ_SITEI_ID = #{tzSiteiId,jdbcType=VARCHAR}
  </update>
</mapper>