<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZDataRequestBundle.dao.PsTzDataRequestTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZDataRequestBundle.model.PsTzDataRequestT" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TZ_NAME" property="tzName" jdbcType="VARCHAR" />
    <result column="TZ_EMAIL" property="tzEmail" jdbcType="VARCHAR" />
    <result column="TZ_CUR_LOCATION" property="tzCurLocation" jdbcType="VARCHAR" />
    <result column="TZ_PHONE" property="tzPhone" jdbcType="VARCHAR" />
    <result column="TZ_COMPANY" property="tzCompany" jdbcType="VARCHAR" />
    <result column="TZ_MESSAGE" property="tzMessage" jdbcType="VARCHAR" />
    <result column="TZ_REQUEST_TYPE" property="tzRequestType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TZ_NAME, TZ_EMAIL, TZ_CUR_LOCATION, TZ_PHONE, TZ_COMPANY, TZ_MESSAGE, TZ_REQUEST_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_DATA_REQUEST_T
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PS_TZ_DATA_REQUEST_T
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZDataRequestBundle.model.PsTzDataRequestT" >
    insert into PS_TZ_DATA_REQUEST_T (ID, TZ_NAME, TZ_EMAIL, 
      TZ_CUR_LOCATION, TZ_PHONE, TZ_COMPANY, 
      TZ_MESSAGE, TZ_REQUEST_TYPE)
    values (#{id,jdbcType=INTEGER}, #{tzName,jdbcType=VARCHAR}, #{tzEmail,jdbcType=VARCHAR}, 
      #{tzCurLocation,jdbcType=VARCHAR}, #{tzPhone,jdbcType=VARCHAR}, #{tzCompany,jdbcType=VARCHAR}, 
      #{tzMessage,jdbcType=VARCHAR}, #{tzRequestType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZDataRequestBundle.model.PsTzDataRequestT" >
    insert into PS_TZ_DATA_REQUEST_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tzName != null" >
        TZ_NAME,
      </if>
      <if test="tzEmail != null" >
        TZ_EMAIL,
      </if>
      <if test="tzCurLocation != null" >
        TZ_CUR_LOCATION,
      </if>
      <if test="tzPhone != null" >
        TZ_PHONE,
      </if>
      <if test="tzCompany != null" >
        TZ_COMPANY,
      </if>
      <if test="tzMessage != null" >
        TZ_MESSAGE,
      </if>
      <if test="tzRequestType != null" >
        TZ_REQUEST_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tzName != null" >
        #{tzName,jdbcType=VARCHAR},
      </if>
      <if test="tzEmail != null" >
        #{tzEmail,jdbcType=VARCHAR},
      </if>
      <if test="tzCurLocation != null" >
        #{tzCurLocation,jdbcType=VARCHAR},
      </if>
      <if test="tzPhone != null" >
        #{tzPhone,jdbcType=VARCHAR},
      </if>
      <if test="tzCompany != null" >
        #{tzCompany,jdbcType=VARCHAR},
      </if>
      <if test="tzMessage != null" >
        #{tzMessage,jdbcType=VARCHAR},
      </if>
      <if test="tzRequestType != null" >
        #{tzRequestType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZDataRequestBundle.model.PsTzDataRequestT" >
    update PS_TZ_DATA_REQUEST_T
    <set >
      <if test="tzName != null" >
        TZ_NAME = #{tzName,jdbcType=VARCHAR},
      </if>
      <if test="tzEmail != null" >
        TZ_EMAIL = #{tzEmail,jdbcType=VARCHAR},
      </if>
      <if test="tzCurLocation != null" >
        TZ_CUR_LOCATION = #{tzCurLocation,jdbcType=VARCHAR},
      </if>
      <if test="tzPhone != null" >
        TZ_PHONE = #{tzPhone,jdbcType=VARCHAR},
      </if>
      <if test="tzCompany != null" >
        TZ_COMPANY = #{tzCompany,jdbcType=VARCHAR},
      </if>
      <if test="tzMessage != null" >
        TZ_MESSAGE = #{tzMessage,jdbcType=VARCHAR},
      </if>
      <if test="tzRequestType != null" >
        TZ_REQUEST_TYPE = #{tzRequestType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZDataRequestBundle.model.PsTzDataRequestT" >
    update PS_TZ_DATA_REQUEST_T
    set TZ_NAME = #{tzName,jdbcType=VARCHAR},
      TZ_EMAIL = #{tzEmail,jdbcType=VARCHAR},
      TZ_CUR_LOCATION = #{tzCurLocation,jdbcType=VARCHAR},
      TZ_PHONE = #{tzPhone,jdbcType=VARCHAR},
      TZ_COMPANY = #{tzCompany,jdbcType=VARCHAR},
      TZ_MESSAGE = #{tzMessage,jdbcType=VARCHAR},
      TZ_REQUEST_TYPE = #{tzRequestType,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>