html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, img, q, dl, dt, dd, ol, ul, li, form, label, caption{
	margin: 0px;
	padding:0px;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration:none;
	font-size:100%;
}
*{ margin:0; padding:0;outline: 0;}
body{margin:0; padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px; }
div{ text-align:left;}
ul,ol,li{ list-style:none;}
img{ border:none;}
form{ margin:0px; padding:0px;}
input{ vertical-align:middle;}
a{blr:expression(this.onFocus=this.close());}
a{blr:expression(this.onFocus=this.blur());}
a:focus { outline:none;
     -moz-outline:none;}
td{ text-align:left; font-weight:normal; border-collapse:collapse;}
table{ border-spacing:0px;}
.clear{
	clear: both;
	font-size: 1px;
	visibility: hidden;
}
/*------------------header----------------*/

.header_outer_width{width:1060px; margin:auto auto; width:100%\9;}
.header_w{ width:100%;margin:0 auto; height:23px; background:#666666;}
.header_left{ width:561px; color:#fff; font-size:12px; float:left; height:23px;}
.header_left li{ float:left;padding-top:3px;_padding-top:4px;}
*+html .header_left li{padding-top:4px;}
.header_left a{ text-decoration:none; color:#fff; margin:0px 4px; font-family:"";}
.header_left a:hover{ color:#f00;}
.h_link{ margin-left:5px; background:url(../images/ico2.gif) no-repeat 55px 7px; padding-right:10px; margin-right:3px;}
.header_left span{ color:#666666;}
.header_right{ width:195px; _width:255px;float:right; background:#890000; height:23px; line-height:23px; color:#fff; font-size:12px;}
.header_right ul{ margin:0; padding:0;}
.header_right li{ float:right;}
.header_right li span{ color:#890000;}
.header_right a{ text-decoration:none; color:#fff; font-size:12px; margin:0px 3px;}
.header_right a:hover{ color:#f00;}

.header_right_en { width:420px; _width:420px;float:right; background:#890000; height:23px; line-height:23px; color:#fff; font-size:12px;}
.header_right_en ul{ margin:0; padding:0;}
.header_right_en li{ float:right;}
.header_right_en li span{ color:#890000;}
.header_right_en a{ text-decoration:none; color:#fff; font-size:12px; margin:0px 3px;}

.header_right_en a:hover{ color:#f00;}

.h_entor{ margin-right:10px;_margin-right:5px;margin-left:1px; background:url(../images/ico1.gif) no-repeat 0px 2px; padding-left:14px;}
.h_entor1{ margin-right:10px;_margin-right:5px;margin-left:3px; background:url(../images/ico001.gif) no-repeat 0px 3px; padding-left:18px;}
.banner_bg{
	width:100%;
	height:82px;
	margin:0 auto;
	background:url(../images/banner_bg.jpg) repeat-x top;
}
.banner_left{ float:left; width:285px}
.banner_left img{ border:none; margin:0px 0px 0px 0px;}
.banner_middle{ width:450px; float:left; height:72px;position:relative; text-align:center}
.banner_middle img{ border:none; margin:0px 0px 0px 0px;}
.banner_middle_en{ width:600px; float:left; height:82px;position:relative; text-align:center}
.banner_middle_en img{ border:none; margin:30px 0px 0px 0px;}
.banner_right{  float:right; text-align:right; height:82px;}
.banner_right img{ border:none; margin-right: 0px;_margin-right: 0px;}
v\:* { behavior: url(#default#VML); } 
.dfbz tr td{ font-size:13px}

/*head and footer*/
.main {
    padding: 0px;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: auto;
    overflow-x: hidden;
}
.top_main {
    padding: 0px;
    /* height: 110px; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background:#b1193b;
}
.top_main ul {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.top_main ul li {
    font-size: 14px;
    color: #fff;
    margin: 10px 15px;
    float: left;
}
.footer{
	width: 100%;
	height:58px;
	background:#9b0000;
}
.footer p {
    color: #f2f2f2;
    font-size: 12px;
    line-height: 58px;
    text-align: center;
}

/*override Ext styles*/
.x-btn-default-small{
	background-color:#b1193b!important;
	border-color:#b1193b!important;
}
.x-title-text{
	color:#333!important;
}
.x-grid-td {
    vertical-align: middle!important;
}
.x-mask{
	z-index:200!important;
}

/*Tip Style*/
.ui-tooltip{
	-webkit-border-radius: 2px!important;
    border-radius: 2px!important;
    -webkit-box-shadow: 0 0 12px #999!important;
    -moz-box-shadow: 0 0 12px #999!important;
    box-shadow: 0 0 12px #999!important;
}
.ui-tooltip-wiki{
	max-width:1050px!important;
}
.ui-tooltip-content{
	max-height:500px!important;
	overflow-y:auto!important;
	padding:8px!important;
}
.ui-tooltip-tipped {
    border: 2px solid #e6e6e6!important;
    }
.ui-tooltip-title{
	color:#333!important;
	}
.ui-tooltip-tipped .ui-tooltip-titlebar {
	padding-top:12px;
	height:15px;
	font-weight:normal;
	font-size:15px!important;
    border-bottom-width: 0!important;
    color: white!important;
    background: #e6e6e6!important;
    background-image: -moz-linear-gradient(top,#e6e6e6,#e6e6e6)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#e6e6e6))!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6,endColorstr=#e6e6e6)!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6,endColorstr=#e6e6e6)"!important;
}
.ui-tooltip-tipped .ui-tooltip-icon {
    border: 2px solid #e6e6e6!important;
    background: #e6e6e6!important;
}


/*Agree Style*/
.agree_main {
    padding:0;
    width:1000px;
    margin-top:19px;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    height:100%;
}

.agree_content {
    margin: 10px;
}

.agree_btn {
    background-color: #b1193b!important;
    border-color: #b1193b!important;
    color: #fff;
    width: 120px;
    height: 25px;
    border: none;
    font-family: Yahei, 微软雅黑, Arial;
}