<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZOrganizationOutSiteMgBundle.dao.PsTzArtTypeTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZOrganizationOutSiteMgBundle.model.PsTzArtTypeT" >
    <id column="TZ_ART_TYPE_ID" property="tzArtTypeId" jdbcType="VARCHAR" />
    <result column="TZ_ART_TYPE_NAME" property="tzArtTypeName" jdbcType="VARCHAR" />
    <result column="IS_ENABLED_FLG" property="isEnabledFlg" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_ART_TYPE_ID, TZ_ART_TYPE_NAME, IS_ENABLED_FLG, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
    ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_ART_TYPE_T
    where TZ_ART_TYPE_ID = #{tzArtTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_ART_TYPE_T
    where TZ_ART_TYPE_ID = #{tzArtTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZOrganizationOutSiteMgBundle.model.PsTzArtTypeT" >
    insert into PS_TZ_ART_TYPE_T (TZ_ART_TYPE_ID, TZ_ART_TYPE_NAME, IS_ENABLED_FLG, 
      ROW_ADDED_DTTM, ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, 
      ROW_LASTMANT_OPRID)
    values (#{tzArtTypeId,jdbcType=VARCHAR}, #{tzArtTypeName,jdbcType=VARCHAR}, #{isEnabledFlg,jdbcType=VARCHAR}, 
      #{rowAddedDttm,jdbcType=TIMESTAMP}, #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, 
      #{rowLastmantOprid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZOrganizationOutSiteMgBundle.model.PsTzArtTypeT" >
    insert into PS_TZ_ART_TYPE_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzArtTypeId != null" >
        TZ_ART_TYPE_ID,
      </if>
      <if test="tzArtTypeName != null" >
        TZ_ART_TYPE_NAME,
      </if>
      <if test="isEnabledFlg != null" >
        IS_ENABLED_FLG,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzArtTypeId != null" >
        #{tzArtTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tzArtTypeName != null" >
        #{tzArtTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isEnabledFlg != null" >
        #{isEnabledFlg,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZOrganizationOutSiteMgBundle.model.PsTzArtTypeT" >
    update PS_TZ_ART_TYPE_T
    <set >
      <if test="tzArtTypeName != null" >
        TZ_ART_TYPE_NAME = #{tzArtTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isEnabledFlg != null" >
        IS_ENABLED_FLG = #{isEnabledFlg,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_ART_TYPE_ID = #{tzArtTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZOrganizationOutSiteMgBundle.model.PsTzArtTypeT" >
    update PS_TZ_ART_TYPE_T
    set TZ_ART_TYPE_NAME = #{tzArtTypeName,jdbcType=VARCHAR},
      IS_ENABLED_FLG = #{isEnabledFlg,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR}
    where TZ_ART_TYPE_ID = #{tzArtTypeId,jdbcType=VARCHAR}
  </update>
</mapper>