<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZDistributionTableBundle.dao.PsTzFbdzTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZDistributionTableBundle.model.PsTzFbdzTbl" >
    <id column="TZ_M_FBDZ_ID" property="tzMFbdzId" jdbcType="VARCHAR" />
    <result column="TZ_M_FBDZ_NAME" property="tzMFbdzName" jdbcType="VARCHAR" />
    <result column="TZ_M_FBDZ_ZT" property="tzMFbdzZt" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_M_FBDZ_ID, TZ_M_FBDZ_NAME, TZ_M_FBDZ_ZT, TZ_JG_ID, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
    ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_FBDZ_TBL
    where TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_FBDZ_TBL
    where TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZDistributionTableBundle.model.PsTzFbdzTbl" >
    insert into PS_TZ_FBDZ_TBL (TZ_M_FBDZ_ID, TZ_M_FBDZ_NAME, TZ_M_FBDZ_ZT, 
      TZ_JG_ID, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
      ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, 
      SYNCDTTM)
    values (#{tzMFbdzId,jdbcType=VARCHAR}, #{tzMFbdzName,jdbcType=VARCHAR}, #{tzMFbdzZt,jdbcType=VARCHAR}, 
      #{tzJgId,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, #{rowAddedOprid,jdbcType=VARCHAR}, 
      #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}, #{syncid,jdbcType=INTEGER}, 
      #{syncdttm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZDistributionTableBundle.model.PsTzFbdzTbl" >
    insert into PS_TZ_FBDZ_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzMFbdzId != null" >
        TZ_M_FBDZ_ID,
      </if>
      <if test="tzMFbdzName != null" >
        TZ_M_FBDZ_NAME,
      </if>
      <if test="tzMFbdzZt != null" >
        TZ_M_FBDZ_ZT,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzMFbdzId != null" >
        #{tzMFbdzId,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzName != null" >
        #{tzMFbdzName,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzZt != null" >
        #{tzMFbdzZt,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZDistributionTableBundle.model.PsTzFbdzTbl" >
    update PS_TZ_FBDZ_TBL
    <set >
      <if test="tzMFbdzName != null" >
        TZ_M_FBDZ_NAME = #{tzMFbdzName,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzZt != null" >
        TZ_M_FBDZ_ZT = #{tzMFbdzZt,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZDistributionTableBundle.model.PsTzFbdzTbl" >
    update PS_TZ_FBDZ_TBL
    set TZ_M_FBDZ_NAME = #{tzMFbdzName,jdbcType=VARCHAR},
      TZ_M_FBDZ_ZT = #{tzMFbdzZt,jdbcType=VARCHAR},
      TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP}
    where TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </update>
</mapper>