@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

input[disabled="disabled"]{color:#666;}

body {
	font-family: "Microsoft Yahei", "arial,sans-serif";
	background-color: #f1f1f1;
}

ul, ol, li {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
	display: block;
}

.clearfix {
	overflow: hidden;
}

.clear:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}

.clear { *+
	height: 1%;
	*zoom: 1;
	_zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.width_40 {
	width: 40%;
}

.overhidden {
	overflow: hidden;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.dis_block {
	display: block;
}

.dis_none {
	display: none;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
}

.viewport-adaptive {
	width: 100%;
	min-width: 320px;
	max-width: 750px;
	margin: 0 auto;
	height: auto;
}

.bg {
	width: 100%;
	position: relative;
	background-color: #f1f1f1;
	height: auto;
}

.topbar {
	position: relative;
	width: 100%;
	height: 2.2rem;
	background: #fff;
	font-size: 0.6rem;
	line-height: 2.2rem;
	text-align: center;
	color: #fff;
}

.cd-top {
	opacity: 0;
}

.cd-top img {
	display: block;
	max-width: 10%;
	height: auto;
	width: 100%;
	position: fixed;
	bottom: 80px;
	right: 5px;
}

.pos-rela {
	position: relative;
}

.mainright-box {
	padding: 15px;
	background: #fcfcfc;
	border: 1px solid #dadbdd;
}

.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}

.input-line {
	border-bottom: dashed 1px #dadbdd;
	padding-bottom: 15px;
}

.input-list {
	margin-top: 15px;
	white-space: nowrap;
}

.cd-top.cd-fade-out {
	opacity: 1;
}

.re_his {
	display: block;
	height: 2rem;
	width: 12%;
	position: absolute;
	background: url(../../../images/appeditor/m/return.png) no-repeat center
		center;
	background-size: 30%;
	left: 0;
	top: 0;
}

.topbar {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 750px;
	height: 2rem;
	background: #fff;
	border-bottom: 1px solid #ddd;
	color: #fff;
	font-size: 0.64rem;
	line-height: 2rem;
	text-align: center;
	z-index: 150;
}

.topbar i {
	display: block;
	height: 2rem;
	width: 12%;
	position: absolute;
	background: url(../../../images/appeditor/m/home.png) no-repeat center
		center;
	background-size: 50%;
	left: 0;
	top: 0;
}

.topbar2 i {
	display: block;
	height: 2rem;
	width: 12%;
	position: absolute;
	background: url(/statics/images/appeditor/m/return.png) no-repeat center
		center;
	background-size: 30%;
	left: 0;
	top: 0;
}

.school_pop {
	display: block;
	width: 100%;
	height: auto;
	margin: 3% auto;
	background-color: #fff;
	border-radius: 0.3rem;
}

.pop_search {
	width: 94%;
	margin: 2% auto;
	overflow: hidden;
}

.pop_search i { /*margin-top:2%;*/
	float: right;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background: url(/statics/images/appeditor/m/pop_se.png) no-repeat center
		center;
	background-color: #b1193b;
	border-radius: 5px;
	background-size: 70%;
}

.pop_chose {
	width: 94%;
	margin: 4% auto;
	font-size: 0.6rem;
	color: #333;
	border-bottom: 1px solid #ddd;
	padding-bottom: 2%;
}

.country_pop {
	display: block;
	width: 100%;
	height: auto;
	background-color: #fff;
	border-radius: 0.3rem;
	margin: 3% auto;
}

.chose_list {
	width: 94%;
	margin: 2% auto;
	font-size: 0.54rem;
	color: #666;
	overflow: hidden;
}

.pop_tit {
	width: 94%;
	height: auto;
	margin: 2% auto;
	font-size: 0.6rem;
	color: #b1193b;
	overflow: hidden;
}

.topbar_prov {
	position: relative;
	width: 100%;
	height: 2.2rem;
	background-color: #b1193b;
	background-size: 100%;
	font-size: 0.6rem;
	line-height: 2.2rem;
	text-align: center;
	color: #F8F8FF;
}

.topbar_prov i {
	display: block;
	height: 2.2rem;
	width: 10%;
	position: absolute;
	background: url(/statics/images/appeditor/m/return.png) no-repeat center
		center;
	background-size: 30%;
	left: 0;
	top: 0;
}

.topbar_sch {
	position: relative;
	width: 100%;
	height: 2.2rem;
	background: url(/statics/images/appeditor/m/top_bar.png) no-repeat 0 0;
	background-size: 100%;
	font-size: 0.6rem;
	line-height: 2.2rem;
	text-align: center;
	color: #2d5c9f;
}

.login_btn {
	margin: 4% auto;
	width: 100%;
	height: 2rem;
	background-color: #b1193b;
	color: #fff;
	font-size: 0.6rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 0.3rem;
}

.drop {
	border-bottom: 1px solid #ddd;
	z-index: 1000;
	display: block;
	height: 2rem;
	width: 2rem;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	/*border-left: 1px solid #ddd;*/
}

.top-nav em {
	display: block;
	height: 2rem;
	width: 100%;
	background: url(../../../images/appeditor/m/toggle.png) no-repeat center
		center;
	background-size: 45%;
}

.se_tit {
	color: #b1193b;
	font-size: 0.64rem;
	border-left: 2px solid #b1193b;
	width: 94%;
	margin: 2.6rem auto 0.6rem;
	line-height: 0.6rem;
	padding-left: 5px;
}

.index_body {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding-bottom: 20px;
}

.shuom {
	color: #333;
	font-size: 0.6rem;
	line-height: 1rem;
}

.w_96 {
	width: 94%;
	margin: 0 auto;
	padding-top: 5px;
}

.shuom a {
	color: #b1193b;
}

.btn {
	width: 100%;
	height: auto;
	margin: 10px auto 0;
	overflow: hidden;
	background-color: #fff;
	padding: 10px 0;
}

.btn_left {
	vertical-align: middle;
	width: 47%;
	float: left;
	font-size: 0.56rem;
	margin-left: 2%;
	background-color: #ff7b05;
	padding: 8px 0;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.btn_right {
	vertical-align: middle;
	width: 47%;
	float: right;
	font-size: 0.56rem;
	margin-right: 2%;
	background-color: #b1193b;
	padding: 8px 0;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.btn img {
	display: inline-block;
	vertical-align: middle;
	max-width: 10%;
	height: auto;
	width: 100%;
}
/*index2*/
.item {
	width: 100%;
	height: auto;
	margin: 5px auto 10px;
}

.item p {
	color: #333;
	font-size: 0.66rem;
	margin-bottom: 10px;
}

.item span {
	color: #b1193b;
	font-size: 0.6rem;
}
/*.photo{display:inline-block;}*/
.photo img {
	display: block;
	max-width: 40%;
	height: auto;
	width: 100%;
}

.sex {
	width: 100%;
	overflow: hidden;
	font-size: 0.6rem;
}

.sex li {
	float: left;
	width: 20%;
}

.sex li:first-child {
	margin-left: 30%;
}

.text-box {
	width: 100%;
	height: 1.5rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}

input[type="text"], input[type="password"] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-indent: 8px;
	width: 98%;
	vertical-align: middle;
	border: none;
	height: 1.5rem;
	font-size: 0.66rem;
	color: #666;
	line-height: 1.5rem;
	background-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type="text"], input[type="password"]:focus {
	border: none;
}

.pop_city {
	width: 100%;
	height: auto;
}

.city {
	margin-bottom: 20px;
}

.city ul {
	width: 100%;
	overflow: hidden;
	margin: 5px auto;
}

.city ul li {
	width: 32%;
	float: left;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	color: #666;
	text-align: center;
	padding: 8px 0;
	border-radius: 5px;
}

.city ul li:nth-child(2) {
	margin: 0 1% 0 1%;
}

.city .on {
	color: #fff;
	background-color: #b1193b;
}

.pop_btn {
	width: 100%;
	padding: 8px 0;
	text-align: center;
	font-size: 0.6rem;
	color: #fff;
	background-color: #b1193b;
	border-radius: 5px;
	margin: 5px auto;
}

.country {
	margin-bottom: 20px;
}

.country ul {
	width: 100%;
	overflow: hidden;
	margin: 5px auto;
}

.country ul li {
	width: 48%;
	float: left;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	color: #666;
	text-align: center;
	padding: 8px 0;
	border-radius: 5px;
}

.country ul li:nth-child(1) {
	margin-right: 2%;
}

.country ul li:nth-child(2) {
	float: right
}

.country .on {
	color: #fff;
	background-color: #b1193b;
}

.text-box i {
	width: 1.5rem;
	height: 1.5rem;
	background: url(../../../images/appeditor/m/fangda.png) no-repeat center
		center;
	background-size: 60%;
	top: 0;
	right: 5px;
}

.emergency {
	color: #b1193b !important;
}

.btn1 {
	width: 100%;
	height: auto;
	margin: 10px auto 0;
	overflow: hidden;
	background-color: #fff;
	padding: 10px 0;
}

.btn1 img {
	display: inline-block;
	vertical-align: middle;
	max-width: 15%;
	height: auto;
	width: 100%;
}

.btn1 li {
	vertical-align: middle;
	width: 31%;
	float: left;
	font-size: 0.56rem;
	margin: 0 0% 0 1.75%;
	background-color: #b1193b;
	padding: 8px 0;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.btn1 li:nth-child(2) {
	background-color: #ff7b05;
}

/*index3*/
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	margin-right: 5px;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.check-box ul li {
	margin: 5px auto 10px;
}

.check-box ul li label {
	display: inline-block;
	font-size: 0.58rem;
	line-height: 0.7rem;
	color: #666;
	vertical-align: middle;
}

.company  li {
	margin: 5px auto 10px;
}

.company  li label {
	display: inline-block;
	font-size: 0.58rem;
	line-height: 0.7rem;
	color: #666;
	vertical-align: middle;
}

.tjx {
	overflow: hidden;
}

.tjx  li {
	width: 50%;
	float: left;
	text-align: center;
}

.tjx  li label {
	display: inline-block;
	font-size: 0.58rem;
	line-height: 0.7rem;
	color: #666;
	vertical-align: middle;
}

.text2 {
	vertical-align: middle;
	border-radius: 5px;
	display: inline-block;
	box-sizing: border-box;
	width: 80% !important;
	border: 1px solid #ddd !important;
}

textarea {
	border: none;
	font-size: 0.6rem;
	line-height: 1rem;
	width: 100%;
	background-color: transparent;
	min-height: 4rem;
	text-indent: 8px;
	padding-top: 3px;
	color: #666;
}

.next_record {
	width: 100%;
}

.btn_delete {
	display: inline-block;
	vertical-align: middle;
	margin-top: -6px;
	padding: 8px 10px;
	text-align: center;
	font-size: 0.6rem;
	color: #aa1133;
	border: 1px dashed #aa1133;
	background-color: #ffe5eb;
	float: right;
}

.btn_delete img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	max-width: 20%;
	height: auto;
	width: 100%;
}

.add_next {
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	padding: 8px 10px;
	text-align: center;
	font-size: 0.6rem;
	color: #e06a00;
	border: 1px dashed #e06a00;
	background-color: #ffead8;
	float: right;
}

.add_save {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	padding: 8px 10px;
	text-align: center;
	font-size: 0.6rem;
	color: #2ca01c;
	border: 1px dashed #2ca01c;
	background-color: #defeda;
	float: right;
}

select {
	border: none;
	background-color: transparent;
	width: 100%;
	height: 1.5rem;
	font-size: 0.66rem;
	color: #666;
	line-height: 1.5rem;
	text-indent: 4px;
	/*background: url(../../../images/appeditor/m/select.png) no-repeat scroll right center transparent;*/
}

.shuom a {
	display: inline-block;
	color: #ff7b05;
}

.tips {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.tips i {
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../../../images/appeditor/m/gantan.png) no-repeat center
		center;
	background-size: 90%;
	vertical-align: middle;
}

.tips span {
	color: #ff7b05;
	font-size: 0.5rem;
	line-height: 0.8rem;
	display: inline-block;
	vertical-align: middle;
}

.finish {
	text-align: center;
	font-size: 0.66rem;
	color: #333;
	margin-bottom: 10px;
}

.finish span {
	color: #b1193b;
}

.se_tit1 {
	color: #b1193b;
	font-size: 0.64rem;
	border-left: 2px solid #b1193b;
	width: 94%;
	margin: 10px auto;
	line-height: 0.6rem;
	padding-left: 5px;
}

.slide_nav {
	z-index: 99999;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.nav_open {
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	top: 0;
	left: 0;
}

.nav {
	background-color: #fff;
	height: auto;
	width: 100%;
	z-index: 111111;
	position: absolute;
	top: 0;
	left: 0;
}

.nav_tit {
	width: 100%;
	height: 2rem;
	overflow: hidden;
	color: #333;
	font-size: 0.7rem;
	line-height: 2rem;
	text-indent: 8px;
}

.nav_tit i {
	display: block;
	height: 2rem;
	width: 12%;
	float: right;
	background: url(../../../images/appeditor/m/toggle_slide.png) no-repeat
		center center;
	background-size: 50%;
}

.table_style1 {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border: 1px solid #eee;
	border-collapse: collapse;
	color: #666;
	font-size: 0.6rem;
	border-left: none;
	border-right: none;
}

.table_style1 td {
	border: 1px solid #dadada;
	text-align: center;
	padding: 10px 5px;
}

.table_style1 thead tr {
	background-color: #e7ceeb !important;
}

.table_style1 tbody tr {
	font-size: 12px;
	background-color: #fff;
}

.table_style1 tbody img {
	display: block;
	margin: 2px auto;
}

.table_style1 tbody tr td:first-child {
	border-left: none;
}

.table_style1 tbody tr td:nth-child(3) {
	border-right: none;
}

.table_style1 tbody tr td a {
	color: #666;
}

/*图片上传*/
.ncsc-goods-default-pic {
	overflow: hidden;
}

.upload-thumb {
	line-height: 0;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 120px;
	height: 120px;
	border: solid 1px #F5F5F5;
	overflow: hidden;
}

.goodspic-uplaod .handle {
	height: 30px;
}

.ncsc-upload-btn-p {
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	font-size: 0.6rem;
	background-color: #ff7b05;
	color: #fff;
	text-align: center;
	padding: 8px 10px;
	position: absolute;
	left: 0px;
	top: -10px;
	z-index: 1;
	margin-top: 10px;
}

.ncsc-upload-btn-p img {
	display: inline-block;
	max-width: 30%;
	height: auto;
	width: 100%;
	vertical-align: middle;
	margin-left: 5px;
}

.ncsc-upload-btn-a {
	display: block;
	position: relative;
	z-index: 1;
}

.ncsc-upload-btn .input-file {
	width: 80px;
	height: 30px;
	padding: 0;
	margin: 0;
	border: none 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
}

.ncsc-upload-btn-span {
	width: 80px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	cursor: pointer;
}

.upload_list {
	width: 100%;
	height: auto;
	margin: 5px auto;
	background-color: #f2f2f2;
	border: 1px dashed #999;
}

.upload_list p {
	font-size: 0.56rem;
	color: #ff7b05;
	margin: 5px 0 5px 5px;
}

.upload_list li {
	margin: 5px 0 5px 5px;
	overflow: hidden;
}

.upload_list li span {
	color: #999;
	font-size: 0.56rem;
	line-height: 1rem;
	float: left;
}

.upload_list li i {
	width: 1rem;
	height: 1rem;
	background: url(../../../images/appeditor/m/de.png) no-repeat center
		center;
	background-size: 60%;
	float: right;
}

.top-nav {
	height: 2rem;
	/*border-bottom: 1px solid #dddddd;*/
	border-bottom: 1px solid #ddd;
	position: relative;
	margin-bottom: 1rem;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 999;
	max-width: 750px;
	width: 88%;
}

.top-nav .swiper-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 2rem;
}

.swiper-slide {
	text-align: center;
	position: relative;
}

.swiper-slide {
	font-size: 0.66rem;
	color: #333;
	line-height: 2rem;
	display: inline-block;
	padding:0 15px;
}



.swiper-slide a:hover {
	color: #b1193b;
	display: inline-block;
}

.swiper-wrapper .active {
	border-bottom: 2px solid #b1193b;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.swiper-wrapper .active {
	color: #b1193b;
}

.top-nav ul li .hook {
	width: 1rem;
	height: 1rem;
	position: absolute;
	background: url(../../../images/appeditor/m/hook.png) top center
		no-repeat;
	background-size: 1rem 1rem;
	top: 0.8rem;
	right: 2rem;
}

.complete_img {
	display: inline;
	max-width: 5%;
	height: auto;
	width: 100%;
	vertical-align: middle;
}

.complete {
	vertical-align: middle;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: url(../../../images/appeditor/m/right.png) no-repeat center
		center;
	background-size: 60%;
}

/*.re_home{display:block;position:fixed;right:5px;bottom:100px;}*/
.re_home img {
	display: block;
	max-width: 10%;
	height: auto;
	width: 100%;
	position: fixed;
	right: 5px;
	bottom: 120px;
}

form {
	background-color: #fff;
	margin-top: 10px;
}

.slide_ul {
	overflow: hidden;
	border-top: 1px solid #dedede;
}

.slide_ul li {
	padding: 10px 0;
	width: 33%;
	border-right: 1px solid #dedede;;
	border-bottom: 1px solid #dedede;
	float: left;
	text-align: center;
	color: #666;
	font-size: 0.6rem;
}

.slide_ul li:nth-child(3) {
	border-right: none;
}

.slide_ul li:nth-child(6) {
	border-right: none;
}

.all_style {
	width: 94%;
	margin: 0 auto;
	padding-top: 3px;
}

.others {
	width: 60% !important;
	border: 1px solid #ddd !important;
	border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: 5px;
}

.chose_list {
	width: 100%;
	margin: 2% auto;
	font-size: 0.54rem;
	color: #666;
	overflow: hidden;
}

.chose_list li {
	float: left;
	padding: 2% 5%;
}

.chose_on {
	color: #b1193b;
}

.pop_others {
	display: none;
}

.pop_chose {
	width: 94%;
	margin: 4% auto;
	font-size: 0.6rem;
	color: #333;
	border-bottom: 1px solid #ddd;
	padding-bottom: 2%;
}

.country_list {
	width: 100%;
	margin: 2% auto;
	font-size: 0.54rem;
	color: #666;
	height: 260px;
	overflow-y: auto;
}

.country_list li {
	padding: 2% 0 2% 5%;
}

.invest {
	width: 40% !important;
	border: 1px solid #ddd !important;
	border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: 5px;
	margin-right: 15px;
}

.overhidden label {
	line-height: 1.5rem;
	margin-left: 5px;
	font-size: 0.58rem;
	color: #999;
}

.readme {
	width: 100%;
	margin: 5px 0 0 0;
}

.readme .form_sm {
	padding: 11px 0 0 0;
	width: 44%;
	color: #333;
	font-size: 0.66rem;
}

.readme .form_sm .mtips {
	margin: 0px 4px 0 0;
	vertical-align: middle;
	width: 16%;
}

.shade {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	-ms-filter: "alpha(opacity=60)";
	z-index: 1350;
}

.pop_body {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	background-color: #fff;
	border-radius: 8px;
	height: auto;
	z-index: 1400;
	padding-bottom: 20px;
	max-height: 400px;
	overflow: auto;
}

.pop_body p {
	font-size: 0.56rem;
}

.pop_body table {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
}

.pop_inner {
	position: relative;
	width: 94%;
	margin: 20px auto;
}

.pop_close {
	display: none;
	max-width: 8%;
	height: auto;
	width: 100%;
	position: fixed;
	right: 2%;
	z-index: 14400;
}

.img_shade {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	-ms-filter: "alpha(opacity=60)";
	z-index: 1350;
}

.img_pop_body {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	height: auto;
	z-index: 1400;
	padding-bottom: 20px;
	overflow: auto;
}

.img_pop_close {
	display: block;
	max-width: 8%;
	height: auto;
	width: 100%;
	position: fixed;
	right: 2%;
	z-index: 14400;
}

.img_pop_body img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.boxSize1{
	max-height: 96px;
	height: 96px;
}
.boxSize2{
	max-height: 192px;
	height: 192px;
}
.boxSize3{
	max-height: 288px;
	height: 288px;
}