<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZPXBundle.dao.PxJgKsLogTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogT" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="TZ_LOG_INS_ID" property="tzLogInsId" jdbcType="VARCHAR" />
    <result column="TZ_KS_MODIFY_TYPE" property="tzKsModifyType" jdbcType="VARCHAR" />
    <result column="TZ_TIMECARD_BEFORE" property="tzTimecardBefore" jdbcType="INTEGER" />
    <result column="TZ_TIMECARD_AFTER" property="tzTimecardAfter" jdbcType="INTEGER" />
    <result column="TZ_TIMECARD_MODIFY" property="tzTimecardModify" jdbcType="INTEGER" />
    <result column="OPRID" property="oprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, TZ_LOG_INS_ID, TZ_KS_MODIFY_TYPE, TZ_TIMECARD_BEFORE, TZ_TIMECARD_AFTER, 
    TZ_TIMECARD_MODIFY, OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogTKey" >
    select 
    <include refid="Base_Column_List" />
    from px_jg_ks_log_t
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_LOG_INS_ID = #{tzLogInsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogTKey" >
    delete from px_jg_ks_log_t
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_LOG_INS_ID = #{tzLogInsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogT" >
    insert into px_jg_ks_log_t (TZ_JG_ID, TZ_LOG_INS_ID, TZ_KS_MODIFY_TYPE, 
      TZ_TIMECARD_BEFORE, TZ_TIMECARD_AFTER, TZ_TIMECARD_MODIFY, 
      OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
      )
    values (#{tzJgId,jdbcType=VARCHAR}, #{tzLogInsId,jdbcType=VARCHAR}, #{tzKsModifyType,jdbcType=VARCHAR}, 
      #{tzTimecardBefore,jdbcType=INTEGER}, #{tzTimecardAfter,jdbcType=INTEGER}, #{tzTimecardModify,jdbcType=INTEGER}, 
      #{oprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogT" >
    insert into px_jg_ks_log_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzLogInsId != null" >
        TZ_LOG_INS_ID,
      </if>
      <if test="tzKsModifyType != null" >
        TZ_KS_MODIFY_TYPE,
      </if>
      <if test="tzTimecardBefore != null" >
        TZ_TIMECARD_BEFORE,
      </if>
      <if test="tzTimecardAfter != null" >
        TZ_TIMECARD_AFTER,
      </if>
      <if test="tzTimecardModify != null" >
        TZ_TIMECARD_MODIFY,
      </if>
      <if test="oprid != null" >
        OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzLogInsId != null" >
        #{tzLogInsId,jdbcType=VARCHAR},
      </if>
      <if test="tzKsModifyType != null" >
        #{tzKsModifyType,jdbcType=VARCHAR},
      </if>
      <if test="tzTimecardBefore != null" >
        #{tzTimecardBefore,jdbcType=INTEGER},
      </if>
      <if test="tzTimecardAfter != null" >
        #{tzTimecardAfter,jdbcType=INTEGER},
      </if>
      <if test="tzTimecardModify != null" >
        #{tzTimecardModify,jdbcType=INTEGER},
      </if>
      <if test="oprid != null" >
        #{oprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogT" >
    update px_jg_ks_log_t
    <set >
      <if test="tzKsModifyType != null" >
        TZ_KS_MODIFY_TYPE = #{tzKsModifyType,jdbcType=VARCHAR},
      </if>
      <if test="tzTimecardBefore != null" >
        TZ_TIMECARD_BEFORE = #{tzTimecardBefore,jdbcType=INTEGER},
      </if>
      <if test="tzTimecardAfter != null" >
        TZ_TIMECARD_AFTER = #{tzTimecardAfter,jdbcType=INTEGER},
      </if>
      <if test="tzTimecardModify != null" >
        TZ_TIMECARD_MODIFY = #{tzTimecardModify,jdbcType=INTEGER},
      </if>
      <if test="oprid != null" >
        OPRID = #{oprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_LOG_INS_ID = #{tzLogInsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZPXBundle.model.PxJgKsLogT" >
    update px_jg_ks_log_t
    set TZ_KS_MODIFY_TYPE = #{tzKsModifyType,jdbcType=VARCHAR},
      TZ_TIMECARD_BEFORE = #{tzTimecardBefore,jdbcType=INTEGER},
      TZ_TIMECARD_AFTER = #{tzTimecardAfter,jdbcType=INTEGER},
      TZ_TIMECARD_MODIFY = #{tzTimecardModify,jdbcType=INTEGER},
      OPRID = #{oprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_LOG_INS_ID = #{tzLogInsId,jdbcType=VARCHAR}
  </update>
</mapper>