<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZPXBundle.dao.PxStudentTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZPXBundle.model.PxStudentT" >
    <id column="OPRID" property="oprid" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="PHOTO_SYSFILENAME" property="photoSysfilename" jdbcType="VARCHAR" />
    <result column="TZ_FILE_PATH" property="tzFilePath" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="INTEGER" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
    <result column="CONTACT_ADDRESS" property="contactAddress" jdbcType="VARCHAR" />
    <result column="TIMECARD_REMAIND" property="timecardRemaind" jdbcType="INTEGER" />
    <result column="TIMECARD_USED" property="timecardUsed" jdbcType="INTEGER" />
    <result column="STU_STATUS" property="stuStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPRID, TZ_JG_ID, PHOTO_SYSFILENAME, TZ_FILE_PATH, SEX, AGE, QQ, PHONE, EMAIL, CONTACT, 
    CONTACT_PHONE, CONTACT_ADDRESS, TIMECARD_REMAIND, TIMECARD_USED, STU_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PX_STUDENT_T
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PX_STUDENT_T
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZPXBundle.model.PxStudentT" >
    insert into PX_STUDENT_T (OPRID, TZ_JG_ID, PHOTO_SYSFILENAME, 
      TZ_FILE_PATH, SEX, AGE, 
      QQ, PHONE, EMAIL, CONTACT, 
      CONTACT_PHONE, CONTACT_ADDRESS, TIMECARD_REMAIND, 
      TIMECARD_USED, STU_STATUS)
    values (#{oprid,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, #{photoSysfilename,jdbcType=VARCHAR}, 
      #{tzFilePath,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{qq,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, #{timecardRemaind,jdbcType=INTEGER}, 
      #{timecardUsed,jdbcType=INTEGER}, #{stuStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZPXBundle.model.PxStudentT" >
    insert into PX_STUDENT_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oprid != null" >
        OPRID,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="photoSysfilename != null" >
        PHOTO_SYSFILENAME,
      </if>
      <if test="tzFilePath != null" >
        TZ_FILE_PATH,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE,
      </if>
      <if test="contactAddress != null" >
        CONTACT_ADDRESS,
      </if>
      <if test="timecardRemaind != null" >
        TIMECARD_REMAIND,
      </if>
      <if test="timecardUsed != null" >
        TIMECARD_USED,
      </if>
      <if test="stuStatus != null" >
        STU_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oprid != null" >
        #{oprid,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="photoSysfilename != null" >
        #{photoSysfilename,jdbcType=VARCHAR},
      </if>
      <if test="tzFilePath != null" >
        #{tzFilePath,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="timecardRemaind != null" >
        #{timecardRemaind,jdbcType=INTEGER},
      </if>
      <if test="timecardUsed != null" >
        #{timecardUsed,jdbcType=INTEGER},
      </if>
      <if test="stuStatus != null" >
        #{stuStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZPXBundle.model.PxStudentT" >
    update PX_STUDENT_T
    <set >
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="photoSysfilename != null" >
        PHOTO_SYSFILENAME = #{photoSysfilename,jdbcType=VARCHAR},
      </if>
      <if test="tzFilePath != null" >
        TZ_FILE_PATH = #{tzFilePath,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=INTEGER},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        CONTACT_ADDRESS = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="timecardRemaind != null" >
        TIMECARD_REMAIND = #{timecardRemaind,jdbcType=INTEGER},
      </if>
      <if test="timecardUsed != null" >
        TIMECARD_USED = #{timecardUsed,jdbcType=INTEGER},
      </if>
      <if test="stuStatus != null" >
        STU_STATUS = #{stuStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZPXBundle.model.PxStudentT" >
    update PX_STUDENT_T
    set TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      PHOTO_SYSFILENAME = #{photoSysfilename,jdbcType=VARCHAR},
      TZ_FILE_PATH = #{tzFilePath,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=INTEGER},
      QQ = #{qq,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      CONTACT_ADDRESS = #{contactAddress,jdbcType=VARCHAR},
      TIMECARD_REMAIND = #{timecardRemaind,jdbcType=INTEGER},
      TIMECARD_USED = #{timecardUsed,jdbcType=INTEGER},
      STU_STATUS = #{stuStatus,jdbcType=VARCHAR}
    where OPRID = #{oprid,jdbcType=VARCHAR}
  </update>
</mapper>