<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZEmailSmsQFBundle.dao.PsTzDxyjqaudTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZEmailSmsQFBundle.model.PsTzDxyjqaudTKey" >
    <id column="TZ_MLSM_QFPC_ID" property="tzMlsmQfpcId" jdbcType="VARCHAR" />
    <id column="TZ_AUDIENCE_ID" property="tzAudienceId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZEmailSmsQFBundle.model.PsTzDxyjqaudTKey" >
    delete from PS_TZ_DXYJQAUD_T
    where TZ_MLSM_QFPC_ID = #{tzMlsmQfpcId,jdbcType=VARCHAR}
      and TZ_AUDIENCE_ID = #{tzAudienceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZEmailSmsQFBundle.model.PsTzDxyjqaudTKey" >
    insert into PS_TZ_DXYJQAUD_T (TZ_MLSM_QFPC_ID, TZ_AUDIENCE_ID)
    values (#{tzMlsmQfpcId,jdbcType=VARCHAR}, #{tzAudienceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZEmailSmsQFBundle.model.PsTzDxyjqaudTKey" >
    insert into PS_TZ_DXYJQAUD_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzMlsmQfpcId != null" >
        TZ_MLSM_QFPC_ID,
      </if>
      <if test="tzAudienceId != null" >
        TZ_AUDIENCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzMlsmQfpcId != null" >
        #{tzMlsmQfpcId,jdbcType=VARCHAR},
      </if>
      <if test="tzAudienceId != null" >
        #{tzAudienceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>