	body{
		/*font-size:12px*/
	}
		.assdiv{
			position:relative;
		}
		.baracts{
			position: absolute;
			z-index: 363;
			top: 0;
			right: 1px;
			width: 100%;
			text-align: right;
			height: 100%;
			cursor: pointer;
			border-width: 1px; 
			background-color: rgba(192,222,237,.5); 
			background-color: #c0deed\0/; 
			*background-color:#c0deed;
			filter: alpha(opacity = 80)\0/; 
			*filter:alpha(opacity = 80);
		}
		.baracts a{
			display: inline-block;
			padding: 0;
			margin-top: 1px;
			margin-left: -1px;
			background: url(../../images/website/decorate/ds-edit.gif?5) no-repeat 0 0;
			height: 21px;
			vertical-align: top;
			text-decoration: none;
		}
		
 .baracts .bbars {bottom: 1px;position: absolute;right: 0;_right: -1px;}
	   .baracts .ds-bar-edit {
		width: 49px;
		margin-left: 0;
	   }
       .baracts .ds-bar-movedown {
		width: 21px;
		height: 21px;
	   }

 .baracts .ds-bar-edit { width: 49px; margin-left: 0 }
 .baracts .ds-bar-edit-false { cursor: no-drop; }
 .baracts .ds-bar-edit:hover { width: 49px; background-position: 0 -22px; }
 .baracts .ds-bar-moveup, .baracts .ds-bar-movedown { width: 21px; height: 21px; }
 .baracts .ds-bar-moveup { background-position: -50px 0; }
 .baracts .ds-bar-moveup-false { cursor: no-drop; }
 .baracts .ds-bar-moveup:hover { background-position: -50px -22px; }
 .baracts .ds-bar-movedown { background-position: -72px 0; }
 .baracts .ds-bar-movedown-false { cursor: no-drop; }
 .baracts .ds-bar-movedown:hover { background-position: -72px -22px; }
 .baracts .ds-bar-del { background-position: -138px 0; width: 46px; }
 .baracts .ds-bar-del-false { cursor: no-drop; }
 .baracts .ds-bar-del:hover { background-position: -138px -22px }
 .baracts .ds-bar-copy {background-position: -185px 0;width: 75px;margin-left: 0;}
 .baracts .ds-bar-copy-false { cursor: no-drop; }
 .baracts .ds-bar-copy:hover { background-position: -185px -22px; }		
 .baracts .ds-bar-add { background-position: -261px 0; width: 70px }
 .baracts .ds-bar-add-false { cursor: no-drop; }
 .baracts .ds-bar-add:hover { background-position: -261px -22px; }
/*
.mid_right_contact_content2 {
    font-size: 12px;
    height: 33px;
    line-height: 17px;
    margin-left: 30px;
    overflow: hidden;
    text-align: left;
    width: 270px;
}
*/

#sdkbar .sdk-page-nav{
	/*padding-left:15px;*/
	list-style:none;
}
#sdkbar .sdk-page-nav{
    float: left;	
}
#sdkbar .sdk-page-nav li {
	float: left;
	height: 30px;
    line-height: 30px;
	border: 1px solid #505358;
	background-color:#505358;
	color:#fff;
	margin-top:7px;
	border-radius:2px;
	cursor:pointer;
	margin-left:15px;
}
#sdkbar .sdk-page-nav li.moon {
	border: 1px solid #fff;
}
#sdkbar .sdk-page-nav li a, #sdkbar .sdk-theme-btn a, #sdkbar .sdk-confirm li.mytheme a.mytheme-btn, #sdkbar .sdk-confirm li.preview1 a, #sdkbar .sdk-confirm li.release1 a, #sdkbar .sdk-confirm li.save1 a, #sdkbar .sdk-global-btn a {
	display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    overflow: hidden;
    text-decoration: none;
}
#sdkbar .sdk-page-nav li.page-dropdown {
	margin-left:10px;
	background: url(../../images/website/decorate/nav-arrow-down.png) no-repeat center right;
	background-position: 70px;
	background-color:#505358;
	width:93px;
}
#sdkbar .sdk-page-nav li.page-moon {
	background: url(../../images/website/decorate/nav-arrow-up.png) no-repeat center right;
	background-position: 70px;
	background-color:#505358;
}
#sdkbar .sdk-page-nav li a:link,
#sdkbar .sdk-page-nav li a:visited,
#sdkbar .sdk-page-nav li a:hover {
	color:#fff;
}
#sdkbar .sdk-page-nav li ul {
	display:none;z-index:999;
}
#sdkbar .sdk-page-nav li.moon ul {
	display:block;
}
#sdkbar .sdk-page-nav li ul li {
	display:block;float:none;height:30px;position:relative;line-height:30px;overflow:hidden;margin:0; border-radius:0;
	border: 1px solid #fff;
	border-top: none;
	width:93px;
	left:-1px;
	top:-1px;
}
#sdkbar .sdk-page-nav li ul li.mid {
	border-bottom:none;
}
#sdkbar .sdk-page-nav li ul li a{
	color:#ddd;
}
#sdkbar .sdk-page-nav li ul li a:link,
#sdkbar .sdk-page-nav li ul li a:visited{
	color:#ddd;
}
#sdkbar .sdk-page-nav li ul li a:hover{
	color:#fff;
}

/*
#sdkbar, #sdkbar .sdk-confirm li.preview1 a, #sdkbar .sdk-confirm li.release1 a, #sdkbar .sdk-confirm li.save1 a { background-image: url(../../images/website/decorate/sdkbar.gif); background-repeat: no-repeat }
*/

#sdkbar { position: fixed; _position: fixed; z-index: 11001; top: 0; _top: expression(documentElement.scrollTop);
left: 0; width: 100%; height: 46px; background-color: #2c2c2c; zoom: 1; -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.3); -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3) ;display:block}

.header-mt46{margin-top:46px;}

 #sdkbar .sdk-confirm li.preview1 a, #sdkbar .sdk-confirm li.release1 a, #sdkbar .sdk-confirm li.save1 a { display: block; height: 32px; margin-top: 7px; font-size: 14px; line-height: 32px; text-decoration: none; overflow: hidden }

#sdkbar .sdk-confirm { float: right; _display: inline; list-style:none; }
#sdkbar .sdk-confirm li { display: inline-block; *display:inline;*zoom:1;vertical-align: top; margin: 0 10px 0 0;  }
#sdkbar .sdk-confirm li a {  padding: 0 10px 0 34px; color:#fff; border-radius:2px; }
#sdkbar .sdk-confirm li.preview1 a { background: url(../../images/website/decorate/nav-preview.png) no-repeat 10px center; background-color:#666; margin:7px 0 0 0;  }
#sdkbar .sdk-confirm li.preview1 a:hover { background-color:#505358; zoom: 1; color:#fff; }
#sdkbar .sdk-confirm li.save1 a { background: url(../../images/website/decorate/nav-save.png) no-repeat 10px center; background-color:#50a532; margin:7px 0 0 0; }
#sdkbar .sdk-confirm li.save1 a:hover { background-color:#2f821a; zoom: 1; color:#fff; }
#sdkbar .sdk-confirm li.release1 a { background: url(../../images/website/decorate/nav-release.png) no-repeat 10px center; background-color:#2496d2; margin:7px 0 0 0; }
#sdkbar .sdk-confirm li.release1 a:hover { background-color:#1171dc; zoom: 1; color:#fff; }


 .x-grid-cell-topic b {
            display: block;
        }
        .x-grid-cell-topic .x-grid-cell-inner {
			height:50px;
			overflow:hidden;
            white-space: normal;
			
        }
        .x-grid-cell-topic a {
            color: #385F95;
            text-decoration: none;
        }
        .x-grid-cell-topic a:hover {
            text-decoration:underline;
        }
		.x-grid-cell-topic .x-grid-cell-innerf {
			padding: 5px;
		}
		.x-grid-rowbody {
	        padding: 0 5px 5px 5px;
		}
.x-action-col-icon{
	margin-top:20px;
    margin-left:35px;
}
.x-tree-node-text{
	cursor:pointer;
}
