<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZConfigurableSearchMgBundle.dao.PsTzFltdstRoleTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleT" >
    <id column="TZ_COM_ID" property="tzComId" jdbcType="VARCHAR" />
    <id column="TZ_PAGE_ID" property="tzPageId" jdbcType="VARCHAR" />
    <id column="TZ_VIEW_NAME" property="tzViewName" jdbcType="VARCHAR" />
    <id column="TZ_FLTDST_ORDER" property="tzFltdstOrder" jdbcType="INTEGER" />
    <id column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="DESCR" property="descr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_COM_ID, TZ_PAGE_ID, TZ_VIEW_NAME, TZ_FLTDST_ORDER, ROLENAME, DESCR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_FLTDST_ROLE_T
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FLTDST_ORDER = #{tzFltdstOrder,jdbcType=INTEGER}
      and ROLENAME = #{rolename,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleTKey" >
    delete from PS_TZ_FLTDST_ROLE_T
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FLTDST_ORDER = #{tzFltdstOrder,jdbcType=INTEGER}
      and ROLENAME = #{rolename,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleT" >
    insert into PS_TZ_FLTDST_ROLE_T (TZ_COM_ID, TZ_PAGE_ID, TZ_VIEW_NAME, 
      TZ_FLTDST_ORDER, ROLENAME, DESCR
      )
    values (#{tzComId,jdbcType=VARCHAR}, #{tzPageId,jdbcType=VARCHAR}, #{tzViewName,jdbcType=VARCHAR}, 
      #{tzFltdstOrder,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleT" >
    insert into PS_TZ_FLTDST_ROLE_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzComId != null" >
        TZ_COM_ID,
      </if>
      <if test="tzPageId != null" >
        TZ_PAGE_ID,
      </if>
      <if test="tzViewName != null" >
        TZ_VIEW_NAME,
      </if>
      <if test="tzFltdstOrder != null" >
        TZ_FLTDST_ORDER,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
      <if test="descr != null" >
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzComId != null" >
        #{tzComId,jdbcType=VARCHAR},
      </if>
      <if test="tzPageId != null" >
        #{tzPageId,jdbcType=VARCHAR},
      </if>
      <if test="tzViewName != null" >
        #{tzViewName,jdbcType=VARCHAR},
      </if>
      <if test="tzFltdstOrder != null" >
        #{tzFltdstOrder,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleT" >
    update PS_TZ_FLTDST_ROLE_T
    <set >
      <if test="descr != null" >
        DESCR = #{descr,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FLTDST_ORDER = #{tzFltdstOrder,jdbcType=INTEGER}
      and ROLENAME = #{rolename,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFltdstRoleT" >
    update PS_TZ_FLTDST_ROLE_T
    set DESCR = #{descr,jdbcType=VARCHAR}
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FLTDST_ORDER = #{tzFltdstOrder,jdbcType=INTEGER}
      and ROLENAME = #{rolename,jdbcType=VARCHAR}
  </update>
</mapper>