<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZConfigurableSearchMgBundle.dao.PsTzFilterYsfTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfT" >
    <id column="TZ_COM_ID" property="tzComId" jdbcType="VARCHAR" />
    <id column="TZ_PAGE_ID" property="tzPageId" jdbcType="VARCHAR" />
    <id column="TZ_VIEW_NAME" property="tzViewName" jdbcType="VARCHAR" />
    <id column="TZ_FILTER_FLD" property="tzFilterFld" jdbcType="VARCHAR" />
    <id column="TZ_FILTER_YSF" property="tzFilterYsf" jdbcType="VARCHAR" />
    <result column="TZ_FILTER_BDY_QY" property="tzFilterBdyQy" jdbcType="VARCHAR" />
    <result column="TZ_IS_DEF_OPRT" property="tzIsDefOprt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_COM_ID, TZ_PAGE_ID, TZ_VIEW_NAME, TZ_FILTER_FLD, TZ_FILTER_YSF, TZ_FILTER_BDY_QY, 
    TZ_IS_DEF_OPRT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_FILTER_YSF_T
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FILTER_FLD = #{tzFilterFld,jdbcType=VARCHAR}
      and TZ_FILTER_YSF = #{tzFilterYsf,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfTKey" >
    delete from PS_TZ_FILTER_YSF_T
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FILTER_FLD = #{tzFilterFld,jdbcType=VARCHAR}
      and TZ_FILTER_YSF = #{tzFilterYsf,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfT" >
    insert into PS_TZ_FILTER_YSF_T (TZ_COM_ID, TZ_PAGE_ID, TZ_VIEW_NAME, 
      TZ_FILTER_FLD, TZ_FILTER_YSF, TZ_FILTER_BDY_QY, 
      TZ_IS_DEF_OPRT)
    values (#{tzComId,jdbcType=VARCHAR}, #{tzPageId,jdbcType=VARCHAR}, #{tzViewName,jdbcType=VARCHAR}, 
      #{tzFilterFld,jdbcType=VARCHAR}, #{tzFilterYsf,jdbcType=VARCHAR}, #{tzFilterBdyQy,jdbcType=VARCHAR}, 
      #{tzIsDefOprt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfT" >
    insert into PS_TZ_FILTER_YSF_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzComId != null" >
        TZ_COM_ID,
      </if>
      <if test="tzPageId != null" >
        TZ_PAGE_ID,
      </if>
      <if test="tzViewName != null" >
        TZ_VIEW_NAME,
      </if>
      <if test="tzFilterFld != null" >
        TZ_FILTER_FLD,
      </if>
      <if test="tzFilterYsf != null" >
        TZ_FILTER_YSF,
      </if>
      <if test="tzFilterBdyQy != null" >
        TZ_FILTER_BDY_QY,
      </if>
      <if test="tzIsDefOprt != null" >
        TZ_IS_DEF_OPRT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzComId != null" >
        #{tzComId,jdbcType=VARCHAR},
      </if>
      <if test="tzPageId != null" >
        #{tzPageId,jdbcType=VARCHAR},
      </if>
      <if test="tzViewName != null" >
        #{tzViewName,jdbcType=VARCHAR},
      </if>
      <if test="tzFilterFld != null" >
        #{tzFilterFld,jdbcType=VARCHAR},
      </if>
      <if test="tzFilterYsf != null" >
        #{tzFilterYsf,jdbcType=VARCHAR},
      </if>
      <if test="tzFilterBdyQy != null" >
        #{tzFilterBdyQy,jdbcType=VARCHAR},
      </if>
      <if test="tzIsDefOprt != null" >
        #{tzIsDefOprt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfT" >
    update PS_TZ_FILTER_YSF_T
    <set >
      <if test="tzFilterBdyQy != null" >
        TZ_FILTER_BDY_QY = #{tzFilterBdyQy,jdbcType=VARCHAR},
      </if>
      <if test="tzIsDefOprt != null" >
        TZ_IS_DEF_OPRT = #{tzIsDefOprt,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FILTER_FLD = #{tzFilterFld,jdbcType=VARCHAR}
      and TZ_FILTER_YSF = #{tzFilterYsf,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterYsfT" >
    update PS_TZ_FILTER_YSF_T
    set TZ_FILTER_BDY_QY = #{tzFilterBdyQy,jdbcType=VARCHAR},
      TZ_IS_DEF_OPRT = #{tzIsDefOprt,jdbcType=VARCHAR}
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
      and TZ_FILTER_FLD = #{tzFilterFld,jdbcType=VARCHAR}
      and TZ_FILTER_YSF = #{tzFilterYsf,jdbcType=VARCHAR}
  </update>
</mapper>