<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZConfigurableSearchMgBundle.dao.PsTzFilterDfnTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" >
    <id column="TZ_COM_ID" property="tzComId" jdbcType="VARCHAR" />
    <id column="TZ_PAGE_ID" property="tzPageId" jdbcType="VARCHAR" />
    <id column="TZ_VIEW_NAME" property="tzViewName" jdbcType="VARCHAR" />
    <result column="TZ_ADVANCE_MODEL" property="tzAdvanceModel" jdbcType="VARCHAR" />
    <result column="TZ_BASE_SCH_EDIT" property="tzBaseSchEdit" jdbcType="VARCHAR" />
    <result column="TZ_RESULT_MAX_NUM" property="tzResultMaxNum" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" extends="BaseResultMap" >
    <result column="TZ_CFG_V_SQL" property="tzCfgVSql" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_COM_ID, TZ_PAGE_ID, TZ_VIEW_NAME, TZ_ADVANCE_MODEL, TZ_BASE_SCH_EDIT, TZ_RESULT_MAX_NUM
  </sql>
  <sql id="Blob_Column_List" >
    TZ_CFG_V_SQL
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnTKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_FILTER_DFN_T
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnTKey" >
    delete from PS_TZ_FILTER_DFN_T
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" >
    insert into PS_TZ_FILTER_DFN_T (TZ_COM_ID, TZ_PAGE_ID, TZ_VIEW_NAME, 
      TZ_ADVANCE_MODEL, TZ_BASE_SCH_EDIT, TZ_RESULT_MAX_NUM, 
      TZ_CFG_V_SQL)
    values (#{tzComId,jdbcType=VARCHAR}, #{tzPageId,jdbcType=VARCHAR}, #{tzViewName,jdbcType=VARCHAR}, 
      #{tzAdvanceModel,jdbcType=VARCHAR}, #{tzBaseSchEdit,jdbcType=VARCHAR}, #{tzResultMaxNum,jdbcType=INTEGER}, 
      #{tzCfgVSql,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" >
    insert into PS_TZ_FILTER_DFN_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzComId != null" >
        TZ_COM_ID,
      </if>
      <if test="tzPageId != null" >
        TZ_PAGE_ID,
      </if>
      <if test="tzViewName != null" >
        TZ_VIEW_NAME,
      </if>
      <if test="tzAdvanceModel != null" >
        TZ_ADVANCE_MODEL,
      </if>
      <if test="tzBaseSchEdit != null" >
        TZ_BASE_SCH_EDIT,
      </if>
      <if test="tzResultMaxNum != null" >
        TZ_RESULT_MAX_NUM,
      </if>
      <if test="tzCfgVSql != null" >
        TZ_CFG_V_SQL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzComId != null" >
        #{tzComId,jdbcType=VARCHAR},
      </if>
      <if test="tzPageId != null" >
        #{tzPageId,jdbcType=VARCHAR},
      </if>
      <if test="tzViewName != null" >
        #{tzViewName,jdbcType=VARCHAR},
      </if>
      <if test="tzAdvanceModel != null" >
        #{tzAdvanceModel,jdbcType=VARCHAR},
      </if>
      <if test="tzBaseSchEdit != null" >
        #{tzBaseSchEdit,jdbcType=VARCHAR},
      </if>
      <if test="tzResultMaxNum != null" >
        #{tzResultMaxNum,jdbcType=INTEGER},
      </if>
      <if test="tzCfgVSql != null" >
        #{tzCfgVSql,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" >
    update PS_TZ_FILTER_DFN_T
    <set >
      <if test="tzAdvanceModel != null" >
        TZ_ADVANCE_MODEL = #{tzAdvanceModel,jdbcType=VARCHAR},
      </if>
      <if test="tzBaseSchEdit != null" >
        TZ_BASE_SCH_EDIT = #{tzBaseSchEdit,jdbcType=VARCHAR},
      </if>
      <if test="tzResultMaxNum != null" >
        TZ_RESULT_MAX_NUM = #{tzResultMaxNum,jdbcType=INTEGER},
      </if>
      <if test="tzCfgVSql != null" >
        TZ_CFG_V_SQL = #{tzCfgVSql,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" >
    update PS_TZ_FILTER_DFN_T
    set TZ_ADVANCE_MODEL = #{tzAdvanceModel,jdbcType=VARCHAR},
      TZ_BASE_SCH_EDIT = #{tzBaseSchEdit,jdbcType=VARCHAR},
      TZ_RESULT_MAX_NUM = #{tzResultMaxNum,jdbcType=INTEGER},
      TZ_CFG_V_SQL = #{tzCfgVSql,jdbcType=LONGVARCHAR}
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZConfigurableSearchMgBundle.model.PsTzFilterDfnT" >
    update PS_TZ_FILTER_DFN_T
    set TZ_ADVANCE_MODEL = #{tzAdvanceModel,jdbcType=VARCHAR},
      TZ_BASE_SCH_EDIT = #{tzBaseSchEdit,jdbcType=VARCHAR},
      TZ_RESULT_MAX_NUM = #{tzResultMaxNum,jdbcType=INTEGER}
    where TZ_COM_ID = #{tzComId,jdbcType=VARCHAR}
      and TZ_PAGE_ID = #{tzPageId,jdbcType=VARCHAR}
      and TZ_VIEW_NAME = #{tzViewName,jdbcType=VARCHAR}
  </update>
</mapper>